<form role="form" name="form" >
   	
	<div class="panel panel-default" ng-show="!isLoadingSearch()" >
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>{{ 'search_for_comp' | i18n }}</strong></h3>
  		</div>
  		<div class="panel-body">
			<table width="100%">
				<tr>			
		   			<td width="30%">
		   				<label for="name_search">{{ 'opt_ric_name_search' | i18n }}:</label>&nbsp;
    					<input type="radio" ng-model="searchType" value="name" id="name_search">
		   			</td>
		   			<td width="35%" align="center">
		   				<label for="cod_search">{{ 'opt_ric_code_search' | i18n }}:</label>&nbsp;
    					<input type="radio" ng-model="searchType" value="cod_fis" id="cod_search">
		   			</td>
		   			<td width="5%">
		   			</td>
		   			<td width="15%">
		   			</td>
		   			<td width="15%">
		   			</td>
		   		</tr>
		   		<tr>
		   			<td colspan="5">
		   				<hr>
		   			</td>
		   		</tr>	
				<tr ng-show="searchType=='name'">			
		   			<td colspan="2" width="65%">
		   				<label for="prac_code">{{ 'comp_name_search' | i18n }}:</label>&nbsp;
    					<input type="text" class="form-control" id="prac_code" name="pCompName" placeholder="{{ 'compname_search_placeholder' | i18n }}" ng-model="search.ricname" ng-pattern="textPattern" ng-required="searchType=='name'" >
		   			</td>
		   			<td width="5%">
		   			</td>
		   			<td width="15%" align="center" valign="bottom">
		   				<button type="button" class="btn btn-primary" ng-click="startSearch('ric_1',form.$invalid)">{{ 'start_search' | i18n }}</button>
		   			</td>
		   			<td width="15%" align="right" valign="bottom">
		   				<button type="button" class="btn btn-default" ng-click="clerSearch()">{{ 'clear_search' | i18n }}</button>
		   			</td>
		   		</tr>
		   		<tr ng-show="searchType=='cod_fis'">			
		   			<td colspan="2" width="65%">
		   				<label for="prac_code">{{ 'comp_code_search' | i18n }}:</label>&nbsp;
    					<input type="text" class="form-control" id="prac_code" name="pCompCode" placeholder="{{ 'compcode_search_placeholder' | i18n }}" ng-model="search.riccode" ng-pattern="taxcodePattern" ng-required="searchType=='cod_fis'" >
		   			</td>
		   			<td width="5%">
		   			</td>
		   			<td width="15%" align="center" valign="bottom">
		   				<button type="button" class="btn btn-primary" ng-click="startSearch('ric_2',form.$invalid)">{{ 'start_search' | i18n }}</button>
		   			</td>
		   			<td width="15%" align="right" valign="bottom">
		   				<button type="button" class="btn btn-default" ng-click="clerSearch()">{{ 'clear_search' | i18n }}</button>
		   			</td>
		   		</tr>
		   		<tr>
		   			<td colspan="2">&nbsp;
		   				<div class="alert alert-danger" ng-show="!initForm() && (searchType=='name') && form.pCompName.$error.required">{{ 'ric_name_required' | i18n }}.</div>
   						<div class="alert alert-danger" ng-show="!initForm() && (searchType=='name') && form.pCompName.$error.pattern">{{ 'ric_name_pattern' | i18n }}.</div>
		   				<div class="alert alert-danger" ng-show="!initForm() && (searchType=='cod_fis') && form.pCompCode.$error.required">{{ 'ric_code_required' | i18n }}.</div>
   						<div class="alert alert-danger" ng-show="!initForm() && (searchType=='cod_fis') && form.pCompCode.$error.pattern">{{ 'ric_code_pattern' | i18n }}.</div>
   					</td>
		   		</tr>
		   		<tr>
		   			<td colspan="2">&nbsp;</td>
		   		</tr>
   			</table>
   			<div ng-show="isSearchConcluded() && isPracticeFind">
   				<tabset ng-show="!isLoading">
					<tab  ng-repeat="tab in resultTabs" heading="{{ tab.title }}" active="tab.active" disabled="tab.disabled" select="setResultIndex($index)">
						<br>
						<div ng-include="tab.content"></div>
					</tab>
				</tabset>	
   			</div>
   			<table width="100%" ng-show="isSearchConcluded() && !isPracticeFind">
				<tr>			
		   			<td><strong>{{ 'no_practice_found' | i18n }}</strong></td>
		   		</tr>
   			</table>
		</div>
   	</div>
   	<div class="panel panel-default" ng-show="isLoadingSearch()">
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>{{ 'search_for_code' | i18n }}</strong></h3>
  		</div>
  		<div class="panel-body">
  			<div class="row" style="height: 90px; margin-top: 20px">
				<div style="text-align: center">
					<img src="img/ajax-loader.gif" width="40" height="40" /><br>
					<h3>{{ 'loading_text' | i18n }}</h3>
				</div>
			</div>
  		</div>
  	</div>
	
<!-- 	<table width="100%"> -->
<!-- 		<tr>			 -->
<!--    			<td><button type="button" class="btn btn-default" ng-click="prevTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td> -->
<!--    			<td align="center"></td> -->
<!--    			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextTab(form.$invalid, 6, null, null, null, null)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td> -->
<!--    		</tr> -->
<!--    	</table>	 -->
</form>