<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email with attachment</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{greeting(${name})}">
            Gentile Peter Static,
        </p>
        
<!--         <p th:text="#{text(${text})}"> -->
<!--             Testo dinamico mail -->
<!--         </p> -->
        
        <p>
            desideriamo comunicarti che la <span tn:text="#{practice_id(${practice_id})}">domanda di edilizia abitativa</span>
        	<b>è rientrata nella graduatori provvisoria</b> alla posizione <b><span th:text="#{position(${position})}">x </span></b>.<br/>
        	Alla tua domanda di contriuto è infatti stato assegnato un punteggio di <b><span th:text="#{score(${score})}"> xxx </span></b> punti.
        </p>
        
<!--         <p th:if="${name.length() gt 10}"> -->
<!--             Wow! You've got a long name (more than 10 chars)! -->
<!--         </p> -->
<!--         <p> -->
<!--             You have been successfully subscribed to the <b>Fake newsletter</b> on -->
<!--             <span th:text="${#dates.format(subscriptionDate)}">28-12-2012</span> -->
<!--         </p> -->
<!--         <p>Your hobbies are:</p> -->
<!--         <ul th:remove="all-but-first"> -->
<!--             <li th:each="hobby : ${hobbies}" th:text="${hobby}">Reading</li> -->
<!--             <li>Writing</li> -->
<!--             <li>Bowling</li> -->
<!--         </ul> -->
        <p>
            In allegato il documento con il risultato della <b>graduatoria</b>.
        </p>
        <p>
            Distinti Saluti, <br />
            &emsp; <em>La comunità di valle della Vallagarina</em>
        </p>
    </body>
</html>
