<div class="well">
<!-- 	<div class="tab_menu" ng-model="tabs.index" bs-tabs> -->
<!-- 		<div ng-repeat="tab in tabs" data-title="{{tab}}"></div> -->
<!-- 	</div> -->
<!-- 	<div ng-show="tabs.active() == 'Practices'"> -->
<!-- 	ng-controller="filtro2Controller" -->
		<div class="container-fluid" ng-init="getPracticesWS()" align="{{ getUrduAlign() }}">
			<tabset>
				<tab  ng-repeat="ltab in hListTabs" heading="{{ ltab.title | i18n }}" active="ltab.active" disabled="ltab.disabled"  select="setHListIndex($index)">
					<br>
					<div ng-include="ltab.content"></div>
				</tab>
			</tabset>
		</div>
<!-- 	</div> -->
</div>