<div class="well">
<!-- 	<div class="tab_menu" ng-model="tabs.index" bs-tabs> -->
<!-- 		<div ng-repeat="tab in tabs" data-title="{{tab}}"></div> -->
<!-- 	</div> -->
<!-- 	<div ng-show="tabs.active() == 'Practices'"> -->
<!-- 	ng-controller="filtro2Controller" -->
		<div class="container"
			style="text-align: center; padding-top: 2%;">
			<div class="row">
				<div class="col-md-8">
					<h3>{{ 'home_title-recent_practices' | i18n }}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					{{ 'home_filter_label' | i18n }} : <input type="search" ng-model="q"
						placeholder="{{ 'filter_text' | i18n }}" />
				</div>
				<br>
			</div>
			<div class="row" ><!-- ng-init="getPracticesEpu()" -->
				<br>
				<div class="col-md-8"
					ng-init="getPracticesWS()" ng-show="!isLoadingPractice"><!-- ng-show="practiceLoaded" getPracticesWS() -->
					<table class="table" style="width: 98%">
						<tr>
							<th></th>
							<th>{{ 'practice_code' | i18n }}</th>
							<th>{{ 'practice_title' | i18n }}</th>
							<th>Stato</th><!-- {{ 'practice_type' | i18n }} -->
							<th>{{ 'practice_opening_date' | i18n }}</th>
							<th>{{ 'practice_operations' | i18n }}</th>
						</tr>
						<tbody class="animate-repeat"
							ng-repeat="p in practicesWS | filter:q | orderBy:'-dataPresentazione' | startFrom:currentPage*maxPractices | limitTo:maxPractices">
<!-- 							ng-repeat="p in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
<!-- 							<tr> -->
<!-- 								<td><i class="icon-minus"></i></td> -->
<!-- 								<td>{{practice.identificativo}}</td> -->
<!-- 								<td>{{practice.edizioneFinanziata.edizione.strumento.descrizione}}</td> -->
<!-- 								<td> --> 
<!--  									<dev ng-show = "practice.type == 1" >{{ 'housing_type' | i18n }}</dev> -->
<!--  									<dev ng-show = "practice.type == 2">{{ 'allowances_type' | i18n }}</dev> -->
<!-- 								</td> --> 
<!-- 								<td>{{ practice.edizioneFinanziata.categoria }}</td> -->
<!-- 								<td>{{(practice.dataPresentazione | date:"dd/MM/yyyy")}}</td> -->
<!-- 								<td><a href="#/Practice/{{practice.idObj}}" >{{ 'practice_view' | i18n }}</a></td> -->
<!-- 							</tr> -->
							<tr>
								<td><i class="icon-minus"></i></td>
								<td>{{ p.identificativo }}</td>
								<td>{{ p.edizioneFinanziata.edizione.strumento.descrizione }}</td>
<!-- 								<td> -->
<!-- 									<dev ng-show = "p.type == 1" >{{ 'housing_type' | i18n }}</dev> -->
<!-- 									<dev ng-show = "p.type == 2">{{ 'allowances_type' | i18n }}</dev> -->
<!-- 								</td> -->
								<td>{{ p.statoDomanda }}</td>
								<td>{{( p.dataPresentazione | date:"dd/MM/yyyy")}}</td>
								<td><a href="#/Practice/view/{{ p.idObj }}" ng-click="setViewTabs()" >{{ 'practice_view' | i18n }}</a></td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary"
							ng-disabled="currentPage == 0"
							ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
						{{currentPage+1}}/{{numberOfPages()}}
					<button class="btn btn-primary"
							ng-disabled="currentPage >= practicesWS.length/maxPractices - 1"
							ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
				</div>
				<div class="col-md-8" ng-show="isLoadingPractice">
					<div class="row" style="height: 90px; margin-top: 20px">
						<div style="text-align: center">
							<img src="img/ajax-loader.gif" width="40" height="40" /><br>
							<h3>LOADING...</h3>
						</div>
					</div>
				</div>
			</div>
<!-- 			<div class="row"> -->
<!-- 				<div class="span5"></div> -->
<!-- 				<div class="span3"> -->
<!-- 					<button type="button" class="btn btn-default" -->
<!-- 						ng-click="newPracticeShow()">Add</button> -->
<!-- 				</div> -->
<!-- 				<br> -->
<!-- 			</div> -->
		</div>
<!-- 	</div> -->
</div>