<div class="well">
	
<!-- 	ng-controller="filtro2Controller" -->
<!-- 		<iframe width="100%" height="500" ng-src="https://elixforms.anthesi.it/rwe2/module_preview.jsp?MODULE_TAG=domanda_alloggio"> -->
<!-- 			Loading Iframe... -->
<!-- 		</iframe> -->


		<div class="container" style="padding-top: 2%;"> <!-- text-align: center; -->
			<!-- <div class="row"> -->
			<div class="col-md-9" ng-controller="PracticeCtrl" ng-init="getPractice(params.id)">
				<div class="row" style="height: 200px; margin-top: 20px" ng-show="isLoading">
					<div style="text-align: center">
						<img src="img/ajax-loader.gif" width="70" height="70" /><br>
						<h2>LOADING...</h2>
					</div>
				</div>
				<tabset ng-show="!isLoading">
					<tab  ng-repeat="tab in tabs" heading="{{ tab.title }}" active="tab.active" disabled="tab.disabled"  select="setIndex($index)">
						<br>
						<div ng-include="tab.content"></div>
					</tab>
				</tabset>
		</div>
	</div>
</div>