<div class="well">
		<div class="container"
			style="text-align: center; padding-top: 2%;">
			<div class="row">
				<div class="col-md-8">
					<h3>{{ 'page_title-housing' | i18n }}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<p><font size="5">{{ 'edil_practice_title' | i18n }}</font><br>
					{{ 'legge_prov_title' | i18n }}</p>
					<br>
					<div class="panel panel-default" id="infoForContribute" style="width: 700px">
						<div class="panel-heading">
    						<table width="100%">
							<tr>
								<td width="25%"></td>
								<td width="50%" align="center"><h3 class="panel-title">{{ 'edil_practice_panel_title' | i18n }}</h3></td>
								<td width="25%" align="left"><span class="glyphicon glyphicon-minus" ng-show="info_panel_loc==true" ng-click="hideInfoLoc()"></span><span class="glyphicon glyphicon-plus" ng-show="info_panel_loc==false" ng-click="showInfoLoc()"></span></td>
							</tr>
							</table>
  						</div>
  						<div class="panel-body" align="left" ng-show="info_panel_loc">
  							Per favorire il diritto all’abitazione, la normativa provinciale prevede la locazione di alloggi di proprietà o in disponibilità di ITEA S.p.A. o di imprese convenzionate, 
  							applicando un canone di affitto sostenibile, ovvero commisurato alla effettiva possibilità del nucleo familiare di far fronte alle spese per l'alloggio. 
  							<ul>
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Requisiti">Requisiti:</a></b>  Il possesso dei requisiti necessari per l’accesso ai benefici è verificato sia al momento della presentazione della domanda che al momento della comunicazione della disponibilità dell’alloggio.
									La mancanza di uno dei requisiti comporta la decadenza dai benefici e l’eventuale esclusione dalla graduatoria.</li>
								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Domande">Domande:</a></b> La domanda di locazione alloggio può essere presentata dal 1° luglio al 31 dicembre di ogni anno all'Ente locale. E' soggetta a marca da bollo.
									Prima di presentare la domanda, presso l’Ente locale competente per territorio, è necessario ottenere l’attestazione ICEF, relativa alla condizione economico-patrimoniale del nucleo familiare.</li>	
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Graduatorie">Graduatorie:</a></b> Gli Enti provvedono alla formazione delle graduatorie, dal 1° gennaio al 30 giugno di ogni anno.</li>
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Verifica-annuale">Verifica annuale:</a></b>I nuclei familiari in locazione di un alloggio di edilizia abitativa pubblica hanno l'obbligo di presentare la documentazione necessaria per la verifica annuale dei requisiti.</li>
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/L-indicatore-della-condizione-economico-patrimoniale-familiare-I.C.E.F."> L’indicatore della condizione economico-patrimoniale familiare (I.C.E.F.):</a></b> La Provincia Autonoma di Trento ha previsto l'introduzione, per tutti coloro che richiedono agevolazioni pubbliche, 
  									di un’unica metodologia per la valutazione della condizione economica (reddituale e patrimoniale) .</li>
  							</ul>
  						</div>
  					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="#/Practice/new/add" class="btn btn-primary" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
				</div>
				<div class="col-md-4">
					{{ 'home_filter_label' | i18n }} : <input type="search" ng-model="q"
						placeholder="{{ 'filter_text' | i18n }}" />
				</div>
				<br>
			</div>
			<div class="row">
				<br>
				<div class="col-md-8"
					ng-init="getPracticesByTypeWS(1);getElenchi()" ng-show="!isLoadingPractice">
					<table class="table" style="width: 90%">
						<tr>
							<th></th>
							<th>{{ 'practice_code' | i18n }}</th>
							<th>{{ 'practice_title' | i18n }}</th>
							<!-- <th>Tipo</th> -->
							<th>{{ 'practice_state' | i18n }}</th>
							<th>{{ 'practice_opening_date' | i18n }}</th>
							<th>{{ 'practice_operations' | i18n }}</th>
						</tr>
						<tbody class="animate-repeat"
							ng-repeat="practice in practicesEdilWS | filter:q | orderBy:'-dataPresentazione' | startFrom:currentPage*maxPractices | limitTo:maxPractices">
<!-- 							ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
							<tr>
								<td><i class="icon-minus"></i></td>
								<td>{{practice.identificativo}}</td>
								<td>{{practice.edizioneFinanziata.edizione.strumento.descrizione}}</td>
								<td>
								<!-- <dev ng-show = "practice.type == 1" >{{ practiceType.edil }}</dev> -->
								<!-- <dev ng-show = "practice.type == 2">{{ practiceType.ass }}</dev> -->
<!-- 									<div class="text" ng-show = "practice.state == 1 && !editableForm.$visible" ><i class="icon-ok"></i> ({{ 'practice_state_approved' | i18n }})</div> -->
<!-- 									<div class="text" ng-show = "practice.state == 2 && !editableForm.$visible"><i class="icon-time"></i> ({{ 'practice_state_to_be_approved' | i18n }})</div> -->
<!-- 									<div class="text" ng-show = "practice.state == 3 && !editableForm.$visible"><i class="icon-ok"></i> ({{ 'practice_state_consolidated' | i18n }})</div> -->
<!-- 									<div class="text" ng-show = "practice.state == 4 && !editableForm.$visible"><i class="icon-time"></i> ({{ 'practice_state_to_be_consolidated' | i18n }})</div> -->
<!-- 									<div class="text" ng-show = "practice.state == 5 && !editableForm.$visible"><i class="icon-remove"></i> ({{ 'practice_state_removed' | i18n }})</div> -->
<!-- 									{{ practice.statoDomanda }} -->
									{{ practice.myStatus }}
								</td>
								<td>{{(practice.dataPresentazione | date:"dd/MM/yyyy")}}</td>
								<td>
									<a href="#/Practice/edit/{{ practice.idObj }}?frompage=PracticeList/edil&frommenu=showPractices(1)" role="button" ng-show="practice.myStatus!='ACCETTATA' && practice.myStatus!='RIFIUTATA'">{{ 'practice_edit' | i18n }}</a>&nbsp;<!-- ng-click="setEditTabs(practice.idObj)" -->
									<a href="#/Practice/view/{{ practice.idObj }}?frompage=PracticeList/edil/1" ng-click="setViewTabs()" ng-show="practice.myStatus=='ACCETTATA' || practice.myStatus=='RIFIUTATA'">{{ 'practice_view' | i18n }}</a>
<!-- 									<a ng-show ="practice.state > 3" ng-href="#/PracticeList/edil" ng-click="deletePractice(practice.id, isActiveItaLang())">{{ 'practice_remove' | i18n }}</a> -->
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary"
							ng-disabled="currentPage == 0"
							ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
						{{currentPage+1}}/{{numberOfPages(1)}}
					<button class="btn btn-primary"
							ng-disabled="currentPage >= practicesEdilWS.length/maxPractices - 1"
							ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
				</div>
				<div class="col-md-8" ng-show="isLoadingPractice">
					<div class="row" style="height: 90px; margin-top: 20px">
						<div style="text-align: center">
							<img src="img/ajax-loader.gif" width="40" height="40" /><br>
							<h3>{{ 'loading_text' | i18n }}...</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>