<div class="well">
		<div class="container-fluid"
			style="text-align: center; padding-top: 2%;" ng-init="initClassView(1, params.type)">
			<div class="row">
				<div class="col-md-12">
					<h3>{{ 'page_title-housing' | i18n }}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p><font size="5">{{ 'edil_practice_title' | i18n }}</font><br>
					{{ 'legge_prov_title' | i18n }}</p>
					<br>
					<div class="panel panel-default" id="infoForContribute" style="margin: 10px;">
						<div class="panel-heading">
    						<table width="100%">
							<tr>
								<td width="25%"></td>
								<td width="50%" align="center"><h3 class="panel-title">{{ 'edil_practice_panel_title' | i18n }}</h3></td>
								<td width="25%" align="left"><span class="glyphicon glyphicon-chevron-up" ng-show="info_panel_loc()" ng-click="hideInfoLoc()"></span><span class="glyphicon glyphicon-chevron-down" ng-show="!info_panel_loc()" ng-click="showInfoLoc()"></span></td>
							</tr>
							</table>
  						</div>
  						<div class="panel-body" align="{{ getUrduAlign() }}" ng-show="info_panel_loc()">
  							{{ 'edil_practice_panel_text' | i18n }}
  							<div ng-show="getUrduAlign() == 'right'">
  								<b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Requisiti">{{ 'edil_practice_panel_click_1' | i18n }}</a></b>  {{ 'edil_practice_panel_link_1' | i18n }}<br/>
								<b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Domande">{{ 'edil_practice_panel_click_2' | i18n }}</a></b> {{ 'edil_practice_panel_link_2' | i18n }}<br/>	
  								<b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Graduatorie">{{ 'edil_practice_panel_click_3' | i18n }}</a></b> {{ 'edil_practice_panel_link_3' | i18n }}<br/>
  								<b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Verifica-annuale">{{ 'edil_practice_panel_click_4' | i18n }}</a></b> {{ 'edil_practice_panel_link_4' | i18n }}<br/>
  								<b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/L-indicatore-della-condizione-economico-patrimoniale-familiare-I.C.E.F."> {{ 'edil_practice_panel_click_5' | i18n }}</a></b> {{ 'edil_practice_panel_link_5' | i18n }}<br/>
  							</div>
  							<ul ng-show="getUrduAlign() == 'left'">
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Requisiti">{{ 'edil_practice_panel_click_1' | i18n }}</a></b>  {{ 'edil_practice_panel_link_1' | i18n }}</li>
								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Domande">{{ 'edil_practice_panel_click_2' | i18n }}</a></b> {{ 'edil_practice_panel_link_2' | i18n }}</li>	
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Graduatorie">{{ 'edil_practice_panel_click_3' | i18n }}</a></b> {{ 'edil_practice_panel_link_3' | i18n }}</li>
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/Verifica-annuale">{{ 'edil_practice_panel_click_4' | i18n }}</a></b> {{ 'edil_practice_panel_link_4' | i18n }}</li>
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Locazione-alloggio-pubblico-a-canone-sociale/L-indicatore-della-condizione-economico-patrimoniale-familiare-I.C.E.F."> {{ 'edil_practice_panel_click_5' | i18n }}</a></b> {{ 'edil_practice_panel_link_5' | i18n }}</li>
  							</ul>
  						</div>
  					</div>
  					<div class="panel panel-default" id="infoForStates" style="margin: 10px;">
						<div class="panel-heading">
    						<table width="100%">
							<tr>
								<td width="25%"></td>
								<td width="50%" align="center"><h3 class="panel-title">{{ 'info_state_panel_title' | i18n }}</h3></td>
								<td width="25%" align="left"><span class="glyphicon glyphicon-chevron-up" ng-show="info_panel_states_loc()" ng-click="hideInfoStatesLoc()"></span><span class="glyphicon glyphicon-chevron-down" ng-show="!info_panel_states_loc()" ng-click="showInfoStatesLoc()"></span></td>
							</tr>
							</table>
  						</div>
  						<div class="panel-body" align="{{ getUrduAlign() }}" ng-show="info_panel_states_loc()">
  							{{ 'info_states_panel_text' | i18n }}
  							<div ng-show="getUrduAlign() == 'right'">
  								<b>{{ 'info_state_panel_bold_1' | i18n }}</b> {{ 'info_state_panel_text_1' | i18n }}<br/>
							<!-- <b>{{ 'info_state_panel_bold_2' | i18n }}</b> {{ 'info_state_panel_text_2' | i18n }}<br/>	 -->
  								<b>{{ 'info_state_panel_bold_3_a' | i18n }}/{{ 'info_state_panel_bold_3_r' | i18n }}</b> {{ 'info_state_panel_text_3' | i18n }}<br/>
  								<b>{{ 'info_state_panel_bold_4' | i18n }}</b> {{ 'info_state_panel_text_4' | i18n }}<br/>
  								<b>{{ 'info_state_panel_bold_5' | i18n }}</b> {{ 'info_state_panel_text_5' | i18n }}<br/>
  							</div>
  							<ul ng-show="getUrduAlign() == 'left'">
  								<li><b>{{ 'info_state_panel_bold_1' | i18n }}</b> {{ 'info_state_panel_text_1' | i18n }}</li>
							<!-- <li><b>{{ 'info_state_panel_bold_2' | i18n }}</b> {{ 'info_state_panel_text_2' | i18n }}</li>	 -->
  								<li><b>{{ 'info_state_panel_bold_3_a' | i18n }}/{{ 'info_state_panel_bold_3_r' | i18n }}</b> {{ 'info_state_panel_text_3' | i18n }}</li>
  								<li><b>{{ 'info_state_panel_bold_4' | i18n }}</b> {{ 'info_state_panel_text_4' | i18n }}</li>
  								<li><b>{{ 'info_state_panel_bold_5' | i18n }}</b> {{ 'info_state_panel_text_5' | i18n }}</li>
  							</ul>
  						</div>
  					</div>
				</div>
			</div>
			<div class="row" ng-show="!isProvvClassVisible() && !isFinalClassVisible()">
				<div class="col-md-12" align="right">
					<a href="#/Practice/new/add/1" class="btn btn-primary btn-lg" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
				</div>
			<!-- <div class="col-md-6"> -->
			<!-- 	{{ 'home_filter_label' | i18n }} : <input type="search" ng-model="q" -->
			<!-- 	placeholder="{{ 'filter_text' | i18n }}" /> -->
			<!-- </div> -->
				<br>
			</div>
			<div class="row" ng-show="!isLoadingPractice && isProvvClassVisible() && isPracticeInProvvClassificationVisible()">
				<div class="col-md-12" align="right">
					<a href="#/Practice/new/add/1" class="btn btn-primary btn-lg" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
				</div>
<!-- 				<div class="col-md-6" align="left"> -->
<!-- 					<a href="#/Practice/class/view/edil/ue/1" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setClassTabs()" ng-show="params.type == 1">{{ 'classification_label_provv' | i18n }}</a> -->
<!-- 					<a href="#/Practice/class/view/edil/extraue/1" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setClassTabs()" ng-show="params.type == 2">{{ 'classification_label_provv' | i18n }}</a> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-6" align="right"> -->
<!-- 					<a href="#/Practice/new/add/1" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a> -->
<!-- 				</div> -->
				<br>
			</div>
			<div class="row" ng-show="!isLoadingPractice && isFinalClassVisible() && isPracticeInFinalClassificationVisible()">
				<div class="col-md-12" align="right">
					<a href="#/Practice/new/add/1" class="btn btn-primary btn-lg" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
				</div>
<!-- 				<div class="col-md-6" align="left"> -->
<!-- 					<a href="#/Practice/class/view/edil/ue/2" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setClassTabs()" ng-show="params.type == 1">{{ 'classification_label_final' | i18n }}</a> -->
<!-- 					<a href="#/Practice/class/view/edil/extraue/2" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setClassTabs()" ng-show="params.type == 2">{{ 'classification_label_final' | i18n }}</a> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-6" align="right"> -->
<!-- 					<a href="#/Practice/new/add/1" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a> -->
<!-- 				</div> -->
				<br>
			</div>
			<div class="row" align="center" style="vertical-align: middle" ng-show="!isLoadingPractice && isProvvClassVisible() && !isPracticeInProvvClassificationVisible()">
				<table style="width: 96%">
					<tr valign="middle">
						<td width="80%" align="left">
							<strong><font size="3">{{ 'user_not_in_provv_classification_label' | i18n }} {{ (classPubblicationData | date:'shortDate') }} </font></strong>
						</td>
						<td width="20%" align="right">
							<a href="#/Practice/new/add/1" class="btn btn-primary btn-lg" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="row" align="center" style="vertical-align: middle" ng-show="!isLoadingPractice && isFinalClassVisible() && !isPracticeInFinalClassificationVisible()">
				<table style="width: 96%">
					<tr valign="middle">
						<td width="80%" align="left">
							<strong><font size="3">{{ 'user_not_in_final_classification_label' | i18n }} {{ (classPubblicationData | date:'shortDate') }} </font></strong>
						</td>
						<td width="20%" align="right">
							<a href="#/Practice/new/add/1" class="btn btn-primary btn-lg" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
						</td>
					</tr>
				</table>
			</div>	
			<div class="row">
				<br>
				<div class="col-md-12"
					ng-init="getPracticesByTypeWS(1, params.type);getElenchi()" ng-show="!isLoadingPractice  && !waitForProtocolla">
					<table class="table table-striped" style="width: 100%">
						<tr ng-show="practicesEdilWS.length != 0 && getUrduAlign() == 'left'">
							<th width="17%">{{ 'practice_code' | i18n }}</th>
							<th width="37%">{{ 'practice_title' | i18n }}</th>
							<th width="17%">{{ 'practice_state' | i18n }}</th>
							<th width="18%">{{ 'practice_opening_date' | i18n }}</th>
							<th width="10%" align="center">{{ 'practice_operations' | i18n }}</th>
							<th width="1%"></th>
						</tr>
						<tr ng-show="practicesEdilWS.length != 0 && getUrduAlign() == 'right'">
							<th width="17%" class="myRight">{{ 'practice_code' | i18n }}</th>
							<th width="37%" class="myRight">{{ 'practice_title' | i18n }}</th>
							<th width="17%" class="myRight">{{ 'practice_state' | i18n }}</th>
							<th width="18%" class="myRight">{{ 'practice_opening_date' | i18n }}</th>
							<th width="10%" align="center">{{ 'practice_operations' | i18n }}</th>
							<th width="1%"></th>
						</tr>
						<tbody class="animate-repeat"
							ng-repeat="practice in practicesEdilWS | filter:q | orderBy:'-dataPresentazione' | startFrom:currentPage*maxPractices | limitTo:maxPractices">
							<!-- ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
							<tr ng-show="!practice.isInClassification">
								<td width="17%" align="{{ getUrduAlign() }}">{{practice.identificativo}}</td>
								<td width="37%" align="{{ getUrduAlign() }}">{{ 'practice_edil_list_financial_description' | i18n }}</td><!-- {{practice.edizioneFinanziata.edizione.strumento.descrizione}} -->
								<td width="17%" align="{{ getUrduAlign() }}" ng-show="isItaLanguage()">
									<a href mypopovercreateit data-trigger="hover" data-placement="top" title="Dettagli Stato" ng-show="practice.myStatus=='PROVVISORIA'"><!-- ng-show="practice.myStatus=='EDITABILE'" -->
<!--   										{{ practice.myStatus }} -->
										{{ 'info_state_panel_bold_1' | i18n }}
									</a>
									<!--<a href mypopoverpay data-trigger="hover" data-placement="top" title="Dettagli Stato" ng-show="practice.myStatus=='PAGATA'"> -->
  									<!-- 	{{ practice.myStatus }} -->
									<!-- </a> -->
									<a href mypopoverconsit data-trigger="hover" data-placement="top" title="Dettagli Stato" popover-trigger="mouseenter" ng-if="practice.myStatus=='ACCETTATA'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_3_a' | i18n }}
									</a>
									<a href mypopoverconsit data-trigger="hover" data-placement="top" title="Dettagli Stato" popover-trigger="mouseenter" ng-if="practice.myStatus=='RIFIUTATA'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_3_r' | i18n }}
									</a>
									<a href mypopoverclassprovvit data-trigger="hover" data-placement="top" title="Dettagli Stato" popover-trigger="mouseenter" ng-show="practice.myStatus=='IN GRADUATORIA PROV'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_4' | i18n }}
									</a>
									<a href mypopoverclassfinalit data-trigger="hover" data-placement="top" title="Dettagli Stato" popover-trigger="mouseenter" ng-show="practice.myStatus=='IN GRADUATORIA DEF'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_5' | i18n }}
									</a>
								</td>
								<td width="17%" align="{{ getUrduAlign() }}" ng-show="!isItaLanguage()">
									<a href mypopovercreate data-trigger="hover" data-placement="top" title="Status Details" ng-show="practice.myStatus=='PROVVISORIA'"><!-- ng-show="practice.myStatus=='EDITABILE'" -->
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_1' | i18n }}
									</a>
									<!--<a href mypopoverpay data-trigger="hover" data-placement="top" title="Dettagli Stato" ng-show="practice.myStatus=='PAGATA'"> -->
  									<!-- 	{{ practice.myStatus }} -->
									<!-- </a> -->
									<a href mypopovercons data-trigger="hover" data-placement="top" title="Status Details" popover-trigger="mouseenter" ng-if="practice.myStatus=='ACCETTATA'">
<!--   										{{ practice.myStatus }} -->
										{{ 'info_state_panel_bold_3_a' | i18n }}
									</a>
									<a href mypopovercons data-trigger="hover" data-placement="top" title="Status Details" popover-trigger="mouseenter" ng-if="practice.myStatus=='RIFIUTATA'">
<!--   										{{ practice.myStatus }} -->
										{{ 'info_state_panel_bold_3_r' | i18n }}
									</a>
									<a href mypopoverclassprovv data-trigger="hover" data-placement="top" title="Status Details" popover-trigger="mouseenter" ng-show="practice.myStatus=='IN GRADUATORIA PROV'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_4' | i18n }}
									</a>
									<a href mypopoverclassfinal data-trigger="hover" data-placement="top" title="Status Details" popover-trigger="mouseenter" ng-show="practice.myStatus=='IN GRADUATORIA DEF'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_5' | i18n }}
									</a>
								</td>
								<td width="18%" align="center">{{(practice.dataPresentazione | date:'shortDate')}}</td>
								<td width="10%" align="left">
									<a href="#/Practice/view/{{ practice.idObj }}?frompage=PracticeList/edil/{{ params.type }}" ng-click="setViewTabs()" ng-show="practice.myStatus=='ACCETTATA' || practice.myStatus=='RIFIUTATA' || practice.myStatus=='PROVVISORIA'" alt="{{ 'practice_view' | i18n }}" title="{{ 'practice_view' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;</a><!-- {{ 'practice_view' | i18n }} -->
									<a href="#/Practice/edit/{{ practice.idObj }}?frompage=PracticeList/edil&frommenu=showPractices(1)" role="button" ng-click="setEditTabs()" ng-show="practice.myStatus!='ACCETTATA' && practice.myStatus!='RIFIUTATA' && practice.status!='PAGATA' && practice.status!='CONSOLIDATA'" alt="{{ 'practice_edit' | i18n }}" title="{{ 'practice_edit' | i18n }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;</a><!--   && practice.myStatus!='PAGATA' Uncomment for Update MB09092014  && practice.myStatus!='PROVVISORIA' Commented in data 21052015" {{ 'practice_edit' | i18n }} -->
									<a href="#/Practice/submit/{{ practice.idObj }}?frompage=PracticeList/edil&frommenu=showPractices(1)" role="button" ng-show="practice.status=='PAGATA' || practice.status=='CONSOLIDATA'" alt="{{ 'practice_cons' | i18n }}" title="{{ 'practice_cons' | i18n }}"><i class="glyphicon glyphicon-check"></i>&nbsp;</a> <!-- Uncomment for Update MB09092014 -->
									<a href ng-click="stampaPDF(p.idObj)" alt="{{ 'practice_view_pdf_file' | i18n }}" title="{{ 'practice_view_pdf_file' | i18n }}" ng-show="p.showPdf==true"><img src="img/pdf.gif" width="15" height="20"/></a>
<!-- 									<a ng-show ="practice.state > 3" ng-href="#/PracticeList/edil" ng-click="deletePractice(practice.id, isActiveItaLang())">{{ 'practice_remove' | i18n }}</a> -->
								</td>
								<td width="1%"></td>
							</tr>
							<tr class="success" ng-show="practice.isInClassification">
								<td width="17%" align="{{ getUrduAlign() }}">{{practice.identificativo}}</td>
								<td width="37%" align="{{ getUrduAlign() }}">{{ 'practice_edil_list_financial_description' | i18n }}</td><!-- {{practice.edizioneFinanziata.edizione.strumento.descrizione}} -->
								<td width="17%" align="{{ getUrduAlign() }}" ng-show="isItaLanguage()">
									<a mypopovercreateit data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-show="practice.myStatus=='PROVVISORIA'"><!-- ng-show="practice.myStatus=='EDITABILE'" -->
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_1' | i18n }}
									</a>
									<!-- <a mypopoverpay data-trigger="hover" data-placement="top" title="Dettagli Stato" ng-show="practice.myStatus=='PAGATA'"> -->
  									<!-- 	{{ practice.myStatus }} -->
									<!-- </a> -->
									<a mypopoverconsit data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-if="practice.myStatus=='ACCETTATA'">
<!--   										{{ practice.myStatus }} -->
										{{ 'info_state_panel_bold_3_a' | i18n }}
									</a>
									<a mypopoverconsit data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-if="practice.myStatus=='RIFIUTATA'">
<!--   										{{ practice.myStatus }} -->
										{{ 'info_state_panel_bold_3_r' | i18n }}
									</a>
									<a mypopoverclassprovvit data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-show="practice.myStatus=='IN GRADUATORIA PROV'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_4' | i18n }}
									</a>
									<a mypopoverclassfinalit data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-show="practice.myStatus=='IN GRADUATORIA DEF'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_5' | i18n }}
									</a>
								</td>
								<td width="17%" align="{{ getUrduAlign() }}" ng-show="!isItaLanguage()">
									<a mypopovercreate data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-show="practice.myStatus=='PROVVISORIA'"><!-- ng-show="practice.myStatus=='EDITABILE'" -->
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_1' | i18n }}
									</a>
									<!-- <a mypopoverpay data-trigger="hover" data-placement="top" title="Dettagli Stato" ng-show="practice.myStatus=='PAGATA'"> -->
  									<!-- 	{{ practice.myStatus }} -->
									<!-- </a> -->
									<a mypopovercons data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-if="practice.myStatus=='ACCETTATA'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_3_a' | i18n }}
									</a>
									<a mypopovercons data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-if="practice.myStatus=='RIFIUTATA'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_3_r' | i18n }}
									</a>
									<a mypopoverclassprovv data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-show="practice.myStatus=='IN GRADUATORIA PROV'">
<!--   										{{ practice.myStatus }} -->
										{{ 'info_state_panel_bold_4' | i18n }}
									</a>
									<a mypopoverclassfinal data-trigger="hover" data-placement="top" title="{{ 'status_details' | i18n }}" ng-show="practice.myStatus=='IN GRADUATORIA DEF'">
<!--   										{{ practice.myStatus }} -->
  										{{ 'info_state_panel_bold_5' | i18n }}
									</a>
								</td>
								<td width="18%" align="center">{{(practice.dataPresentazione | date:'shortDate')}}</td>
								<td width="10%" align="left">
									<a href="#/Practice/view/{{ practice.idObj }}?frompage=PracticeList/edil/{{ params.type }}" ng-click="setViewTabs()" alt="{{ 'practice_view' | i18n }}" title="{{ 'practice_view' | i18n }}"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;<!-- {{ 'practice_view' | i18n }} -->
									<a href="#/Practice/class/view/edil/ue/1" ng-click="setClassTabs()" ng-show="isProvvClassVisible() && isPracticeInProvvClassificationVisible() && params.type == 1" alt="{{ 'practice_classification_provv' | i18n }}" title="{{ 'practice_classification_provv' | i18n }}"><i class="glyphicon glyphicon-list-alt"></i></a><!-- {{ 'classification_label_provv' | i18n }} -->
									<a href="#/Practice/class/view/edil/extraue/1" ng-click="setClassTabs()" ng-show="isProvvClassVisible() && isPracticeInProvvClassificationVisible() && params.type == 2" alt="{{ 'practice_classification_provv' | i18n }}" title="{{ 'practice_classification_provv' | i18n }}"><i class="glyphicon glyphicon-list-alt"></i></a><!-- {{ 'classification_label_provv' | i18n }} -->
									<a href="#/Practice/class/view/edil/ue/2" ng-click="setClassTabs()" ng-show="isFinalClassVisible() && isPracticeInFinalClassificationVisible() && params.type == 1" alt="{{ 'practice_classification_final' | i18n }}" title="{{ 'practice_classification_final' | i18n }}"><i class="glyphicon glyphicon-list-alt"></i></a><!-- {{ 'classification_label_final' | i18n }} -->
									<a href="#/Practice/class/view/edil/extraue/2" ng-click="setClassTabs()" ng-show="isFinalClassVisible() && isPracticeInFinalClassificationVisible() && params.type == 2" alt="{{ 'practice_classification_final' | i18n }}" title="{{ 'practice_classification_final' | i18n }}"><i class="glyphicon glyphicon-list-alt"></i></a><!-- {{ 'classification_label_final' | i18n }} -->
								</td>
								<td width="1%"></td>
							</tr>
						</tbody>
						<tr ng-show="practicesEdilWS.length == 0">
							<td colspan="6"><strong>{{ 'no_practice_in_lists' | i18n }}</strong></td>
						</tr>
					</table>
					<button class="btn btn-primary"
							ng-disabled="currentPage == 0"
							ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
						{{currentPage+1}}/{{numberOfPages(1)}}
					<button class="btn btn-primary"
							ng-disabled="currentPage >= practicesEdilWS.length/maxPractices - 1"
							ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>	
				</div>
				<div class="col-md-12" ng-show="isLoadingPractice || waitForProtocolla">
					<div class="row" style="height: 90px; margin-top: 20px">
						<div style="text-align: center">
							<img src="img/ajax-loader.gif" width="40" height="40" /><br>
							<h3>{{ 'loading_text' | i18n }}...</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>