<div class="well">
		<div class="container"
			style="text-align: center; padding-top: 2%;">
			<div class="row">
				<div class="col-md-8">
					<h3>{{ 'page_title-housing' | i18n }}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<p>Domanda di locazione alloggio<br>
					L.P. 7.11.2005, n. 15 e Regolamento d’esecuzione DPP n. 17 - 75/Leg dd. 12.12.2011</p>
					<br>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="#/Practice/new/add" class="btn btn-primary" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
				</div>
				<div class="col-md-4">
					{{ 'home_filter_label' | i18n }} : <input type="search" ng-model="q"
						placeholder="{{ 'filter_text' | i18n }}" />
				</div>
				<br>
			</div>
			<div class="row">
				<br>
				<div class="col-md-8"
					ng-init="getPracticesByTypeWS(1)" ng-show="!isLoadingPractice">
					<table class="table" style="width: 90%">
						<tr>
							<th></th>
							<th>{{ 'practice_code' | i18n }}</th>
							<th>{{ 'practice_title' | i18n }}</th>
							<!-- <th>Tipo</th> -->
							<th>{{ 'practice_state' | i18n }}</th>
							<th>{{ 'practice_opening_date' | i18n }}</th>
							<th>{{ 'practice_operations' | i18n }}</th>
						</tr>
						<tbody class="animate-repeat"
							ng-repeat="practice in practicesEdilWS | filter:q | orderBy:'-dataPresentazione' | startFrom:currentPage*maxPractices | limitTo:maxPractices">
<!-- 							ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
							<tr>
								<td><i class="icon-minus"></i></td>
								<td>{{practice.identificativo}}</td>
								<td>{{practice.edizioneFinanziata.edizione.strumento.descrizione}}</td>
								<td>
								<!-- <dev ng-show = "practice.type == 1" >{{ practiceType.edil }}</dev> -->
								<!-- <dev ng-show = "practice.type == 2">{{ practiceType.ass }}</dev> -->
<!-- 									<div class="text" ng-show = "practice.state == 1 && !editableForm.$visible" ><i class="icon-ok"></i> ({{ 'practice_state_approved' | i18n }})</div> -->
<!-- 									<div class="text" ng-show = "practice.state == 2 && !editableForm.$visible"><i class="icon-time"></i> ({{ 'practice_state_to_be_approved' | i18n }})</div> -->
<!-- 									<div class="text" ng-show = "practice.state == 3 && !editableForm.$visible"><i class="icon-ok"></i> ({{ 'practice_state_consolidated' | i18n }})</div> -->
<!-- 									<div class="text" ng-show = "practice.state == 4 && !editableForm.$visible"><i class="icon-time"></i> ({{ 'practice_state_to_be_consolidated' | i18n }})</div> -->
<!-- 									<div class="text" ng-show = "practice.state == 5 && !editableForm.$visible"><i class="icon-remove"></i> ({{ 'practice_state_removed' | i18n }})</div> -->
<!-- 									{{ practice.statoDomanda }} -->
									{{ practice.myStatus }}
								</td>
								<td>{{(practice.dataPresentazione | date:"dd/MM/yyyy")}}</td>
								<td>
									<a href="#/Practice/edit/{{ practice.idObj }}?frompage=PracticeList/edil&frommenu=showPractices(1)" role="button" ng-show="practice.myStatus!='ACCETTATA' && practice.myStatus!='RIFIUTATA'">{{ 'practice_edit' | i18n }}</a>&nbsp;<!-- ng-click="setEditTabs(practice.idObj)" -->
									<a href="#/Practice/view/{{ practice.idObj }}?frompage=PracticeList/edil/1" ng-click="setViewTabs()" ng-show="practice.myStatus=='ACCETTATA' || practice.myStatus=='RIFIUTATA'">{{ 'practice_view' | i18n }}</a>
<!-- 									<a ng-show ="practice.state > 3" ng-href="#/PracticeList/edil" ng-click="deletePractice(practice.id, isActiveItaLang())">{{ 'practice_remove' | i18n }}</a> -->
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary"
							ng-disabled="currentPage == 0"
							ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
						{{currentPage+1}}/{{numberOfPages(1)}}
					<button class="btn btn-primary"
							ng-disabled="currentPage >= practicesEdilWS.length/maxPractices - 1"
							ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
				</div>
				<div class="col-md-8" ng-show="isLoadingPractice">
					<div class="row" style="height: 90px; margin-top: 20px">
						<div style="text-align: center">
							<img src="img/ajax-loader.gif" width="40" height="40" /><br>
							<h3>LOADING...</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>