<div class="well">
		<div class="container-fluid"
			style="text-align: center; padding-top: 2%" ng-init="initClassView(2, params.type)">
			<div class="row">
				<div class="col-md-12">
					<h3>{{ 'page_title-family_allowances' | i18n }}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center" align="center">
					<p><font size="5">{{ 'ass_practice_title' | i18n }}</font><br>
					{{ 'legge_prov_title' | i18n }}</p>
					<br>
					<div class="panel panel-default" id="infoForContribute" style="margin: 10px;">
						<div class="panel-heading">
							<table width="100%">
							<tr>
								<td width="25%"></td>
								<td width="50%" align="center"><h3 class="panel-title">{{ 'ass_practice_panel_title' | i18n }}</h3></td>
								<td width="25%" align="left"><span class="glyphicon glyphicon-chevron-up" ng-show="info_panel_ass()" ng-click="hideInfoAss()"></span><span class="glyphicon glyphicon-chevron-down" ng-show="!info_panel_ass()" ng-click="showInfoAss()"></span></td>
							</tr>
							</table>
  						</div>
  						<div class="panel-body" align="left" ng-show="info_panel_ass()">
  							{{ 'ass_practice_panel_text' | i18n }}
  							<ul>
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Contributo-sul-canone-di-affitto/Requisiti">{{ 'ass_practice_panel_click_1' | i18n }}</a></b>  {{ 'ass_practice_panel_link_1' | i18n }}</li>
								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Contributo-sul-canone-di-affitto/Domande">{{ 'ass_practice_panel_click_2' | i18n }}</a></b> {{ 'ass_practice_panel_link_2' | i18n }}</li>	
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Contributo-sul-canone-di-affitto/Graduatorie">{{ 'ass_practice_panel_click_3' | i18n }}</a></b> {{ 'ass_practice_panel_link_3' | i18n }}</li>
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Contributo-sul-canone-di-affitto/Calcolo-del-contributo-integrativo">{{ 'ass_practice_panel_click_4' | i18n }}</a></b> {{ 'ass_practice_panel_link_4' | i18n }}</li>
  								<li><b><a target="_blank" href="http://www.trentinosociale.it/index.php/Servizi-ai-cittadini/Guida-ai-servizi/per-destinatari/Anziani/Abitare-o-disporre-di-un-alloggio-adeguato-e-sicuro/Contributo-sul-canone-di-affitto/L-indicatore-della-condizione-economico-patrimoniale-familiare-I.C.E.F.">{{ 'ass_practice_panel_click_5' | i18n }}</a></b> {{ 'ass_practice_panel_link_5' | i18n }}</li>
  							</ul>
  						</div>
  					</div>	
				</div>
			</div>
			<div class="row" ng-show="!isProvvClassVisible() && !isFinalClassVisible()">
				<div class="col-md-12" align="right">
					<a href="#/Practice/new/add/2" class="btn btn-primary btn-lg" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
				</div>
			</div>	
			<div class="row" ng-show="!isLoadingPractice && isProvvClassVisible() && isPracticeInProvvClassificationVisible()">
				<div class="col-md-6" align="left">
					<a href="#/Practice/class/view/ass/ue/1" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setClassTabs()" ng-show="params.type == 1">{{ 'classification_label_provv' | i18n }}</a>
					<a href="#/Practice/class/view/ass/extraue/1" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setClassTabs()" ng-show="params.type == 2">{{ 'classification_label_provv' | i18n }}</a>
				</div>
				<div class="col-md-6" align="right">
					<a href="#/Practice/new/add/2" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
				</div>
			<!-- <div class="col-md-6"> -->
			<!-- 	{{ 'home_filter_label' | i18n }} : <input type="search" ng-model="q" -->
			<!-- 	placeholder="{{ 'filter_text' | i18n }}" /> -->
			<!-- </div> -->
				<br>
			</div>
			<div class="row" ng-show="!isLoadingPractice && isFinalClassVisible() && isPracticeInFinalClassificationVisible()">
				<div class="col-md-6" align="left">
					<a href="#/Practice/class/view/ass/ue/2" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setClassTabs()" ng-show="params.type == 1">{{ 'classification_label_final' | i18n }}</a>
					<a href="#/Practice/class/view/ass/extraue/2" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setClassTabs()" ng-show="params.type == 2">{{ 'classification_label_final' | i18n }}</a>
				</div>
				<div class="col-md-6" align="right">
					<a href="#/Practice/new/add/2" class="btn btn-primary btn-lg btn-block" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
				</div>
				<br>
			</div>
			<div class="row" align="center" style="vertical-align: middle" ng-show="!isLoadingPractice && isProvvClassVisible() && !isPracticeInProvvClassificationVisible()">
				<table style="width: 96%">
					<tr valign="middle">
						<td width="80%" align="left">
							<strong><font size="3">{{ 'user_not_in_provv_classification_label' | i18n }} {{ (classPubblicationData | date:'shortDate') }}</font></strong>
						</td>
						<td width="20%" align="right">
							<a href="#/Practice/new/add/2" class="btn btn-primary btn-lg" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="row" align="center" style="vertical-align: middle" ng-show="!isLoadingPractice && isFinalClassVisible() && !isPracticeInFinalClassificationVisible()">
				<table style="width: 96%">
					<tr valign="middle">
						<td width="80%" align="left">
							<strong><font size="3">{{ 'user_not_in_final_classification_label' | i18n }} {{ (classPubblicationData | date:'shortDate') }}</font></strong>
						</td>
						<td width="20%" align="right">
							<a href="#/Practice/new/add/2" class="btn btn-primary btn-lg" role="button" ng-click="setCreationTabs()">{{ 'add_practice_label' | i18n }}</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="row">
				<br>
				<div class="col-md-12"
					ng-init="getPracticesByTypeWS(2, params.type);getElenchi()" ng-show="!isLoadingPractice && !waitForProtocolla">
					<table class="table table-striped" style="width: 100%">
						<tr ng-show="practicesAssWS.length != 0">
							<th width="17%">{{ 'practice_code' | i18n }}</th>
							<th width="37%" align="center">{{ 'practice_title' | i18n }}</th>
							<th width="17%">{{ 'practice_state' | i18n }}</th>
							<th width="18%">{{ 'practice_opening_date' | i18n }}</th>
							<th width="10%" align="center">{{ 'practice_operations' | i18n }}</th>
							<th width="1%"></th>
						</tr>
						<tbody class="animate-repeat"
							ng-repeat="practice in practicesAssWS | filter:q | orderBy:'-dataPresentazione' | startFrom:currentPage*maxPractices | limitTo:maxPractices">
<!-- 							ng-repeat="practice in practices | filter:q | orderBy:'-openingDate' | startFrom:currentPage*maxPractices | limitTo:maxPractices"> -->
							<tr ng-show="!practice.isInClassification">
								<td width="17%" align="left">{{practice.identificativo}}</td>
								<td width="37%" align="left">{{practice.edizioneFinanziata.edizione.strumento.descrizione}}</td>
								<td width="17%" align="left">{{ practice.myStatus }}</td>
								<td width="18%" align="center">{{(practice.dataPresentazione | date:'shortDate')}}</td>
								<td width="10%" align="left">
									<a href="#/Practice/edit/{{ practice.idObj }}?frompage=PracticeList/ass&frommenu=showPractices(2)" ng-click="setEditTabs()" ng-show="practice.myStatus!='ACCETTATA' && practice.myStatus!='RIFIUTATA' && practice.myStatus!='PAGATA'" >{{ 'practice_edit' | i18n }}</a><!--  && practice.myStatus!='PAGATA' Uncomment for Update MB09092014 -->
									<a href="#/Practice/submit/{{ practice.idObj }}?frompage=PracticeList/edil&frommenu=showPractices(1)" role="button" ng-show="practice.myStatus=='PAGATA'">{{ 'practice_cons' | i18n }}</a> <!-- Uncomment for Update MB09092014 -->
									<a href="#/Practice/view/{{ practice.idObj }}?frompage=PracticeList/ass/1" ng-click="setViewTabs()" ng-show="practice.myStatus=='ACCETTATA' || practice.myStatus=='RIFIUTATA'">{{ 'practice_view' | i18n }}</a>
								</td>
								<td width="1%"></td>
							</tr>
							<tr class="success" ng-show="practice.isInClassification">
								<td width="17%" align="left">{{practice.identificativo}}</td>
								<td width="37%" align="left">{{practice.edizioneFinanziata.edizione.strumento.descrizione}}</td>
								<td width="17%" align="left">{{ practice.myStatus }}</td>
								<td width="18%" align="center">{{(practice.dataPresentazione | date:'shortDate')}}</td>
								<td width="10%" align="left">
									<a href="#/Practice/view/{{ practice.idObj }}?frompage=PracticeList/ass/1" ng-click="setViewTabs()">{{ 'practice_view' | i18n }}</a>
								</td>
								<td width="1%"></td>
							</tr>
						</tbody>
						<tr ng-show="practicesAssWS.length == 0">
							<td colspan="6"><strong>{{ 'no_practice_in_lists' | i18n }}</strong></td>
						</tr>
					</table>
					<button class="btn btn-primary"
							ng-disabled="currentPage == 0"
							ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
						{{currentPage+1}}/{{numberOfPages(2)}}
					<button class="btn btn-primary"
							ng-disabled="currentPage >= practicesAssWS.length/maxPractices - 1"
							ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
				</div>
				<div class="col-md-12" ng-show="isLoadingPractice || waitForProtocolla">
					<div class="row" style="height: 90px; margin-top: 20px">
						<div style="text-align: center">
							<img src="img/ajax-loader.gif" width="40" height="40" /><br>
							<h3>{{ 'loading_text' | i18n }}...</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>