
<!-- practice_ctrl.params.id -->
<form role="form" name="form">
	<div class="panel panel-default" id="forExtraUe" ng-show="isUeCitizen() != 'true'">
		<div class="panel-heading">
    		<h3 class="panel-title">Sezione per Cittadini Extracomunitari</h3>
  		</div>
  		<div class="panel-body">
  			<div class="form-group">
				<label for="perm">Permesso:</label>
				<select id="perm" name="pPerm" class="form-control" ng-options="p.value as p.title for p in permissions" ng-model="extracomunitariType.permesso" ng-required="isUeCitizen() == 'false'">
					<option value="">Seleziona permesso</option>
				</select>
				<div class="alert alert-danger" ng-show="!initForm() && form.pPerm.$error.required">Campo 'Permesso' obbligatorio.</div>
			</div>
			<div class="form-group" ng-show="extracomunitariType.permesso == 'SOGGIORNO'">
			   	<label for="deadline">Scadenza permesso di soggiorno:</label>
			  	<input type="date" class="form-control" id="deadline" name="pDeadline" placeholder="Inserisci data scadenza nel formato aaaa-MM-gg" min="2014-01-01" ng-model="extracomunitariType.scadenzaPermessoSoggiorno" ng-required="isUeCitizen() != 'true' && extracomunitariType.permesso == 'SOGGIORNO'">
				<div class="alert alert-danger" ng-show="!initForm() && form.pDeadline.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
				<div class="alert alert-danger" ng-show="!initForm() && form.pDeadline.$error.required">Inserire un valore nel campo 'Scadenza permesso di Soggiorno'</div>
			</div>
			<div class="form-group" ng-show="extracomunitariType.permesso == 'SOGGIORNO'">
				<label for="ticket">Ricevuta Permesso (USERID):</label>
				<input type="text" class="form-control" id="ticket" name="pUserID" placeholder="Inserisci codice ricevuta" ng-model="extracomunitariType.ricevutaPermessoSoggiorno" ng-required="isUeCitizen() != 'true' && extracomunitariType.permesso == 'SOGGIORNO'">
<!-- 				<div class="alert alert-danger" ng-show="!initForm() && form.pUserID.$error.required">Campo 'Ricevuta permesso di soggiorno' obbligatorio.</div> -->
			</div>
			<div class="form-group" ng-show="extracomunitariType.permesso == 'SOGGIORNO'">
				<label for="job">Lavoro:</label>
				<select id="job" name="pJob" class="form-control" ng-options="job.value as job.title for job in jobs" ng-model="extracomunitariType.lavoro" ng-required="isUeCitizen() == 'false' && extracomunitariType.permesso == 'SOGGIORNO'">
					<option value="">Seleziona lavoro</option>
				</select>
				<div class="alert alert-danger" ng-show="!initForm() && form.pJob.$error.required" >Campo 'Lavoro' obbligatorio.</div>
			</div>
<!-- 			<div class="form-group" ng-show="extracomunitariType.permesso != 'CE'"> -->
<!-- 				<label for="ticket">Ricevuta permesso di soggiorno:</label> -->
<!-- 				<input type="text" class="form-control" id="ticket" name="pTicket" placeholder="Inserisci codice ricevuta" ng-model="extracomunitariType.ricevutaPermessoSoggiorno" ng-required="isUeCitizen() != 'true' && extracomunitariType.permesso == 'CE'"> -->
<!-- 				<div class="alert alert-danger" ng-show="!initForm() && form.pTicket.$error.required">Campo 'Ricevuta permesso di soggiorno' obbligatorio.</div> -->
<!-- 			</div> -->
		</div>
	</div>
	<div class="form-group">	
    	<label for="residence">Residenza in Provincia di Trento (almeno 3 anni in via continuativa): </label>&nbsp;
   		<select id="residence" name="pResidence" class="form-control" ng-options="yn.code as yn.title for yn in yes_no" ng-model="residenzaType.residenzaTN" required >
   			<option value="">Scegli Si o No</option>
   		</select>
   		<div class="alert alert-danger" ng-show="!initForm() && form.pResidence.$error.required">Campo obbligatorio: selezionare 'Si' o 'No'.</div>
		<!-- <input type="checkbox" id="residence" ng-model="residenzaType.residenzaTN"> -->
   	</div>
   	<div class="form-group">
    	<label for="lodging">Proprietario nell'ultimo triennio di alloggio adeguato: </label>&nbsp;
    	<select id="lodging" name="pLodging" class="form-control" ng-options="yn.code as yn.title for yn in yes_no" ng-model="residenzaType.alloggioAdeguato" required >
    		<option value="">Scegli Si o No</option>
    	</select>
    	<div class="alert alert-danger" ng-show="!initForm() && form.pLodging.$error.required">Campo obbligatorio: selezionare 'Si' o 'No'.</div>
		<!-- <input type="checkbox" id="lodging" ng-model="residenzaType.alloggioAdeguato"> -->
    </div>
    <div class="panel panel-default">
	    <div class="panel-body">
		    <div class="form-group">
		    	<label for="family_mem_all">Numero componenti occupanti l'alloggio: </label>
		    	<input type="number" class="form-control" id="family_mem_all" name="pFamilyM" placeholder="Inserisci numero componenti nucleo famigliare" min="1" ng-model="infoAlloggio.ocupantiAlloggio" ng-pattern="onlyNumbers">
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyM.$error.required">Campo 'Numero componenti Famiglia' mancante o non corretto.</div>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyM.$error.pattern">Valore inserito non numerico.</div>
		   	</div>
		   	<div class="form-group">
		    	<label for="family_rooms">Numero stanze da letto: </label>
		    	<input type="number" class="form-control" id="family_rooms" name="pFamilyR" placeholder="Inserisci numero camere da letto" ng-change="checkInidoneo()" min="1" ng-model="infoAlloggio.stanzeLetto" ng-pattern="onlyNumbers">
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyR.$error.required">Campo 'Numero componenti Famiglia' mancante o non corretto.</div>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyR.$error.pattern">Valore inserito non numerico.</div>
		   	</div>
		    <div class="form-group">
			    <label for="residence_type">Tipo di residenza:</label>
			    <select id="residence_type" name="pResidence" class="form-control" ng-options="rtype.value as rtype.title for rtype in rtypes" ng-model="residenzaType.tipoResidenza" ng-show="!isInidoneoForRoomsNum" ng-required="!isInidoneoForRoomsNum">
			    	<option value="">Seleziona tipo di residenza</option>
			    </select>
			    <select id="residence_type" name="pResidence" class="form-control" ng-options="rtype.value as rtype.title for rtype in rtypes_inidoneo" ng-model="residenzaType.tipoResidenza" ng-show="isInidoneoForRoomsNum" ng-required="isInidoneoForRoomsNum">
			    	<option value="">Seleziona tipo di residenza</option>
					<!-- <option ng-show="isInidoneoForRoomsNum" value="ALLOGGIO_INIDONEO">Inidoneo per numero di stanze da letto</option> -->
			    </select>
			   	<div class="alert alert-danger" ng-show="!initForm() && form.pResidence.$error.required">Campo 'Tipo residenza' obbligatorio.</div>
			</div>
		</div>
	</div>

   	<div class="form-group">
    	<label for="family_mem">Numero componenti provenienti da strutture, enti, aziende residenziali di cura, assistenza, accoglienza, recupero o strutture carcerarie (massimo 2):</label>
    	<input type="number" class="form-control" id="family_mem" name="pFamily" placeholder="Inserisci numero componenti nucleo famigliare" min="0" max="2" ng-model="residenzaType.numeroComponenti" ng-pattern="onlyNumbers" required>
   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamily.$error.required">Campo mancante o non corretto.</div>
   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamily.$error.max">Campo non corretto.Inserire un valore pi&ugrave; piccolo</div>
   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamily.$error.min">Campo non corretto.Inserire un valore pi&ugrave; grande</div>
   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamily.$error.pattern">Valore inserito non numerico.</div>
   	</div>
   	
   	<div class="form-group">
    	<label for="icef_num">Numero domanda ICEF (da inserire dopo la creazione della domanda):</label>
    	<input type="text" class="form-control" id="icef_num" name="pIcef" placeholder="Inserisci Numero domanda ICEF" ng-model="domandaType.numeroDomandaIcef" required >
   		<div class="alert alert-danger" ng-show="!initForm() && form.pIcef.$error.required">Campo 'Numero domanda ICEF' obbligatorio.</div>
   	</div>
   	
   	<table width="100%">
   	<tr>
   	<td><button type="button" class="btn btn-default" ng-click="prevTab()" ng-show="tabIndex !== 0"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
   	<td align="center"><button  type="button" class="btn btn-default" ng-click="reset()">RESET</button></td>
   	<td align="right"><button type="button" class="btn btn-primary" ng-click="nextTab(form.$invalid, 1, extracomunitariType,residenzaType, domandaType, practice)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
<!--    	<td align="right"><button type="button" class="btn btn-primary" ng-click="createPracticeTest(extracomunitariType,residenzaType, domandaType, practice); nextTab(form.$invalid)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td> -->
   	</tr>
   	</table>
   	
    
</form>