<form role="form" name="form" >
   	
	<div class="panel panel-default" ng-show="!isLoadingPSC">
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Componenti</strong></h3>
  		</div>
  		<div class="panel-body">
	   		<table width="100%">
	   			<tr>
					<th>Nome e Cognome</th>
					<th>data di nascita</th>
					<th>Parentela</th>
					<th>Stato Civile</th>
				</tr>
				<tbody class="animate-repeat" ng-repeat="c in componenti">
				<tr>
					<td>{{ c.persona.nome }} {{c.persona.cognome }}</td>
					<td>{{ (c.persona.dataNascita | date:"dd/MM/yyyy") }}</td>
					<td>
						<select id="c_parentela" name="pParentela" ng-options="a.value as a.name for a in affinities" ng-model="c.parentela" ng-disabled="c.richiedente == true">
			    		<option value="">{{ c.parentela | codeToName: affinities }}</option>
			    		</select>
		    		</td>
					<td>
						<select id="c_sciv" name="pSCiv" ng-options="m.value as m.name for m in maritals" ng-model="c.statoCivile" > <!-- ng-change="checkSeparationSent(c.statoCivile)"> -->
			    			<option value="">{{ c.statoCivile | codeToName: maritals }}</option>
			    		</select>
		    		</td>
				</tr>
	   		</table>
	   		<hr>
	   		<div class="panel panel-default" ng-show="isSeparationVisible" >
		   		<div class="panel-heading">
		    		<h3 class="panel-title"><strong>Sezione per Coniugi con Sentenza di Separazione</strong></h3>
		  		</div>
		  		<div class="panel-body">
		  			<div class="form-group">
				    	<label for="consensual_sep">Sentenza di separazione consensuale: </label>&nbsp;
				    	<input type="radio" ng-model="separationType" value="consensual" id="consensual_sep">
				    </div>
				    <div class="form-group" ng-show="separationType=='consensual'">
						<label for="sentence_date">Omologata in data: </label>
						<input type="date" class="form-control" id="sentence_date" name="pSentDate" placeholder="Inserisci data omologazione nel formato aaaa-MM-gg" ng-model="sep.data" ng-required="separationType=='consensual'">
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentDate.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentDate.$error.required">Inserire un valore nel campo 'Data omologazione'</div>
					</div>
					<div class="form-group" ng-show="separationType=='consensual'">
						<label for="sentence_tribunal">Dal Tribunale di: </label>
						<input type="text" class="form-control" id="sentence_tribunal" name="pSentTrib" placeholder="Inserisci comune Tribunale" ng-model="sep.trib" ng-required="separationType=='consensual'" >
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentTrib.$error.required">Inserire un valore nel campo 'Tribunale di omologazione'</div>
					</div>
				    <div class="form-group">	
				    	<label for="judicial_sep">Sentenza di separazione giudiziale: </label>&nbsp;
				    	<input type="radio" ng-model="separationType" value="judicial" id="judicial_sep">
				   	</div>
				   	<div class="form-group" ng-show="separationType=='judicial'">
						<label for="sentence_date">Emessa in data: </label>
						<input type="date" class="form-control" id="sentence_date" name="pSentDate" placeholder="Inserisci data omologazione nel formato aaaa-MM-gg" ng-model="sep.data" ng-required="separationType=='judicial'">
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentDate.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentDate.$error.required">Inserire un valore nel campo 'Data emissione'</div>
					</div>
					<div class="form-group" ng-show="separationType=='judicial'">
						<label for="sentence_tribunal">Dal Tribunale di: </label>
						<input type="text" class="form-control" id="sentence_tribunal" name="pSentTrib" placeholder="Inserisci comune Tribunale" ng-model="sep.trib" ng-required="separationType=='judicial'" >
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentTrib.$error.required">Inserire un valore nel campo 'Tribunale di emissione'</div>
					</div>
				   	<div class="form-group">
				    	<label for="tmp_act">Provvedimento temporaneo giudiziale (in attesa di sentenza di separazione) </label>&nbsp;
				    	<input type="radio" ng-model="separationType" value="tmp" id="tmp_act">
				   	</div>
				   	<div class="form-group" ng-show="separationType=='tmp'">
						<label for="sentence_tribunal">Del Tribunale di: </label>
						<input type="text" class="form-control" id="sentence_tribunal" name="pSentTrib" placeholder="Inserisci comune Tribunale" ng-model="sep.trib" ng-required="separationType=='tmp'" >
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentTrib.$error.required">Inserire un valore nel campo 'Tribunale di emissione'</div>
					</div>
				   	<div class="form-group" ng-show="separationType=='tmp'">
						<label for="sentence_date">Emessa in data: </label>
						<input type="date" class="form-control" id="sentence_date" name="pSentDate" placeholder="Inserisci data omologazione nel formato aaaa-MM-gg" ng-model="sep.data" ng-required="separationType=='tmp'">
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentDate.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
						<div class="alert alert-danger" ng-show="!initForm() && form.pSentDate.$error.required">Inserire un valore nel campo 'Data emissione'</div>
					</div>
					<div class="form-group">
				    	<label for="nothing_sep">Nessuno dei precedenti: </label>&nbsp;
				    	<input type="radio" ng-model="separationType" value="nothing" id="nothing_sep" ng-change="resetSep()" ><!-- ng-click='resetSep()' -->
				    </div>
				   	<table width="100%">
						<tr>			
				   			<td><button type="button" class="btn btn-default" ng-click="hideSeparation()">Annulla</button></td>
				   			<td></td>
				   			<td align="right"><button type="button" class="btn btn-primary" ng-click="salvaSeparazione()">OK</button></td>
				   		</tr>
		   			</table>
		  		</div>
	   		</div>
	   		
	   		<table width="100%">
				<tr>			
		   			<td></td>
		   			<td></td>
		   			<td align="right"><button type="button" class="btn btn-primary" ng-click="salvaModificheSC()">Salva Modifiche</button></td>
		   		</tr>
   			</table>
		</div>
   	</div>
   	
   	<div class="panel panel-default" ng-show="isLoadingPSC">
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Componenti</strong></h3>
  		</div>
  		<div class="panel-body">
	  		<div class="row" style="height: 90px; margin-top: 20px">
				<div style="text-align: center">
					<img src="img/ajax-loader.gif" width="40" height="40" /><br>
					<h3>LOADING...</h3>
				</div>
			</div>
  		</div>
  	</div>	
	
	<table width="100%">
		<tr>			
   			<td><button type="button" class="btn btn-default" ng-click="prevTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
   			<td align="center"><button type="button" class="btn btn-default" ng-click="reset()">RESET</button></td>
   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextTab(form.$invalid, 4, null, null, null, null)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
   		</tr>
   	</table>	
</form>