<form role="form" name="form" >

	<tabset>
		<tab  ng-repeat="ft in family_tabs" heading="{{ ft.title }}" active="ft.active" disabled="ft.disabled" select="setIndexFamily($index)">
			<br>
			<div class="panel panel-default" >
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>Dati Anagrafici Componente</strong></h3>
				</div>
				<div class="panel-body">
					<table width="100%">
			   			<tr>
							<td width="50%">Data di nascita: <strong>{{ (ft.content.persona.dataNascita | date:"dd/MM/yyyy") }}</strong></td></span>
							<td width="50%">Richiedente: <strong>{{ ft.content.richiedente | boolToString }}</strong></td>
						</tr>
						<tr>
							<td>Parentela: <strong>{{ ft.content.parentela | codeToName: affinities }}</strong></td>
							<td>Stato Civile: <strong>{{ ft.content.statoCivile | codeToName: maritals }}</strong></td>
						</tr>
			   		</table>
			   	</div>
			</div>
			   		
			<div class="panel panel-default" >
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>Dati Personali Componente</strong></h3>
				</div>
				<div class="panel-body">
					<div class="panel panel-default">
			  			<div class="panel-body">
			  				<!-- Inserire qui la selezione dei comuni e le date dal -> al -->
			  			</div>
					</div>
				   	<div class="form-group">
				    	<label for="residence_years">Numero anni di residenza: (per componente con valore maggiore - solo numero intero)</label>&nbsp;
				    	<input type="number" class="form-control" id="residence_years" ng-model="ft.content.variazioniComponente.anniResidenza" min="0" >
				    </div>
				    <div class="form-group">	
				    	<label for="residence_years_municipality">Numero anni di residenza nel comune in cui &egrave; ubicato l'alloggio: (non usato)</label>&nbsp;
				   		<input id="residence_years_municipality" type="number" class="form-control" ng-model="ft.content.variazioniComponente.anniResidenzaComune" >
				   	</div>
				   	<div class="form-group">
				    	<label for="job_old">Anzianit&agrave; lavorativa: (per componente con valore maggiore - anche frazione - con maggiore sei mesi aumenta l'anno)</label>
				    	<input id="job_old" type="number" class="form-control" name="pJobOld" placeholder="Inserisci anzianita' lavorativa" ng-model="ft.content.variazioniComponente.anniLavoro">
				   	</div>
				   	<div class="form-group" ng-show="ft.content.persona.sesso != 'MASCHILE'">
					    <label for="working_woman">Coniuge o Convivente lavoratrice in presenza di figli minori:</label>
					    <input type="checkbox" id="working_woman" ng-model="ft.content.variazioniComponente.donnaLavoratrice">
					</div>
		<!--		<div class="form-group"> -->
		<!--		    <label for="family_guest">Ospite: (tolto perche mai usato)</label> -->
		<!--		    <input type="checkbox" id="family_guest" ng-model="componenteTmpEdit.variazioniComponente.ospite"> -->
		<!--		</div> -->
					<div class="form-group">
					    <label for="not_keeping_lodging">Non occupa l'alloggio: (marito separato di fatto che abita in un altro alloggio)</label>
					    <input type="checkbox" id="not_keeping_lodging" ng-model="ft.content.variazioniComponente.fuoriAlloggio">
					</div>
		<!--		<div class="form-group"> -->
		<!--		    <label for="mem_dis_type">Categoria d'invalidit&agrave; (minore di 18 anni o ultra 65enne inserire codice):</label> -->
		<!--		    <select id="mem_dis_type" name="pMemDisType" class="form-control" ng-options="d.value as d.name for d in disabilities" ng-model="componenteTmpEdit.variazioniComponente.categoriaInvalidita"> -->
		<!--		   		<option value="">Seleziona la categoria</option> -->
		<!--		   	</select> -->
		<!--		</div> -->
		
					<div class="panel panel-default">
			  			<div class="panel-body">
				  			<div class="form-group" ng-show="!under_18">
							    <label for="mem_disability">Grado d'invalidit&agrave;(%) per soggetti tra 18 e 64 anni inserire solo la percentuale:</label>
							    <input type="number" class="form-control" id="mem_disability" name="pMemDisability" placeholder="Inserisci percentuale grado di invalidit&agrave;" ng-model="ft.content.variazioniComponente.gradoInvalidita" ng-pattern="onlyNumbers">
							   	<div class="alert alert-danger" ng-show="!initForm() && form.pMemDisability.$error.onlyNumbers">Valore non corretto. Inserire un valore numerico</div>
							</div>
							<div class="form-group">
							    <label for="under_18">Invalido Minore di 18 anni </label>
							    <input type="checkbox" id="under_18">
							</div>
							<div class="form-group">
							    <label for="under_18">Invalido ultra 65enne (inserire codice)</label>
							    <input type="checkbox" id="under_18">
							</div>
							<div class="form-group">
						    	<label for="family_residence">Categoria d'invalidit&agrave;: (per categoria 01 non calcola, altrimenti equivale 100)</label>
						    	<input type="text" class="form-control" id="family_residence" name="pFamilyResidence" placeholder="Inserisci Indirizzo Residenza" ng-model="ft.content.variazioniComponente.categoriaInvalidita" ng-required="showEditComponents" >
							<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyResidence.$error.required">Campo 'Indirizzo Residenza' obbligatorio.</div>
						   	</div>
						   	<div class="form-group">
							    <label for="under_18">Invalido Cieco </label>
							    <input type="checkbox" id="under_18">
							</div>
							<div class="form-group">
							    <label for="under_18">Invalido Sordomuto</label>
							    <input type="checkbox" id="under_18">
							</div>
			  			</div>
					</div>
					
				    <div class="form-group">
					   	<label for="fam_municipality">Comune di Residenza: (solo per richiedente)</label>
					  	<select id="fam_municipality" name="pFamMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="ft.content.variazioniComponente.idComuneResidenza" ng-required="showEditComponents">
					   		<option value="">Seleziona il comune</option>
					   	</select>
					   	<div class="alert alert-danger" ng-show="!initForm() && form.pFamMunicipality.$error.required">Campo 'Comune Residenza' obbligatorio.</div>
					</div>
					<div class="form-group">
				    	<label for="family_residence">Indirizzo di Residenza: (solo per richiedente)</label>
				    	<input type="text" class="form-control" id="family_residence" name="pFamilyResidence" placeholder="Inserisci Indirizzo Residenza" ng-model="ft.content.variazioniComponente.indirizzoResidenza" ng-required="showEditComponents" >
				   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyResidence.$error.required">Campo 'Indirizzo Residenza' obbligatorio.</div>
				   	</div>
				   	<div class="form-group">
				    	<label for="family_civicnum">Numero civico: (solo per richiedente)</label>
				    	<input type="text" class="form-control" id="family_civicnum" name="pCivicNum" placeholder="Inserisci Numero civico" ng-model="ft.content.variazioniComponente.numeroCivico" ng-required="showEditComponents" >
				   		<div class="alert alert-danger" ng-show="!initForm() && form.pCivicNum.$error.required">Campo 'Numero civico' obbligatorio.</div>
				   	</div>
				   	<div class="form-group">
				    	<label for="family_phone">Telefono: (solo per richiedente)</label>
				    	<input type="text" class="form-control" id="family_phone" name="pFamilyPhone" placeholder="Inserisci Numero di telefono" ng-pattern="onlyNumbers" ng-model="ft.content.variazioniComponente.telefono" >
				   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyPhone.$error.onlyNumbers">Valore non corretto nel campo telefono. Inserire un valore numerico</div>
				   	</div>
		<!--	   	<div class="form-group"> -->
		<!--		    <label for="family_richiedente">Richiedente:</label> -->
		<!--		    <input type="checkbox" id="family_richiedente" ng-model="componenteTmpEdit.richiedente" ng-disabled="true"> -->
		<!--		</div> -->
		<!--	   	<div class="form-group"> -->
		<!--	    	<label for="applicant_marital_status">Stato civile:</label> -->
		<!--	    	<select id="applicant_marital_status" name="pApplicantMaritalStatus" class="form-control" ng-options="m.value as m.name for m in maritals" ng-model="componenteTmpEdit.statoCivile" >ng-required="showEditComponents" -->
		<!--	    		<option value="">Seleziona stato civile</option> -->
		<!--	    	</select> -->
		<!--	   		<div class="alert alert-danger" ng-show="!initForm() && form.pApplicantMaritalStatus.$error.required">Campo 'Stato civile' obbligatorio.</div> -->
		<!--	   	</div> -->
					<div class="form-group">
				    	<label for="family_note">Note:</label>
				    	<textarea id="family_note" ng-model="ft.content.variazioniComponente.note"></textarea>
				   	</div>
				   	<hr>
			   		<table width="100%">
						<tr>			
				   			<td><button type="button" class="btn btn-default" ng-click="prevFamilyTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
				   			<td align="center"><button type="button" class="btn btn-default" ng-click="reset()">RESET</button></td>
				   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextFamilyTab(form.$invalid, ft.content)">{{buttonNextLabelFamily}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
				   		</tr>
				   	</table>
				</div>
			</div>
			
		</tab>
	</tabset>
	
	<table width="100%">
		<tr>			
   			<td><button type="button" class="btn btn-default" ng-click="prevTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
   			<td align="center"><button type="button" class="btn btn-default" ng-click="reset()">RESET</button></td>
   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextTab(form.$invalid, 3, null, null, null, null)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
   		</tr>
   	</table>	
</form>