<form role="form" name="form" >

	<tabset>
		<tab  ng-repeat="ft in family_tabs" heading="{{ ft.title }}" active="ft.active" disabled="ft.disabled" select="setIndexFamily($index)">
			<br>
			<div class="panel panel-default" >
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>Dati Anagrafici Componente</strong></h3>
				</div>
				<div class="panel-body">
					<table width="100%">
			   			<tr>
							<td width="50%">Data di nascita: <strong>{{ (ft.content.persona.dataNascita | date:"dd/MM/yyyy") }}</strong></td></span>
							<td width="50%">Richiedente: <strong>{{ ft.content.richiedente | boolToString }}</strong></td>
						</tr>
						<tr>
							<td>Parentela: <strong>{{ ft.content.parentela | codeToName: affinities }}</strong></td>
							<td>Stato Civile: <strong>{{ ft.content.statoCivile | codeToName: maritals }}</strong></td>
						</tr>
			   		</table>
			   	</div>
			</div>
			   		
			<div class="panel panel-default" >
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>Dati Personali Componente</strong></h3>
				</div>
				<div class="panel-body">
					<div class="panel panel-default" ng-show="isSRFormVisible == true">
			  			<div class="panel-heading">
			   				<h3 class="panel-title"><strong>Anni di Residenza</strong></h3>
						</div>
			  			<div class="panel-body">
			  				<table  width="100%">
								<tr>
									<th>Comune</th>
									<th>Dal </th>
									<th>Al</th>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<td>
										<select id="fam_municipality" name="pFamMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="sr.idComuneResidenza">
					   					<option value="">Seleziona comune di residenza</option>
					   					</select>
						    		</td>
									<td>
			  							<input type="date" class="form-control" id="fromDate" name="pFromDate" placeholder="Inserisci data di partenza nel formato aaaa-MM-gg" ng-pattern="datePattern" ng-model="sr.dataDa">
										<div class="alert alert-danger" ng-show="!initForm() && form.pFromDate.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
										<div class="alert alert-danger" ng-show="!initForm() && form.pFromDate.$error.required">Inserire un valore nel campo 'Data da'</div>
						    		</td>
						    		<td>
										<input type="date" class="form-control" id="toDate" name="pToDate" placeholder="Inserisci data di partenza nel formato aaaa-MM-gg" ng-pattern="datePattern" ng-model="sr.dataA">
										<div class="alert alert-danger" ng-show="!initForm() && form.pToDate.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
										<div class="alert alert-danger" ng-show="!initForm() && form.pToDate.$error.required">Inserire un valore nel campo 'Data a'</div>
									</td>
									<td>
										&nbsp;
									</td>
									<td align="right"><button type="button" class="btn btn-primary" ng-click="addStoricoRes(sr)">Aggiungi periodo</button></td>
								</tr>
					   		</table>
					   		&nbsp;
					   		<div class="panel panel-default" ng-show="storicoResidenza.length > 0">
					   			<div class="panel-heading">
							   		<h3 class="panel-title"><strong>Storico Residenze in comuni della provincia di Trento</strong></h3>
								</div>
			  					<div class="panel-body">
					  				<table width="100%">
							   			<tr>
											<th>Comune</th>
											<th>Dal </th>
											<th>Al</th>
											<th></th>
										</tr>
					  					<tbody class="animate-repeat" ng-repeat="s in storicoResidenza"> <!-- track by $index -->
										<tr>
											<td>
		<!-- 										<select id="fam_municipality_1" name="pFamMunicipality_1" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="s.idComuneResidenza"> -->
		<!-- 					   					<option value="">Seleziona comune di residenza</option> -->
		<!-- 					   					</select> -->
												{{ getComuneById(s.idComuneResidenza,2) }}
								    		</td>
											<td>
		<!-- 			  							<input type="date" class="form-control" id="fromDate_1" name="pFromDate_1" placeholder="Inserisci data di partenza nel formato aaaa-MM-gg" ng-pattern="datePattern" ng-model="s.dataDa"> -->
		<!-- 										<div class="alert alert-danger" ng-show="!initForm() && form.pFromDate_1.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div> -->
		<!-- 										<div class="alert alert-danger" ng-show="!initForm() && form.pFromDate_1.$error.required">Inserire un valore nel campo 'Data da'</div> -->
								    			{{ (s.dataDa | date:"dd/MM/yyyy") }}
								    		</td>
								    		<td>
		<!-- 										<input type="date" class="form-control" id="toDate_1" name="pToDate_1" placeholder="Inserisci data di partenza nel formato aaaa-MM-gg" ng-pattern="datePattern" ng-model="s.dataA"> -->
		<!-- 										<div class="alert alert-danger" ng-show="!initForm() && form.pToDate_1.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div> -->
		<!-- 										<div class="alert alert-danger" ng-show="!initForm() && form.pToDate_1.$error.required">Inserire un valore nel campo 'Data a'</div> -->
												{{ (s.dataA | date:"dd/MM/yyyy") }}
											</td>
											<td>
												<button type="button" class="btn btn-primary" ng-click="deleteStoricoRes(s)">Cancella</button>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
					   		<hr>
					   		<table width="100%">
								<tr>			
						   			<td></td>
						   			<td align="center"></td>
						   			<td align="right"><button type="button" class="btn btn-primary" ng-click="calcolaStoricoRes(ft.content)">Calcola Anni</button></td>
						   		</tr>
						   	</table>
			  			</div>
					</div>
					<div class="form-group" ng-show="isSRFormVisible != true">
				    	<label for="residence_years">Numero anni di residenza (per componente con valore maggiore) : </label>
				    	<table width="100%">
				   			<tr>
				   				<td><input type="number" class="form-control" id="residence_years" placeholder="Inserisci anni residenza" ng-model="ft.content.variazioniComponente.anniResidenza" min="0" disabled ></td>
				    			<td align="right"><button type="button" class="btn btn-primary" ng-click="showSRForm()">Inserisci/Modifica</button></td>
				    		</tr>
				    	</table>
				    </div>
				    <div class="form-group">	
				    	<label for="residence_years_municipality">Numero anni di residenza nel comune in cui &egrave; ubicato l'alloggio: </label>&nbsp;
				   		<input id="residence_years_municipality" type="number" class="form-control" ng-model="ft.content.variazioniComponente.anniResidenzaComune" >
				   	</div>
					<div class="panel panel-default" ng-show="isALFormVisible == true">
			  			<div class="panel-heading">
			   				<h3 class="panel-title"><strong>Anzianit&agrave; lavorativa</strong></h3>
						</div>
			  			<div class="panel-body">
			  				<table  width="100%">
								<tr>
									<th>Anni</th>
									<th>e Mesi</th>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<td>
			  							<input id="job_old_y" type="number" class="form-control" name="pJobOldY" placeholder="Inserisci anni anzianita' lavorativa" ng-model="comp.anniLavoro" ng-pattern="onlyNumbers">
										<div class="alert alert-danger" ng-show="!initForm() && form.pJobOldY.$error.pattern">Valore non corretto. Inserire un valore numerico</div>
						    		</td>
									<td>
			  							<input id="job_old_m" type="number" class="form-control" name="pJobOldM" placeholder="Inserisci mesi restanti anzianita' lavorativa" ng-model="comp.mesiLavoro" ng-pattern="onlyNumbers">
										<div class="alert alert-danger" ng-show="!initForm() && form.pJobOldM.$error.pattern">Valore non corretto. Inserire un valore numerico</div>
						    		</td>
									<td>
										&nbsp;
									</td>
									<td align="right"><button type="button" class="btn btn-primary" ng-click="calcolaAnzianitaLav(comp, ft.content)">Calcola anni</button></td>
								</tr>
					   		</table>
			  			</div>
					</div>
				   	<div class="form-group" ng-show="isALFormVisible != true">
				   		<label for="job_old">Anzianit&agrave; lavorativa: </label>
				   		<table width="100%">
				   			<tr>
				   				<td><input id="job_old" type="number" class="form-control" name="pJobOld" placeholder="Inserisci anzianita' lavorativa" ng-model="ft.content.variazioniComponente.anniLavoro" disabled></td>
				   				<td align="right"><button type="button" class="btn btn-primary" ng-click="showALForm()">Inserisci/Modifica</button></td>
				   			</tr>
				   		</table>   	
				   	</div>
				   	<div class="form-group" ng-show="ft.content.persona.sesso != 'MASCHILE'">
					    <label for="working_woman">Coniuge o Convivente lavoratrice in presenza di figli minori:</label>
					    <input type="checkbox" id="working_woman" ng-model="ft.content.variazioniComponente.donnaLavoratrice">
					</div>
		<!--		<div class="form-group"> -->
		<!--		    <label for="family_guest">Ospite: (tolto perche mai usato)</label> -->
		<!--		    <input type="checkbox" id="family_guest" ng-model="componenteTmpEdit.variazioniComponente.ospite"> -->
		<!--		</div> -->
					<div class="form-group">
					    <label for="not_keeping_lodging">Non occupa l'alloggio: (marito separato di fatto che abita in un altro alloggio)</label>
					    <input type="checkbox" id="not_keeping_lodging" ng-model="ft.content.variazioniComponente.fuoriAlloggio">
					</div>
		<!--		<div class="form-group"> -->
		<!--		    <label for="mem_dis_type">Categoria d'invalidit&agrave; (minore di 18 anni o ultra 65enne inserire codice):</label> -->
		<!--		    <select id="mem_dis_type" name="pMemDisType" class="form-control" ng-options="d.value as d.name for d in disabilities" ng-model="componenteTmpEdit.variazioniComponente.categoriaInvalidita"> -->
		<!--		   		<option value="">Seleziona la categoria</option> -->
		<!--		   	</select> -->
		<!--		</div> -->
		
					<div class="panel panel-default">
			  			<div class="panel-body">
			  				<div class="form-group">
							    <label for="under_18">Invalido Minore di 18 anni (selezionare codice): </label>
							    <input type="radio" ng-model="invalid_age" value="under18" id="under_18">
							</div>
							<div class="form-group" ng-show="invalid_age=='under18'">
						    	<label for="family_invalid_cat">Categoria d'invalidit&agrave;: (per categoria 01 non calcola, altrimenti equivale 100)</label>
								<!-- <input type="text" class="form-control" id="family_invalid_cat" name="pFamilyInvalidCat" placeholder="Seleziona Categoria di invalidit&agrave;" ng-model="ft.content.variazioniComponente.categoriaInvalidita" ng-required="invalid_age=='under18'" > -->
								<select id="family_invalid_cat" name="pFamilyInvalidCat" class="form-control" ng-options="d.value as d.name for d in disabilities_under18" ng-model="ft.content.variazioniComponente.categoriaInvalidita" ng-required="invalid_age=='under18'">
					   			<option value="">Seleziona la categoria di disabilit&agrave;.</option>
					   			</select>
								<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyInvalidCat.$error.required">Campo 'Categoria' obbligatorio per l'et&agrave; del disabile selezionata.</div>
						   	</div>
							<div class="form-group">
							    <label for="between_18_65">Invalido con et&agrave; compresa tra i 18 e i 65 anni </label>
							    <input type="radio" ng-model="invalid_age" value="between1865" id="between_18_65">
							</div>
				  			<div class="form-group" ng-show="invalid_age=='between1865'">
							    <label for="mem_disability">Grado d'invalidit&agrave;(%): </label>
							    <input type="number" class="form-control" id="mem_disability" name="pMemDisability" min="0" max="100" placeholder="Inserisci percentuale grado di invalidit&agrave;" ng-model="ft.content.variazioniComponente.gradoInvalidita" ng-pattern="onlyNumbers" ng-required="invalid_age=='between1865'" ng-change="clearDisabilityCat()">
							   	<div class="alert alert-danger" ng-show="!initForm() && form.pMemDisability.$error.onlyNumbers">Valore non corretto. Inserire un valore numerico</div>
							   	<div class="alert alert-danger" ng-show="!initForm() && form.pMemDisability.$error.required">Grado di invalidit&agrave; obbligatorio per la categoria selezionata.</div>
								<div class="alert alert-danger" ng-show="!initForm() && !form.pMemDisability.$valid">Grado di invalidit&agrave; non corretto. Inserire un valore compreso tra 0 e 100.</div>
							</div>
							<div class="form-group">
							    <label for="over_65">Invalido ultra 65enne (selezionare codice): </label>
							    <input type="radio" ng-model="invalid_age" value="over65" id="over_65">
							</div>
						   	<div class="form-group" ng-show="invalid_age=='over65'">
						    	<label for="family_invalid_cat">Categoria d'invalidit&agrave;: (per categoria 01 non calcola, altrimenti equivale 100)</label>
								<!-- <input type="text" class="form-control" id="family_invalid_cat" name="pFamilyInvalidCat" placeholder="Seleziona Categoria di invalidit&agrave;" ng-model="ft.content.variazioniComponente.categoriaInvalidita" ng-required="invalid_age=='over65'" > -->
								<select id="family_invalid_cat" name="pFamilyInvalidCat" class="form-control" ng-options="d.value as d.name for d in disabilities_over65" ng-model="ft.content.variazioniComponente.categoriaInvalidita" ng-required="invalid_age=='over65'" >
					   			<option value="">Seleziona la categoria di disabilit&agrave;.</option>
					   			</select>
								<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyInvalidCat.$error.required">Campo 'Categoria' obbligatorio per l'et&agrave; del disabile selezionata.</div>
						   	</div>
						   	<div class="form-group">
							    <label for="blind">Invalido Cieco </label>
							    <input type="checkbox" id="blind">
							</div>
							<div class="form-group">
							    <label for="mute">Invalido Sordomuto</label>
							    <input type="checkbox" id="mute">
							</div>
			  			</div>
					</div>
					
				    <div class="form-group">
					   	<label for="fam_municipality">Comune di Residenza: (solo per richiedente)</label>
					  	<select id="fam_municipality" name="pFamMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="ft.content.variazioniComponente.idComuneResidenza" ng-required="showEditComponents" ng-show="ft.content.variazioniComponente.idComuneResidenza!=null">
					   		<option value="">{{ getComuneById(ft.content.variazioniComponente.idComuneResidenza,2) }}</option>
					   	</select>
					   	<select id="fam_municipality" name="pFamMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="ft.content.variazioniComponente.idComuneResidenza" ng-required="showEditComponents" ng-show="ft.content.variazioniComponente.idComuneResidenza==null">
					   		<option value="">Seleziona il comune di residenza</option>
					   	</select>
						<!-- <option value="">{{ getComuneById(ft.content.variazioniComponente.idComuneResidenza,2) }}</option> -->
					   	<div class="alert alert-danger" ng-show="!initForm() && form.pFamMunicipality.$error.required">Campo 'Comune Residenza' obbligatorio.</div>
					</div>
					<div class="form-group">
				    	<label for="family_residence">Indirizzo di Residenza: (solo per richiedente)</label>
				    	<input type="text" class="form-control" id="family_residence" name="pFamilyResidence" placeholder="Inserisci Indirizzo Residenza" ng-model="ft.content.variazioniComponente.indirizzoResidenza" ng-required="showEditComponents" >
				   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyResidence.$error.required">Campo 'Indirizzo Residenza' obbligatorio.</div>
				   	</div>
				   	<div class="form-group">
				    	<label for="family_civicnum">Numero civico: (solo per richiedente)</label>
				    	<input type="text" class="form-control" id="family_civicnum" name="pCivicNum" placeholder="Inserisci Numero civico" ng-model="ft.content.variazioniComponente.numeroCivico" ng-required="showEditComponents" >
				   		<div class="alert alert-danger" ng-show="!initForm() && form.pCivicNum.$error.required">Campo 'Numero civico' obbligatorio.</div>
				   	</div>
				   	<div class="form-group">
				    	<label for="family_phone">Telefono: (solo per richiedente)</label>
				    	<input type="text" class="form-control" id="family_phone" name="pFamilyPhone" placeholder="Inserisci Numero di telefono" ng-pattern="onlyNumbers" ng-model="ft.content.variazioniComponente.telefono" >
				   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyPhone.$error.onlyNumbers">Valore non corretto nel campo telefono. Inserire un valore numerico</div>
				   	</div>
		<!--	   	<div class="form-group"> -->
		<!--		    <label for="family_richiedente">Richiedente:</label> -->
		<!--		    <input type="checkbox" id="family_richiedente" ng-model="componenteTmpEdit.richiedente" ng-disabled="true"> -->
		<!--		</div> -->
		<!--	   	<div class="form-group"> -->
		<!--	    	<label for="applicant_marital_status">Stato civile:</label> -->
		<!--	    	<select id="applicant_marital_status" name="pApplicantMaritalStatus" class="form-control" ng-options="m.value as m.name for m in maritals" ng-model="componenteTmpEdit.statoCivile" >ng-required="showEditComponents" -->
		<!--	    		<option value="">Seleziona stato civile</option> -->
		<!--	    	</select> -->
		<!--	   		<div class="alert alert-danger" ng-show="!initForm() && form.pApplicantMaritalStatus.$error.required">Campo 'Stato civile' obbligatorio.</div> -->
		<!--	   	</div> -->
					<div class="form-group">
				    	<label for="family_note">Note:</label>
				    	<textarea id="family_note" ng-model="ft.content.variazioniComponente.note"></textarea>
				   	</div>
				   	<hr>
			   		<table width="100%">
						<tr>			
				   			<td><button type="button" class="btn btn-default" ng-click="prevFamilyTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
				   			<td align="center"><button type="button" class="btn btn-default" ng-click="reset()">RESET</button></td>
				   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextFamilyTab(form.$invalid, ft.content)">{{buttonNextLabelFamily}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
				   		</tr>
				   	</table>
				</div>
			</div>
			
		</tab>
	</tabset>
	
	<table width="100%">
		<tr>			
   			<td><button type="button" class="btn btn-default" ng-click="prevTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
   			<td align="center"></td>
   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextTab(form.$invalid, 3, null, null, null, null)" ng-disabled="allComponentsEdited == false">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
   		</tr>
   	</table>	
</form>