<form role="form" name="form" >

	<tabset>
		<tab  ng-repeat="ft in family_tabs" heading="{{ ft.title }}" active="ft.active" disabled="ft.disabled" select="setIndexFamily($index)">
			<br>
			<div class="panel panel-default" >
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>{{ 'nucleo_fam_det_title_form' | i18n }}</strong></h3>
				</div>
				<div class="panel-body">
					<table width="100%">
			   			<tr>
							<td width="50%">{{ 'date_of_birth_label_comp' | i18n }}: <strong>{{ (ft.content.persona.dataNascita | date:'shortDate') }}</strong></td></span>
							<td width="50%">{{ 'affinity_def_select_comp' | i18n }}: <strong>{{ ft.content.richiedente | boolToString }}</strong></td>
						</tr>
						<tr>
							<td>{{ 'affinity_label_comp' | i18n }}: <span ng-show="ft.content.richiedente == true"><strong>{{ 'affinity_def_select_comp' | i18n }}</strong></span><span ng-show="ft.content.richiedente != true"><strong>{{ ft.content.parentela | codeToName: affinities }}</strong></span></td>
							<td>{{ 'marital_status_label_comp' | i18n }}: <strong>{{ ft.content.statoCivile | codeToName: maritals }}</strong></td>
						</tr>
			   		</table>
			   	</div>
			</div>
			   		
			<div class="panel panel-default" >
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>{{ 'comp_fam_det_title_subform_max' | i18n }}</strong></h3>
				</div>
				<div class="panel-body">
				
<!-- 					<div class="panel panel-default" ng-show="isSRFormVisible == true"> -->
<!-- 			  			<div class="panel-heading"> -->
<!-- 			   				<h3 class="panel-title"><strong>{{ 'comp_fam_res_years_title' | i18n }}</strong></h3> -->
<!-- 						</div> -->
<!-- 			  			<div class="panel-body"> -->
<!-- 			  				<div ng-controller="InfoCtrl"> -->
<!-- 				  				<table  width="100%"> -->
<!-- 									<tr valign="bottom"> -->
<!-- 										<th width="30%">{{ 'comp_fam_res_municipality_title' | i18n }}</th> -->
<!-- 										<th width="7%"><img src="img/info.png" alt="{{ 'info_alt_title' | i18n }}" title="{{ 'info_alt_title' | i18n }}" ng-click="showInfo(11)">{{ 'comp_fam_res_aire_title' | i18n }}</th> -->
<!-- 										<th width="20%">{{ 'comp_fam_res_startdate' | i18n }}</th> -->
<!-- 										<th width="20%">{{ 'comp_fam_res_enddate' | i18n }}</th> -->
<!-- 										<th width="3%"></th> -->
<!-- 										<th width="20%"></th> -->
<!-- 									</tr> -->
<!-- 									<tr> -->
<!-- 										<td colspan="6"><div class="alert alert-info" ng-show="showInfo_11==true">{{ 'info_11' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(11)"><b>{{ 'info_close' | i18n }}</b></span></div></td> -->
<!-- 									</tr> -->
<!-- 								</table> -->
<!-- 							</div> -->
<!-- 							<table  width="100%">	 -->
<!-- 								<tr> -->
<!-- 									<td width="30%"> -->
<!-- 										<select id="fam_municipality" name="pFamMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="sr.idComuneResidenza"> -->
<!-- 					   					<option value="">{{ 'comp_fam_res_municipality_select' | i18n }}</option> -->
<!-- 					   					</select> -->
<!-- 						    		</td> -->
<!-- 						    		<td width="7%" align="center"> -->
<!-- 						    			<input type="checkbox" id="is_aire" ng-model="sr.isAire" name="pFamAireMunicipality" class="form-control"> -->
<!-- 									</td> -->
<!-- 									<td width="20%"> -->
<!-- 			  							<input id="fromDate" name="pFromDate" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="sr.dataDa" is-open="rStoricoResFromDate.open" ng-click="rStoricoResFromDate.open = true" datepicker-options="dateOptions" current-text="Oggi" clear-text="Cancella" close-text="Chiudi" show-weeks="false" /> -->
<!-- 										<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFromDate.$error.pattern">{{ 'comp_fam_res_startdate_error_pattern' | i18n }}</div> -->
<!-- 										<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFromDate.$error.required">{{ 'comp_fam_res_startdate_error_required' | i18n }}</div> -->
<!-- 						    		</td> -->
<!-- 						    		<td width="20%"> -->
<!-- 						    			<input id="toDate" name="pToDate" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="sr.dataA" is-open="rStoricoResToDate.open" ng-click="rStoricoResToDate.open = true" datepicker-options="dateOptions" current-text="Oggi" clear-text="Cancella" close-text="Chiudi" show-weeks="false" /> -->
<!-- 										<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pToDate.$error.pattern">{{ 'comp_fam_res_enddate_error_pattern' | i18n }}</div> -->
<!-- 										<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pToDate.$error.required">{{ 'comp_fam_res_enddate_error_required' | i18n }}</div> -->
<!-- 									</td> -->
<!-- 									<td width="3%"> -->
<!-- 										&nbsp; -->
<!-- 									</td> -->
<!-- 									<td width="20%" align="right"><button type="button" class="btn btn-success" ng-click="addStoricoRes(sr, ft.content)" alt="{{ 'comp_fam_add_period_text' | i18n }}" title="{{ 'comp_fam_add_period_text' | i18n }}" ><i class="glyphicon glyphicon-plus icon-white"></i></button></td>{{ 'comp_fam_add_period_text' | i18n }} -->
<!-- 								</tr> -->
<!-- 								<tr> -->
<!-- 									<td colspan="6"><div class="alert alert-danger" ng-show="(isErrorStoricoRes==true)">{{ errorsMessageStoricoRes }}</div></td> -->
<!-- 								</tr> -->
<!-- 					   		</table> -->
<!-- 					   		&nbsp; -->
<!-- 					   		<div class="panel panel-default" ng-show="storicoResidenza.length > 0"> -->
<!-- 					   			<div class="panel-heading"> -->
<!-- 							   		<h3 class="panel-title"><strong>{{ 'comp_fam_res_historic_title' | i18n }}</strong></h3> -->
<!-- 								</div> -->
<!-- 			  					<div class="panel-body"> -->
<!-- 					  				<table width="100%"> -->
<!-- 							   			<tr> -->
<!-- 											<th width="35%">{{ 'comp_fam_res_municipality_title' | i18n }}</th> -->
<!-- 											<th width="20%">{{ 'comp_fam_res_startdate' | i18n }}</th> -->
<!-- 											<th width="20%">{{ 'comp_fam_res_enddate' | i18n }}</th> -->
<!-- 											<th width="5%" align="center">{{ 'comp_fam_seniority_working_years_label' | i18n }}</th> -->
<!-- 											<th width="20%"></th> -->
<!-- 										</tr> -->
<!-- 					  					<tbody class="animate-repeat" ng-repeat="s in storicoResidenza"> -->
<!-- 										<tr> -->
<!-- 											<td> -->
<!-- 												<span ng-show="s.isAire == true">{{ 'comp_fam_res_historic_aire' | i18n }}</span> -->
<!-- 												{{ getComuneById(s.idComuneResidenza,2) }} -->
<!-- 								    		</td> -->
<!-- 											<td> -->
<!-- 								    			{{ (s.dataDa | date:'shortDate') }} -->
<!-- 								    		</td> -->
<!-- 								    		<td> -->
<!-- 												{{ (s.dataA | date:'shortDate') }} -->
<!-- 											</td> -->
<!-- 											<td align="right"> -->
<!-- 												{{ s.difference | millisToYears }} -->
<!-- 											</td> -->
<!-- 											<td align="center"> -->
<!-- 												<button type="button" class="btn btn-default" ng-click="deleteStoricoRes(s, ft.content)">{{ 'comp_fam_res_historic_del' | i18n }}</button> -->
<!-- 											</td> -->
<!-- 										</tr> -->
<!-- 										</tbody> -->
<!-- 										<tr ng-show="storicoResidenza.length > 0"><td colspan="5"><hr></td></tr> -->
<!-- 										<tr ng-show="storicoResidenza.length > 0"> -->
<!-- 											<td><b><p class="{{ textColorTotRes }}">{{ 'histor_residence_tot_label' | i18n }}</p></b></td> -->
<!-- 											<td></td> -->
<!-- 											<td></td> -->
<!-- 											<td align="right"><b><p class="{{ textColorTotRes }}">{{ residenzaAnni }}</p></b></td> -->
<!-- 											<td></td> -->
<!-- 										</tr> -->
<!-- 									</table> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 					   		<hr> -->
<!-- 					   		<table width="100%"> -->
<!-- 								<tr>			 -->
<!-- 						   			<td width="80%" align="center"></td> -->
<!-- 						   			<td width="10%" align="right"><button type="button" class="btn btn-default" ng-click="hideSRForm()">{{ 'annulla_button_res' | i18n }}</button></td> -->
<!-- 						   			<td width="10%" align="right"><button type="button" class="btn btn-default" ng-click="setSRFormVisible(false)">{{ 'ok_button' | i18n }}</button></td>calcolaStoricoRes(ft.content); -->
<!-- 						   		</tr> -->
<!-- 						   	</table> -->
<!-- 			  			</div> -->
<!-- 					</div> -->
					
					<div ng-controller="InfoCtrl">
				    	<div class="row">
		    				<div class="col-md-10">
		    					<label for="residence_years">{{ 'comp_fam_res_years_label_1' | i18n }}<u>{{ 'comp_fam_res_years_label_2' | i18n }}</u>: </label><!-- {{ 'comp_fam_res_years_label_3' | i18n }} -->
		    				</div>
		    				<div class="col-md-2" align="right">
		    					<img src="img/info.png" alt="{{ 'info_alt_title' | i18n }}" title="{{ 'info_alt_title' | i18n }}" ng-click="showInfo(10)">
		    				</div>
		    			</div>
				    	<div class="alert alert-info" ng-show="showInfo_10==true">{{ 'info_10' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(10)"><b>{{ 'info_close' | i18n }}</b></span></div>
				    </div>
					<div class="panel panel-default">
			  			<div class="panel-body">			
			  				<div ng-show="isSRFormVisible == true">
						  		<div ng-controller="InfoCtrl">
						  			<table  width="100%">
										<tr valign="bottom">
											<th width="30%">{{ 'comp_fam_res_municipality_title' | i18n }}</th>
											<th width="25%">{{ 'comp_fam_res_startdate' | i18n }}</th>
											<th width="25%">{{ 'comp_fam_res_enddate' | i18n }}</th>
											<th width="7%"><img src="img/info.png" alt="{{ 'info_alt_title' | i18n }}" title="{{ 'info_alt_title' | i18n }}" ng-click="showInfo(11)">{{ 'comp_fam_res_aire_title' | i18n }}</th>
											<th width="3%"></th>
											<th width="10%"></th>
										</tr>
										<tr>
											<td colspan="6"><div class="alert alert-info" ng-show="showInfo_11==true">{{ 'info_11' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(11)"><b>CHIUDI</b></span></div></td>
										</tr>
									</table>
								</div>
								<table  width="100%">		
									<tr>
										<td width="30%">
											<select id="fam_municipality" name="pFamMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="sr.idComuneResidenza">
							  					<option value="">{{ 'comp_fam_res_municipality_select' | i18n }}</option>
											</select>
							    		</td>
										<td width="25%">
						  					<input id="fromDate" name="pFromDate" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="sr.dataDa" is-open="rStoricoResFromDate.open" ng-click="rStoricoResFromDate.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" />
											<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFromDate.$error.pattern">{{ 'comp_fam_res_startdate_error_pattern' | i18n }}</div>
											<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFromDate.$error.required">{{ 'comp_fam_res_startdate_error_required' | i18n }}</div>
							    		</td>
							    		<td width="25%">
											<input id="toDate" name="pToDate" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="sr.dataA" is-open="rStoricoResToDate.open" ng-click="rStoricoResToDate.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" />
											<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pToDate.$error.pattern">{{ 'comp_fam_res_enddate_error_pattern' | i18n }}</div>
											<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pToDate.$error.required">{{ 'comp_fam_res_enddate_error_required' | i18n }}</div>
										</td>
										<td width="7%" align="center">
											<input type="checkbox" id="is_aire" ng-model="sr.isAire" name="pFamAireMunicipality" class="form-control">
							    		</td>
										<td width="3%">
											&nbsp;
										</td>
										<td width="10%" align="right"><button type="button" class="btn btn-success" ng-click="addStoricoRes(sr, ft.content)" alt="{{ 'comp_fam_add_period_text' | i18n }}" title="{{ 'comp_fam_add_period_text' | i18n }}">&nbsp;<i class="glyphicon glyphicon-plus icon-white"></i>&nbsp;</button></td><!-- {{ 'comp_fam_add_period_text' | i18n }} -->
									</tr>
									<tr ng-show="(isErrorStoricoRes==true)">
										<td colspan="6"><div class="alert alert-danger">{{ errorsMessageStoricoRes }}</div></td>
									</tr>
									<tr ng-show="(isErrorStoricoResOverlap==true)">
										<td colspan="6"><div class="alert alert-danger">{{ 'error_overlap_storico_res' | i18n }}</div></td>
									</tr>
								</table>
								&nbsp;
								<hr>
							</div>
					  		<table width="100%" ng-show="storicoResidenza.length > 0 && ft.content.variazioniComponente.anniResidenza != null"><!--  && ft.content.variazioniComponente.anniResidenza > 0 -->
								<tr>
									<th width="35%">{{ 'comp_fam_res_municipality_title' | i18n }}</th>
									<th width="20%">{{ 'comp_fam_res_startdate' | i18n }}</th>
									<th width="18%">{{ 'comp_fam_res_enddate' | i18n }}</th>
									<th width="12%" align="center">{{ 'comp_fam_residence_years_label' | i18n }}</th>
									<th width="15%"></th>
								</tr>
					  			<tbody class="animate-repeat" ng-repeat="s in storicoResidenza"> <!-- track by $index -->
								<tr>
									<td>
										<span ng-show="s.isAire == true">{{ 'comp_fam_res_historic_aire' | i18n }}</span>
										{{ getComuneById(s.idComuneResidenza,2) }}
							   		</td>
									<td>
							   			{{ (s.dataDa | date:'shortDate') }}
							   		</td>
							   		<td>
										{{ (s.dataA | date:'shortDate') }}
									</td>
									<td align="right">
										{{ s.difference | millisToYears }}
									</td>
									<td align="right">
										<button type="button" class="btn btn-default" ng-click="deleteStoricoRes(s, ft.content)" ng-show="isSRFormVisible == true">{{ 'comp_fam_res_historic_del' | i18n }}</button>
									</td>
								</tr>
								</tbody>
								<tr ng-show="storicoResidenza.length > 0"><td colspan="5"><hr></td></tr>
								<tr ng-show="storicoResidenza.length > 0">
									<td><b><p class="{{ textColorTotRes }}">{{ 'histor_residence_tot_label' | i18n }}</p></b></td>
									<td></td>
									<td></td>
									<td align="right"><b><p class="{{ textColorTotRes }}">{{ residenzaAnni }}</p></b></td>
									<td align="right">
										<button type="button" class="btn btn-default" ng-click="showSRForm(ft.content)" alt="{{ 'comp_fam_res_insert_edit' | i18n }}" title="{{ 'comp_fam_res_insert_edit' | i18n }}" ng-show="!isSRFormVisible"><i class="glyphicon glyphicon-pencil"></i></button>
										<button type="button" class="btn btn-default" ng-click="saveAndCloseSR(ft.content, ft.disability)" ng-show="isSRFormVisible == true">{{ 'ok_button' | i18n }}</button><!-- setSRFormVisible(false) -->
									</td>
								</tr>
							</table>
							<table width="100%" ng-show="storicoResidenza.length == 0 || ft.content.variazioniComponente.anniResidenza == null">
								<tr>
									<td colspan="4">{{ 'no_value_inserted_sr' | i18n }}</td>
									<td align="right">
										<button type="button" class="btn btn-default" ng-click="showSRForm(ft.content)" alt="{{ 'comp_fam_res_insert_edit' | i18n }}" title="{{ 'comp_fam_res_insert_edit' | i18n }}" ng-show="!isSRFormVisible"><i class="glyphicon glyphicon-pencil"></i></button>
										<button type="button" class="btn btn-default" ng-click="saveAndCloseSR(ft.content, ft.disability)" ng-show="isSRFormVisible == true">{{ 'ok_button' | i18n }}</button><!-- setSRFormVisible(false) -->
									</td>
								</tr>
							</table>
						</div>
					</div>
					<hr>
					
<!-- 					<div class="form-group" ng-show="isSRFormVisible != true"> -->
<!-- 						<div ng-controller="InfoCtrl"> -->
<!-- 							<div class="row"> -->
<!-- 		    					<div class="col-md-10"> -->
<!-- 		    						<label for="residence_years">{{ 'comp_fam_res_years_label_1' | i18n }}<u>{{ 'comp_fam_res_years_label_2' | i18n }}</u>: </label>{{ 'comp_fam_res_years_label_3' | i18n }} -->
<!-- 		    					</div> -->
<!-- 		    					<div class="col-md-2" align="right"> -->
<!-- 		    						<img src="img/info.png" alt="{{ 'info_alt_title' | i18n }}" title="{{ 'info_alt_title' | i18n }}" ng-click="showInfo(10)"> -->
<!-- 		    					</div> -->
<!-- 		    				</div> -->
<!-- 				    		<div class="alert alert-info" ng-show="showInfo_10==true">{{ 'info_10' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(10)"><b>{{ 'info_close' | i18n }}</b></span></div> -->
<!-- 				    	</div> -->
<!-- 				    	<table width="100%"> -->
<!-- 				   			<tr> -->
<!-- 				   				<td><input type="number" class="form-control" id="residence_years" placeholder="{{ 'comp_fam_residence_years_placeholder' | i18n }}" ng-model="ft.content.variazioniComponente.anniResidenza" min="0" ng-click="showSRForm(ft.content)" disabled ></td> -->
<!-- 				    			<td align="right"><button type="button" class="btn btn-default" ng-click="showSRForm(ft.content)" alt="{{ 'comp_fam_res_insert_edit' | i18n }}" title="{{ 'comp_fam_res_insert_edit' | i18n }}"><i class="glyphicon glyphicon-pencil"></i></button></td>{{ 'comp_fam_res_insert_edit' | i18n }} -->
<!-- 				    		</tr> -->
<!-- 				    	</table> -->
<!-- 				    </div> -->
					<div class="panel panel-default" ng-show="isALFormVisible == true">
			  			<div class="panel-heading">
			   				<h3 class="panel-title"><strong>{{ 'comp_fam_seniority_working_title' | i18n }}</strong></h3>
						</div>
			  			<div class="panel-body">
			  				<table  width="100%">
								<tr>
									<th>{{ 'comp_fam_seniority_working_years_label' | i18n }}</th>
									<th>{{ 'comp_fam_seniority_working_months_label' | i18n }}</th>
									<th><span ng-show="isDaysVisible == true">{{ 'comp_fam_seniority_working_days_label' | i18n }}</span></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<td>
			  							<input id="job_old_y" type="number" class="form-control" name="pJobOldY" placeholder="{{ 'comp_fam_seniority_working_years_placeholder' | i18n }}" min="0" ng-model="comp.anniLavoro" ng-pattern="onlyNumbers" ng-change="checkIsNumber(comp.anniLavoro)">
										<div class="alert alert-danger" ng-show="form.pJobOldY.$error.pattern">{{ 'only_numbers_error_pattern' | i18n }}</div>
						    		</td>
									<td>
			  							<input id="job_old_m" type="number" class="form-control" name="pJobOldM" placeholder="{{ 'comp_fam_seniority_working_months_placeholder' | i18n }}" min="0" max="12" ng-model="comp.mesiLavoro" ng-pattern="onlyNumbers" ng-change="checkMonths(comp.mesiLavoro)">
										<div class="alert alert-danger" ng-show="form.pJobOldM.$error.pattern" >{{ 'only_numbers_error_pattern' | i18n }}</div>
						    		</td>
									<td>
										<div ng-show="isDaysVisible == true"><input id="job_old_d" type="number" class="form-control" name="pJobOldD" placeholder="{{ 'comp_fam_seniority_working_days_placeholder' | i18n }}" min="0" max="31" ng-model="comp.giorniLavoro" ng-pattern="onlyNumbers" ng-change="checkIsNumber(comp.giorniLavoro)">
										<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pJobOldD.$error.pattern" >{{ 'only_numbers_error_pattern' | i18n }}</div></div>
									</td>
									<td>&nbsp;</td>
									<td align="right"><button type="button" class="btn btn-default" ng-click="resetAnzianita(comp, ft.content, ft.disability)">{{ 'comp_del_struct_button_create' | i18n }}</button></td>
									<td align="right"><button type="button" class="btn btn-default" ng-click="calcolaAnzianitaLav(comp, ft.content, ft.disability)">{{ 'ok_button' | i18n }}</button></td><!-- {{ 'comp_fam_years_count_text' | i18n }} -->
								</tr>
								<tr ng-show="isNoNumberError">
									<td colspan="6"><div class="alert alert-danger" >{{ 'only_numbers_error_pattern' | i18n }}</div></td>
								</tr>
								<tr>
									<td colspan="6">&nbsp;</td>
								</tr>
<!-- 								<tr>			 -->
<!-- 						   			<td></td> -->
<!-- 						   			<td></td> -->
<!-- 						   			<td></td> -->
<!-- 						   			<td align="center"></td> -->
<!-- 						   			<td align="right"><button type="button" class="btn btn-default" ng-click="hideALForm()">{{ 'annulla_button_res' | i18n }}</button></td> -->
<!-- 						   		</tr> -->
						   	</table>
			  			</div>
					</div>
				   	<div class="form-group" ng-show="isALFormVisible != true">
				   		<div ng-controller="InfoCtrl">
				   			<div class="row">
		    					<div class="col-md-10">
		    						<label for="job_old">{{ 'comp_fam_seniority_working_label' | i18n }}: </label>
		    					</div>
		    					<div class="col-md-2" align="right">
		    						<img src="img/info.png" alt="{{ 'info_alt_title' | i18n }}" title="{{ 'info_alt_title' | i18n }}" ng-click="showInfo(12)">
		    					</div>
		    				</div>
				   			<div class="alert alert-info" ng-show="showInfo_12==true">{{ 'info_12' | i18n }}<a target="_blank" href="http://www.inps.it">www.inps.it</a>.<br> {{ 'info_12a0' | i18n }}
				   				<ol>
				   					<li>{{ 'info_12a' | i18n }}</li>
				   					<li>{{ 'info_12b' | i18n }}</li>
				   					<li>{{ 'info_12c' | i18n }}</li>
				   					<li>{{ 'info_12d' | i18n }}</li>
				   					<li>{{ 'info_12e' | i18n }}</li>
				   					<li>{{ 'info_12f' | i18n }}</li>
				   					<li>{{ 'info_12g' | i18n }}</li>
				   					<li>{{ 'info_12h' | i18n }}</li>
				   					<li>{{ 'info_12i' | i18n }}</li>
				   				</ol>
				   				&nbsp;&nbsp;<span ng-click="hideInfo(12)"><b>{{ 'info_close' | i18n }}</b></span>
				   			</div>
				   		</div>
				   		<table width="100%">
				   			<tr>
				   				<td><input id="job_old" type="number" class="form-control" name="pJobOld" placeholder="{{ 'comp_fam_seniority_working_placeholder' | i18n }}" ng-model="ft.content.variazioniComponente.anniLavoro" ng-click="showALForm(ft.content.variazioniComponente.anniLavoro)" disabled></td>
				   				<td align="right"><button type="button" class="btn btn-default" ng-click="showALForm(ft.content.variazioniComponente.anniLavoro)" alt="{{ 'comp_fam_res_insert_edit' | i18n }}" title="{{ 'comp_fam_res_insert_edit' | i18n }}"><i class="glyphicon glyphicon-pencil"></i></button></td><!-- {{ 'comp_fam_res_insert_edit' | i18n }} -->
				   			</tr>
				   		</table>   	
				   	</div>
				</div>
			</div>
			
			<div class="panel panel-default" ng-show="isDisFormVisible == true">
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>{{ 'comp_fam_invalidity_title' | i18n }}</strong></h3>
				</div>
			  	<div class="panel-body">
<!-- 			  		<div class="form-group"> -->
<!-- 					    <label for="no_dis">{{ 'comp_fam_no_invalidity_label' | i18n }}: </label> -->
<!-- 					    <input type="radio" ng-model="invalid_age" value="noDis" id="no_dis"> -->
<!-- 					</div> -->
<!-- 			  		<div class="form-group" ng-show="anniComp < 18"> -->
<!-- 					    <label for="under_18">{{ 'comp_fam_under18_invalidity_label' | i18n }}: </label> -->
<!-- 					    <input type="radio" ng-model="invalid_age" value="under18" id="under_18"> -->
<!-- 					</div> -->
<!-- 					<div class="form-group" ng-show="invalid_age=='under18'"> -->
<!-- 					   	<label for="family_invalid_cat">{{ 'comp_fam_invalidity_cat_label' | i18n }}:</label> -->
<!-- 						<select id="family_invalid_cat" name="pFamilyInvalidCat" class="form-control" ng-options="d.value as d.name for d in disabilities_under18" ng-model="ft.disability.catDis">ft.content.variazioniComponente.categoriaInvalidita  ng-required="invalid_age=='under18'" -->
<!-- 							<option value="">{{ 'comp_fam_invalidity_def_value' | i18n }}.</option> -->
<!-- 						</select> -->
<!-- 						<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyInvalidCat.$error.required">{{ 'comp_fam_invalidity_error_required' | i18n }}.</div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group" ng-show="anniComp >= 18 && anniComp < 65"> -->
<!-- 					    <label for="between_18_65">{{ 'comp_fam_18_65_invalidity_label' | i18n }}</label> -->
<!-- 					    <input type="radio" ng-model="invalid_age" value="between1865" id="between_18_65"> -->
<!-- 					</div> -->
<!-- 				  	<div class="form-group" ng-show="invalid_age=='between1865'"> -->
<!-- 					    <label for="mem_disability">{{ 'comp_fam_invalidity_level_label' | i18n }}: </label> -->
<!-- 					    <input type="number" class="form-control" id="mem_disability" name="pMemDisability" min="0" max="100" placeholder="{{ 'comp_fam_invalidity_level_def_value' | i18n }}" ng-model="ft.disability.gradoDis" ng-pattern="onlyNumbers"> ng-required="invalid_age=='between1865'" -->
<!-- 					   	<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pMemDisability.$error.onlyNumbers">{{ 'only_numbers_error_pattern' | i18n }}</div>						ft.content.variazioniComponente.gradoInvalidita -->
<!-- 					   	<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pMemDisability.$error.required">{{ 'comp_fam_invalidity_level_error_required' | i18n }}.</div> -->
<!-- 						<div class="alert alert-danger" ng-show="(initFamForm()!=true) && !form.pMemDisability.$valid">{{ 'comp_fam_invalidity_level_error_valid' | i18n }}.</div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group" ng-show="anniComp >= 65"> -->
<!-- 					    <label for="over_65">{{ 'comp_fam_over65_invalidity_label' | i18n }}: </label> -->
<!-- 					    <input type="radio" ng-model="invalid_age" value="over65" id="over_65"> -->
<!-- 					</div> -->
<!-- 					<div class="form-group" ng-show="invalid_age=='over65'"> -->
<!-- 					   	<label for="family_invalid_cat">{{ 'comp_fam_invalidity_cat_label' | i18n }}:</label> -->
<!-- 						<select id="family_invalid_cat" name="pFamilyInvalidCat" class="form-control" ng-options="d.value as d.name for d in disabilities_over65" ng-model="ft.disability.catDis" > ft.content.variazioniComponente.categoriaInvalidita ng-required="invalid_age=='over65'" -->
<!-- 							<option value="">{{ 'comp_fam_invalidity_def_value' | i18n }}.</option> -->
<!-- 						</select> -->
<!-- 						<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyInvalidCat.$error.required">{{ 'comp_fam_invalidity_error_required' | i18n }}.</div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 					    <label for="others_dis">{{ 'comp_fam_other_invalidity_label' | i18n }}: </label> -->
<!-- 					    <input type="radio" ng-model="invalid_age" value="others" id="others_dis"> -->
<!-- 					    <div class="panel panel-default" ng-show="invalid_age=='others'"> -->
<!-- 							<div class="panel-body"> -->
<!-- 							    <div class="form-group" ng-show="invalid_age=='others'"> -->
<!-- 								    <label for="blind">{{ 'comp_fam_blind_invalidity_label' | i18n }}</label> -->
<!-- 								    <input type="checkbox" id="blind" ng-model="ft.disability.cieco"> -->
<!-- 								</div> -->
<!-- 								<div class="form-group" ng-show="invalid_age=='others'"> -->
<!-- 								    <label for="mute">{{ 'comp_fam_mute_invalidity_label' | i18n }}</label> -->
<!-- 								    <input type="checkbox" id="mute" ng-model="ft.disability.sordoMuto"> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div>  -->

					<div class="form-group" ng-show="anniComp < 18">
				    	<label for="family_invalid_cat">{{ 'comp_fam_invalidity_cat_label' | i18n }}:</label>
						<!-- <input type="text" class="form-control" id="family_invalid_cat" name="pFamilyInvalidCat" placeholder="Seleziona Categoria di invalidit&agrave;" ng-model="ft.content.variazioniComponente.categoriaInvalidita" ng-required="invalid_age=='under18'" > -->
						<select id="family_invalid_cat" name="pFamilyInvalidCat" class="form-control" ng-options="d.value as d.name for d in disabilities_under18" ng-model="ft.disability.catDis" ng-required="invalid_age=='under18'">
				  			<option value="">{{ 'comp_fam_invalidity_def_value' | i18n }}.</option>
						</select>
						<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyInvalidCat.$error.required">{{ 'comp_fam_invalidity_error_required' | i18n }}.</div>
					</div>
					<div class="form-group" ng-show="anniComp >= 18 && anniComp < 65">
					    <label for="mem_disability">{{ 'comp_fam_invalidity_level_label' | i18n }}: </label>
					    <input type="number" class="form-control" id="mem_disability" name="pMemDisability" min="0" max="100" placeholder="{{ 'comp_fam_invalidity_level_def_value' | i18n }}" ng-model="ft.disability.gradoDis" ng-pattern="onlyNumbers" ng-required="invalid_age=='between1865'">
					   	<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pMemDisability.$error.onlyNumbers">{{ 'only_numbers_error_pattern' | i18n }}</div>
					   	<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pMemDisability.$error.required">{{ 'comp_fam_invalidity_level_error_required' | i18n }}.</div>
						<div class="alert alert-danger" ng-show="(initFamForm()!=true) && !form.pMemDisability.$valid">{{ 'comp_fam_invalidity_level_error_valid' | i18n }}.</div>
					</div>
				   	<div class="form-group" ng-show="anniComp >= 65">
				    	<label for="family_invalid_cat">{{ 'comp_fam_invalidity_cat_label' | i18n }}:</label>
						<!-- <input type="text" class="form-control" id="family_invalid_cat" name="pFamilyInvalidCat" placeholder="Seleziona Categoria di invalidit&agrave;" ng-model="ft.content.variazioniComponente.categoriaInvalidita" ng-required="invalid_age=='over65'" > -->
						<select id="family_invalid_cat" name="pFamilyInvalidCat" class="form-control" ng-options="d.value as d.name for d in disabilities_over65" ng-model="ft.disability.catDis" ng-required="invalid_age=='over65'" >
			   			<option value="">{{ 'comp_fam_invalidity_def_value' | i18n }}.</option>
			   			</select>
						<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyInvalidCat.$error.required">{{ 'comp_fam_invalidity_error_required' | i18n }}.</div>
				   	</div>
				   	<div class="form-group">
					    <div class="panel panel-default">
							<div class="panel-body">
							    <div class="form-group">
								    <label for="blind">{{ 'comp_fam_blind_invalidity_label' | i18n }}</label>
								    <input type="checkbox" id="blind" ng-model="ft.disability.cieco">
								</div>
								<div class="form-group">
								    <label for="mute">{{ 'comp_fam_mute_invalidity_label' | i18n }}</label>
								    <input type="checkbox" id="mute" ng-model="ft.disability.sordoMuto">
								</div>
							</div>
						</div>	
					</div>
<!-- 				<div class="form-group"> -->
<!-- 				   	<label for="family_invalid_agency">{{ 'comp_fam_invalidity_agency_label' | i18n }}:</label> -->
<!-- 					<input type="text" class="form-control" id="family_invalid_agency" name="pFamilyInvalidAgency" placeholder="{{ 'comp_fam_invalidity_agency_placeholder' | i18n }}" ng-model="enteInvalidita" required > -->
<!-- 					<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyInvalidAgency.$error.required">{{ 'comp_fam_invalidity_agency_error_required' | i18n }}</div> -->
<!-- 				</div> -->

					<table width="100%">
						<tr>			
					   		<td width="80%" align="right"><button type="button" class="btn btn-default" ng-click="resetDisabilita(ft)">{{ 'comp_del_struct_button_create' | i18n }}</button></td> <!-- <button type="button" class="btn btn-default" ng-click="resetDisabilita(ft.content)">Cancella</button> -->
					   		<td width="10%" align="right"><button type="button" class="btn btn-default" ng-click="hideDisForm(ft)">{{ 'annulla_button_res' | i18n }}</button></td>
					   		<td width="10%" align="right"><button type="button" class="btn btn-default" ng-click="calcolaCategoriaGradoDisabilita(ft)">{{ 'comp_fam_confirm_invalidity_text' | i18n }}</button></td>
					   	</tr>
					</table>
			  	</div>
			</div>
			<div class="panel panel-default" ng-show="isDisFormVisible != true">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>{{ 'comp_fam_invalidity_title' | i18n }}</strong></h3>
				</div>
				<div class="panel-body">
			   		<table width="100%">
			   			<tr>
			   				<th>{{ 'comp_fam_invalidity_cat_title' | i18n }}</th>
			   				<th>{{ 'comp_fam_invalidity_level_title' | i18n }}</th>
			   				<th>{{ 'comp_fam_invalidity_blind_title' | i18n }}</th>
			   				<th>{{ 'comp_fam_invalidity_mute_title' | i18n }}</th>
			   				<th></th>
			   			</tr>
			   			<tr>
			   				<td><span>{{ ft.disability.catDis  | codeToName: disabilities_all }}</span></td><!-- ng-if="invalid_age != 'noDis'" ft.content.variazioniComponente.categoriaInvalidita -->
			   				<td><span>{{ ft.disability.gradoDis }}</span></td><!-- ng-if="invalid_age != 'noDis'" ft.content.variazioniComponente.gradoInvalidita -->
			   				<td>{{ ft.disability.cieco | boolToString }}</td>
			   				<td>{{ ft.disability.sordoMuto | boolToString }}</td>
			   				<td align="right"><button type="button" class="btn btn-default" ng-click="showDisForm(ft)" alt="{{ 'comp_fam_res_insert_edit' | i18n }}" title="{{ 'comp_fam_res_insert_edit' | i18n }}" ><i class="glyphicon glyphicon-pencil"></i></button></td><!-- {{ 'comp_fam_res_insert_edit' | i18n }} -->
			   			</tr>
			   		</table>   	
			   	</div>
			</div>
			
			<div class="panel panel-default" >
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>{{ 'comp_fam_det_title_subform_all' | i18n }}</strong></h3>
				</div>
				<div class="panel-body">	
				   	<div class="form-group" ng-show="ft.content.persona.sesso != 'MASCHILE'">
				   		<div ng-controller="InfoCtrl">
				   			<div class="row">
					    		<div class="col-md-10">
					    			<label for="working_woman">{{ 'comp_fam_working_woman_label' | i18n }}:</label>
					    		</div>
<!-- 					    		<div class="col-md-2"> -->
<!-- 					    			<input type="checkbox" id="working_woman" ng-model="ft.content.variazioniComponente.donnaLavoratrice"> -->
<!-- 					    		</div> -->
					    		<div class="col-md-2" align="right">
					    			<img src="img/info.png" alt="{{ 'info_alt_title' | i18n }}" title="{{ 'info_alt_title' | i18n }}" ng-click="showInfo(13)">
					    		</div>
					    	</div>
					    	<div class="alert alert-info" ng-show="showInfo_13==true">{{ 'info_13' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(13)"><b>{{ 'info_close' | i18n }}</b></span></div>
					    </div>
					    <select id="working_woman" name="pWorkingWoman" class="form-control" ng-options="yn.value as yn.title for yn in yes_no_val" ng-model="ft.content.variazioniComponente.donnaLavoratrice" ng-change="updateComponenteVariazioni(ft.content, ft.disability, false)" ></select>
					</div>
					<!-- <div class="form-group"> -->
					<!-- <label for="family_guest">Ospite: (tolto perche mai usato)</label> -->
					<!-- <input type="checkbox" id="family_guest" ng-model="componenteTmpEdit.variazioniComponente.ospite"> -->
					<!-- </div> -->
					<div class="form-group">
				   		<div ng-controller="InfoCtrl">
				   			<div class="row">
					    		<div class="col-md-10">
					    			<label for="not_keeping_lodging">{{ 'comp_fam_not_at_home_label' | i18n }}: </label>
					    		</div>
<!-- 					    		<div class="col-md-6"> -->
<!-- 					    			<input type="checkbox" id="not_keeping_lodging" ng-model="ft.content.variazioniComponente.fuoriAlloggio"> -->
<!-- 					    		</div> -->
					    		<div class="col-md-2" align="right">
					    			<img src="img/info.png" alt="{{ 'info_alt_title' | i18n }}" title="{{ 'info_alt_title' | i18n }}" ng-click="showInfo(14)">
					    		</div>
					    	</div>
					    	<div class="alert alert-info" ng-show="showInfo_14==true">{{ 'info_14' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(14)"><b>{{ 'info_close' | i18n }}</b></span></div>
					    </div>
					    <select id="not_keeping_lodging" name="pNotKeepingLodging" class="form-control" ng-options="yn.value as yn.title for yn in yes_no_val" ng-model="ft.content.variazioniComponente.fuoriAlloggio" ng-change="updateComponenteVariazioni(ft.content, ft.disability, false)" ></select>		
					</div>
					<div class="form-group">
				    	<label for="family_comp_nationality">{{ 'comp_fam_citizenship_label' | i18n }}: </label>
				    	<input type="text" class="form-control" id="family_comp_nationality" name="pFamilyCompNationality" placeholder="{{ 'comp_fam_citizenship_def_value' | i18n }}" ng-model="ft.content.variazioniComponente.decsrCittadinanza" ng-blur="updateComponenteVariazioni(ft.content, ft.disability, false)">
<!-- 				   		<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyCompNationality.$error.required">Campo 'Cittadinanza' obbligatorio.</div> -->
				   		<div class="alert alert-danger" ng-show="showNationalityMessage == true">{{ 'comp_fam_citizenship_error_required' | i18n }}.</div>
				   	</div>
				</div>
			</div>
			<div class="panel panel-default" ng-show="ft.content.richiedente == true">
				<div class="panel-heading">
			   		<h3 class="panel-title"><strong>{{ 'comp_fam_det_title_subform_ric' | i18n }}</strong></h3>
				</div>
				<div class="panel-body">	  	
				    <div class="form-group" ng-show="ft.content.richiedente == true">
					   	<label for="fam_municipality">{{ 'comp_fam_res_city_label' | i18n }}: </label>
					  	<select id="fam_municipality" name="pFamMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="ft.content.variazioniComponente.idComuneResidenza"  ng-show="ft.content.variazioniComponente.idComuneResidenza!=null" ng-change="updateComponenteVariazioni(ft.content, ft.disability, false)"><!-- ng-required="ft.content.richiedente == true" -->
					   		<option value="">{{ getComuneById(ft.content.variazioniComponente.idComuneResidenza,2) }}</option>
					   	</select>
					   	<select id="fam_municipality1" name="pFamMunicipality1" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="ft.content.variazioniComponente.idComuneResidenza" ng-show="ft.content.variazioniComponente.idComuneResidenza==null" ng-change="updateComponenteVariazioni(ft.content, ft.disability, false)"><!-- ng-required="((ft.content.richiedente == true) && (ft.content.variazioniComponente.idComuneResidenza==null))" -->
					   		<option value="">{{ 'comp_fam_res_city_def_value' | i18n }}</option>
					   	</select>
						<!-- <option value="">{{ getComuneById(ft.content.variazioniComponente.idComuneResidenza,2) }}</option> -->
<!-- 					   	<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamMunicipality.$error.required">Campo 'Comune Residenza' obbligatorio.</div> -->
						<div class="alert alert-danger" ng-show="showMunicipalityMessage == true">{{ 'comp_fam_res_city_error_required' | i18n }}.</div>
					</div>
					<div class="form-group" ng-show="ft.content.richiedente == true">
				    	<label for="family_residence">{{ 'comp_fam_res_address_label' | i18n }}: </label>
				    	<input type="text" class="form-control" id="family_residence" name="pFamilyResidence" placeholder="{{ 'comp_fam_res_address_def_value' | i18n }}" ng-model="ft.content.variazioniComponente.indirizzoResidenza" ng-blur="updateComponenteVariazioni(ft.content, ft.disability, false)" ><!-- ng-required="ft.content.richiedente == true" -->
<!-- 				   		<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyResidence.$error.required">Campo 'Indirizzo Residenza' obbligatorio.</div> -->
				   		<div class="alert alert-danger" ng-show="showResidenceMessage == true">{{ 'comp_fam_res_address_error_required' | i18n }}.</div>
				   	</div>
				   	<div class="form-group" ng-show="ft.content.richiedente == true">
				    	<label for="family_civicnum">{{ 'comp_fam_res_civic_label' | i18n }}: </label>
				    	<input type="text" class="form-control" id="family_civicnum" name="pCivicNum" placeholder="{{ 'comp_fam_res_civic_def_value' | i18n }}" ng-model="ft.content.variazioniComponente.numeroCivico" ng-blur="updateComponenteVariazioni(ft.content, ft.disability, false)" ><!-- ng-required="ft.content.richiedente == true" -->
<!-- 				   		<div class="alert alert-danger" ng-show="!initFamForm() && form.pCivicNum.$error.required">Campo 'Numero civico' obbligatorio.</div> -->
				   		<div class="alert alert-danger" ng-show="showCivicMessage == true">{{ 'comp_fam_res_civic_error_required' | i18n }}.</div>
				   	</div>
				   	<div class="form-group" ng-show="ft.content.richiedente == true">
				    	<label for="family_mail">{{ 'comp_fam_mail_label' | i18n }}: </label>
				    	<input type="text" class="form-control" id="family_mail" name="pFamilyMail" placeholder="{{ 'comp_fam_mail_def_value' | i18n }}" ng-model="tmp_user.mail" ng-pattern="mailPattern" ng-change="checkMailPattern(tmp_user.mail, null, null, true)"  ng-blur="checkMergingMail(tmp_user.mail);checkMailPattern(tmp_user.mail,ft.content, ft.disability, false)"><!-- ng-required="ft.content.richiedente == true" -->
<!-- 				   		<div class="alert alert-danger" ng-show="!initFamForm() && form.pFamilyPhone.$error.pattern">Valore non corretto nel campo telefono. Inserire un valore numerico</div> -->
<!-- 				   		<div class="alert alert-danger" ng-show="!initFamForm() && form.pFamilyPhone.$error.required">Campo 'telefono' obbligatorio.</div> -->
						<div class="alert alert-danger" ng-show="showMailPatternMessage == true">{{ 'comp_fam_mail_error_pattern' | i18n }}.</div>
				   		<div class="alert alert-danger" ng-show="showMailMessage == true">{{ 'comp_fam_mail_error_required' | i18n }}.</div>
				   	</div>
				   	<div class="form-group" ng-show="ft.content.richiedente == true">
				    	<label for="family_phone">{{ 'comp_fam_phone_label' | i18n }}: </label>
				    	<input type="text" class="form-control" id="family_phone" name="pFamilyPhone" placeholder="{{ 'comp_fam_phone_def_value' | i18n }}" ng-model="ft.content.variazioniComponente.telefono"  ng-pattern="phonePattern" ng-change="checkPhonePattern(ft.content.variazioniComponente.telefono, null, null, true)" ng-blur="checkPhonePattern(ft.content.variazioniComponente.telefono, ft.content, ft.disability, false)"><!-- ng-required="ft.content.richiedente == true" -->
<!-- 				   		<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyPhone.$error.pattern">Valore non corretto nel campo telefono. Inserire un valore numerico</div> -->
<!-- 				   		<div class="alert alert-danger" ng-show="(initFamForm()!=true) && form.pFamilyPhone.$error.required">Campo 'telefono' obbligatorio.</div> -->
				   		<div class="alert alert-danger" ng-show="showPhonePatternMessage == true">{{ 'comp_fam_phone_error_pattern' | i18n }}.</div>
				   		<div class="alert alert-danger" ng-show="showPhoneMessage == true">{{ 'comp_fam_phone_error_required' | i18n }}.</div>
				   	</div>
<!-- 					<div class="form-group"> -->
<!-- 				    	<label for="family_note">Note:</label> -->
<!-- 				    	<textarea id="family_note" ng-model="ft.content.variazioniComponente.note"></textarea> -->
<!-- 				   	</div> -->
				</div>
			</div>	   	
<!-- 			<table width="100%"> -->
<!-- 				<tr>			 -->
<!-- 					<td><button type="button" class="btn btn-default" ng-click="prevFamilyTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{ 'text_btn_prec_comp' | i18n }}</button></td> -->
<!-- 					<td align="center"></td><button type="button" class="btn btn-default" ng-click="reset()">RESET</button> -->
<!-- 					<td align="right"><button type="button" class="btn btn-default" ng-click="nextFamilyTab(form.$invalid, ft.content, ft.disability, invalid_age)" alt="{{ 'text_btn_save_comp' | i18n }}" title="{{ 'text_btn_save_comp' | i18n }}">{{buttonNextLabelFamily}}&nbsp;<span class="glyphicon glyphicon-arrow-right" ng-hide="isArrowHide"></span></button></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td colspan="3"><hr></td> -->
<!-- 				</tr> -->
<!-- 			</table> -->

		<table width="100%">
			<tr>			
	   			<td>
	   				<button type="button" class="btn btn-primary" ng-click="prevTab()" ng-show="ft.index==1">
	   					<span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{ 'practice_goback_label' | i18n }}
	   				</button>
	   				<button type="button" class="btn btn-primary" ng-click="prevFamilyTab()" ng-show="ft.index!=1">
	   					<span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{ 'practice_goback_label' | i18n }}
	   				</button>
	   			</td>
	   			<td align="center"></td>
	   			<td align="right">
	   				<!-- <button type="button" class="btn btn-primary" ng-click="nextTab(false, 5, tmp_user.mail, null, null, null)" ng-show="allComponentsEdited == true">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button> -->
	   				<button type="button" class="btn btn-primary" ng-click="nextFamilyTab(form.$invalid, ft.content, ft.disability, invalid_age, tmp_user.mail, 1)" >{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button><!-- ng-show="allComponentsEdited == false" ng-disabled="lockNextCompButton==true" -->
	   			</td>
	   		</tr>
   		</table>

		</tab>
	</tabset>
	
<!-- 	<table width="100%"> -->
<!-- 		<tr>			 -->
<!--    			<td> -->
<!--    				<button type="button" class="btn btn-primary" ng-click="prevTab()" ng-show="ft.index==1"> -->
<!--    					<span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{ 'practice_goback_label' | i18n }} -->
<!--    				</button> -->
<!--    				<button type="button" class="btn btn-primary" ng-click="prevFamilyTab()" ng-show="ft.index!=1"> -->
<!--    					<span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{ 'practice_goback_label' | i18n }} -->
<!--    				</button> -->
<!--    			</td> -->
<!--    			<td align="center"></td> -->
<!--    			<td align="right"> -->
<!--    				<button type="button" class="btn btn-primary" ng-click="nextTab(false, 5, tmp_user.mail, null, null, null)" ng-show="allComponentsEdited == true">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button> -->
<!--    				<button type="button" class="btn btn-primary" ng-click="nextFamilyTab(form.$invalid, ft.content, ft.disability, invalid_age)" ng-show="allComponentsEdited == false">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button> -->
<!--    			</td> -->
<!--    		</tr> -->
<!--    	</table>	 -->
</form>