<form role="form" name="form" >
   	
	<div class="panel panel-default" ng-show="!isLoadingPSC">
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Componenti</strong></h3>
  		</div>
  		<div class="panel-body">
	   		<table width="100%">
	   			<tr>
					<th>Nome e Cognome</th>
					<th>data di nascita</th>
					<th>Parentela</th>
					<th>Stato Civile</th>
<!-- 					<th>Ospite</th> -->
<!-- 					<th>Fuori alloggio</th> -->
<!-- 					<th>Propriet&agrave;</th> -->
<!-- 					<th>Azioni</th> -->
				</tr>
				<tbody class="animate-repeat" ng-repeat="c in componenti">
				<tr>
					<td>{{ c.persona.nome }} {{c.persona.cognome }}</td>
					<td>{{ (c.persona.dataNascita | date:"dd/MM/yyyy") }}</td>
<!-- 					<td>{{ c.parentela | codeToName: affinities }}</td> -->
					<td>
						<select id="c_parentela" name="pParentela" ng-options="a.value as a.name for a in affinities" ng-model="c.parentela" ng-disabled="c.richiedente == true">
			    		<option value="">{{ c.parentela | codeToName: affinities }}</option>
			    		</select>
		    		</td>
<!-- 					<td>{{ c.statoCivile | codeToName: maritals }}</td> -->
					<td>
						<select id="c_sciv" name="pSCiv" ng-options="m.value as m.name for m in maritals" ng-model="c.statoCivile">
			    		<option value="">{{ c.statoCivile | codeToName: maritals }}</option>
			    		</select>
		    		</td>
<!-- 					<td>{{ c.variazioniComponente.ospite | boolToString }}</td> -->
<!-- 					<td>{{ c.variazioniComponente.fuoriAlloggio | boolToString }}</td> -->
<!-- 					<td></td> -->
<!-- 					<td><a ng-href="#/Practice/new/add" ng-click="editComponente(c)">modifica</a></td> -->
				</tr>
	   		</table>
	   		<hr>
	   		<table width="100%">
				<tr>			
		   			<td></td>
		   			<td></td>
		   			<td align="right"><button type="button" class="btn btn-primary" ng-click="salvaModificheSC()">Salva Modifiche</button></td>
		   		</tr>
   			</table>
		</div>
   	</div>
   	<div class="panel panel-default" ng-show="showEditComponents" >
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Dati Personali Componente</strong></h3>
  		</div>
  		<div class="panel-body">	
		   	<div class="form-group">
		    	<label for="residence_years">Numero anni di residenza:</label>&nbsp;
		    	<input type="number" class="form-control" id="residence_years" ng-model="componenteTmpEdit.variazioniComponente.anniResidenza" min="0" >
		    </div>
		    <div class="form-group">	
		    	<label for="residence_years_municipality">Numero anni di residenza nel comune in cui &egrave; ubicato l'alloggio: </label>&nbsp;
		   		<input id="residence_years_municipality" type="number" class="form-control" ng-model="componenteTmpEdit.variazioniComponente.anniResidenzaComune" >
		   	</div>
		   	<div class="form-group">
		    	<label for="job_old">Anzianit&agrave; lavorativa:</label>
		    	<input id="job_old" type="number" class="form-control" name="pJobOld" placeholder="Inserisci anzianita' lavorativa" ng-model="componenteTmpEdit.variazioniComponente.anniLavoro">
		   	</div>
		   	<div class="form-group" ng-show="componenteTmpEdit.persona.sesso != 'MASCHILE'">
			    <label for="working_woman">Donna lavoratrice:</label>
			    <input type="checkbox" id="working_woman" ng-model="componenteTmpEdit.variazioniComponente.donnaLavoratrice">
			</div>
			<div class="form-group">
			    <label for="family_guest">Ospite:</label>
			    <input type="checkbox" id="family_guest" ng-model="componenteTmpEdit.variazioniComponente.ospite">
			</div>
			<div class="form-group">
			    <label for="not_keeping_lodging">Non occupa l'alloggio:</label>
			    <input type="checkbox" id="not_keeping_lodging" ng-model="componenteTmpEdit.variazioniComponente.fuoriAlloggio">
			</div>
			<div class="form-group">
			    <label for="mem_dis_type">Categoria d'invalidit&agrave;:</label>
			    <select id="mem_dis_type" name="pMemDisType" class="form-control" ng-options="d.value as d.name for d in disabilities" ng-model="componenteTmpEdit.variazioniComponente.categoriaInvalidita">
		    		<option value="">Seleziona la categoria</option>
		    	</select>
			</div>
			<div class="form-group">
			    <label for="mem_disability">Grado d'invalidit&agrave;(%):</label>
			    <input type="number" class="form-control" id="mem_disability" name="pMemDisability" placeholder="Inserisci percentuale grado di invalidit&agrave;" ng-model="componenteTmpEdit.variazioniComponente.gradoInvalidita" ng-pattern="onlyNumbers">
			   	<div class="alert alert-danger" ng-show="!initForm() && form.pMemDisability.$error.onlyNumbers">Valore non corretto. Inserire un valore numerico</div>
			</div>
		    <div class="form-group">
			   	<label for="fam_municipality">Comune di Residenza:</label>
			  	<select id="fam_municipality" name="pFamMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuni" ng-model="componenteTmpEdit.variazioniComponente.idComuneResidenza" ng-required="showEditComponents">
		    		<option value="">Seleziona il comune</option>
		    	</select>
		    	<div class="alert alert-danger" ng-show="!initForm() && form.pFamMunicipality.$error.required">Campo 'Comune Residenza' obbligatorio.</div>
			</div>
			<div class="form-group">
		    	<label for="family_residence">Indirizzo di Residenza:</label>
		    	<input type="text" class="form-control" id="family_residence" name="pFamilyResidence" placeholder="Inserisci Indirizzo Residenza" ng-model="componenteTmpEdit.variazioniComponente.indirizzoResidenza" ng-required="showEditComponents" >
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyResidence.$error.required">Campo 'Indirizzo Residenza' obbligatorio.</div>
		   	</div>
		   	<div class="form-group">
		    	<label for="family_civicnum">Numero civico:</label>
		    	<input type="text" class="form-control" id="family_civicnum" name="pCivicNum" placeholder="Inserisci Numero civico" ng-model="componenteTmpEdit.variazioniComponente.numeroCivico" ng-required="showEditComponents" >
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pCivicNum.$error.required">Campo 'Numero civico' obbligatorio.</div>
		   	</div>
		   	<div class="form-group">
		    	<label for="family_phone">Telefono:</label>
		    	<input type="text" class="form-control" id="family_phone" name="pFamilyPhone" placeholder="Inserisci Numero di telefono" ng-pattern="onlyNumbers" ng-model="componenteTmpEdit.variazioniComponente.telefono" >
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pFamilyPhone.$error.onlyNumbers">Valore non corretto nel campo telefono. Inserire un valore numerico</div>
		   	</div>
		   	<div class="form-group">
			    <label for="family_richiedente">Richiedente:</label>
			    <input type="checkbox" id="family_richiedente" ng-model="componenteTmpEdit.richiedente" ng-disabled="true">
			</div>
		   	<div class="form-group" ng-show="!componenteTmpEdit.richiedente">
		    	<label for="applicant_affinity">Parentela:</label>
		    	<select id="applicant_affinity" name="pApplicantAffinity" class="form-control" ng-options="a.value as a.name for a in affinities" ng-model="componenteTmpEdit.parentela">
		    		<option value="">Seleziona parentela</option>
		    	</select>
		   	</div>
		   	<div class="form-group">
		    	<label for="applicant_marital_status">Stato civile:</label>
		    	<select id="applicant_marital_status" name="pApplicantMaritalStatus" class="form-control" ng-options="m.value as m.name for m in maritals" ng-model="componenteTmpEdit.statoCivile" >ng-required="showEditComponents"
		    		<option value="">Seleziona stato civile</option>
		    	</select>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pApplicantMaritalStatus.$error.required">Campo 'Stato civile' obbligatorio.</div>
		   	</div>
			<div class="form-group">
		    	<label for="family_note">Note:</label>
		    	<textarea id="family_note" ng-model="componenteTmpEdit.variazioniComponente.note"></textarea>
		   	</div>
		   	<hr>
		   	<table width="100%">
				<tr>			
		   			<td></td>
		   			<td align="center"><button  type="button" class="btn btn-default" ng-click="reset()">RESET</button></td>
		   			<td align="right"><button type="button" class="btn btn-primary" ng-click="salvaComponente(componenteTmpEdit)">Salva Membro</button></td>
		   		</tr>
   			</table>
		</div>
   	</div>
   	
   	<div class="panel panel-default" ng-show="isLoadingPSC">
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Componenti</strong></h3>
  		</div>
  		<div class="panel-body">
	  		<div class="row" style="height: 90px; margin-top: 20px">
				<div style="text-align: center">
					<img src="img/ajax-loader.gif" width="40" height="40" /><br>
					<h3>LOADING...</h3>
				</div>
			</div>
  		</div>
  	</div>	
	
	<table width="100%">
		<tr>			
   			<td><button type="button" class="btn btn-default" ng-click="prevTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
   			<td align="center"><button type="button" class="btn btn-default" ng-click="reset()">RESET</button></td>
   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextTab(form.$invalid, 4, null, null, null, null)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
   		</tr>
   	</table>	
</form>