<form role="form" name="form">
   	
   	<div class="panel panel-default" >
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Dettagli ICEF</strong></h3>
  		</div>
  		<div class="panel-body">
   	
	   		<div class="panel panel-default" id="forExtraUe" ng-show="!isUeCitizen()">
				<div class="panel-heading">
		    		<h5 class="panel-title"><strong>Sezione per Cittadini Extracomunitari</strong></h5>
		  		</div>
		  		<div class="panel-body">
					<table width="100%">
			   			<tr>
							<td>Permesso: </td>
							<td><strong>{{ extracomunitariType.permesso }}</strong></td>
						</tr>
						<tr>
							<td>Scadenza permesso di soggiorno: </td>
							<td><strong>{{ ( extracomunitariType.scadenzaPermessoSoggiorno | date:"dd/MM/yyyy") }}</strong></td>
						</tr>
						<tr>
							<td>Ricevuta Permesso (USERID): </td>
							<td><strong>{{ extracomunitariType.ricevutaPermessoSoggiorno }}</strong></td>
						</tr>
						<tr>
							<td>Lavoro: </td>
							<td><strong>{{ extracomunitariType.lavoro }}</strong></td>
						</tr>
					</table>				
				</div>
			</div>  	
		   	
		   	<table width="100%">
				<tr>
					<td width="60%">Residenza in Provincia di Trento (almeno 3 anni in via continuativa): </td>
					<td width="40%"><strong>{{ residenzaType.residenzaTN  | boolToString }}</strong></td>
				</tr>
				<tr>
					<td>Proprietario nell'ultimo triennio di alloggio adeguato: </td>
					<td><strong>{{ residenzaType.alloggioAdeguato | boolToString }}</strong></td>
				</tr>
				<tr>
					<td>Tipo di residenza: </td>
					<td><strong>{{ residenzaType.tipoResidenza | valueToTitle:rtypes_all }}</strong></td>
				</tr>
				<tr>
					<td>Numero componenti provenienti da strutture, enti, aziende residenziali di cura, assistenza, accoglienza, recupero o strutture carcerarie:</td>
					<td><strong>{{ residenzaType.numeroComponenti }}</strong></td>
				</tr>
			</table>
				<hr>
			<div class="panel panel-default" ng-show="(residenzaType.numeroComponenti > 0) && (isRecoveryStructVisible != true)">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Dettagli Componenti e Strutture</strong></h3>
				</div>
				<div class="panel-body">
				  	<table width="100%">
						<tr>
							<th>Componente</th>
							<th>Nome</th>
							<th>Luogo</th>
							<th>Dal </th>
							<th>Al</th>
						</tr>
						<tbody class="animate-repeat" ng-repeat="s in struttureRec">
						<tr>
							<td>
								{{ s.componenteName }}
							</td>
							<td>
								{{ s.structName }}
							</td>
							<td>
								{{ s.structPlace }}
							</td>
							<td>
								{{ (s.dataDa | date:"dd/MM/yyyy") }}
							</td>
							<td>
								{{ (s.dataA | date:"dd/MM/yyyy") }}
							</td>
						</tr>
						</tbody>
					</table>
					<hr>
					<table width="100%">
		   				<tr>
		   					<td align="right"><button type="button" class="btn btn-primary" ng-click="setRecoveryStruct(true)">Modifica</button></td>
		   				</tr>
		   			</table>
				</div>
			</div>	
			<div class="panel panel-default" id="forExtraUe" ng-show="isRecoveryStructVisible == true">
				<div class="panel-heading">
		    		<h3 class="panel-title">Dettagli Struttura di recupero</h3>
		  		</div>
		  		<div class="panel-body">
		  			<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>Componente 1</strong></h3>
						</div>
					  	<div class="panel-body">
				  			<div class="form-group">
								<label for="comp_name_struct">Nome e Cognome componente 1:</label>
								<input type="text" class="form-control" id="comp_name_struct" name="pStructUserName" placeholder="Inserisci nome e cognome componente" ng-model="strutturaRec.componenteName">
							</div>
				  		
				  			<table  width="100%">
								<tr>
									<th>Nome Struttura</th>
									<th>Luogo</th>
									<th>Dal </th>
									<th>Al</th>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<td>
										<input id="strutt_name" type="text" class="form-control"  name="pStructName" placeholder="Nome struttura" ng-model="strutturaRec.structName">
									</td>
									<td>
										<input id="strutt_place" type="text" class="form-control"  name="pStructPlace" placeholder="Luogo struttura" ng-model="strutturaRec.structPlace">
									</td>
									<td>
							  			<input type="date" class="form-control" id="fromDate" name="pFromDate1" placeholder="Inserisci data di inizio nel formato gg/MM/aaaa" ng-model="strutturaRec.dataDa" ><!-- ng-pattern="datePatternIt" -->
										<div class="alert alert-danger" ng-show="(fInitFam!=true) && form.pFromDate1.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
										<div class="alert alert-danger" ng-show="(fInitFam!=true) && form.pFromDate1.$error.required">Inserire un valore nel campo 'Data da'</div>
									</td>
									<td>
										<input type="date" class="form-control" id="toDate" name="pToDate1" placeholder="Inserisci data di fine nel formato gg/MM/aaaa" ng-model="strutturaRec.dataA" ><!-- ng-pattern="datePatternIt" -->
										<div class="alert alert-danger" ng-show="(fInitFam!=true) && form.pToDate1.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
										<div class="alert alert-danger" ng-show="(fInitFam!=true) && form.pToDate1.$error.required">Inserire un valore nel campo 'Data a'</div>
									</td>
									<td>
										&nbsp;
									</td>
									<td align="right"><button type="button" class="btn btn-primary" ng-click="addStoricoStruct(strutturaRec, 1)">Aggiungi Struttura</button></td>
								</tr>
								<tr>
									<td colspan="4"><div class="alert alert-danger" ng-show="(isErroreStoricoStruct==true)">{{ errorMessagesStoricoStruct }}</div></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="panel panel-default" ng-show="residenzaType.numeroComponenti == 2">	
						<div class="panel-heading">
							<h3 class="panel-title"><strong>Componente 2</strong></h3>
						</div>
					  	<div class="panel-body">
				  			<div class="form-group">
								<label for="comp_name_struct">Nome e Cognome componente 2:</label>
								<input type="text" class="form-control" id="comp_name_struct" name="pStructUserName" placeholder="Inserisci nome e cognome componente" ng-model="strutturaRec2.componenteName">
							</div>
				  		
				  			<table  width="100%">
								<tr>
									<th>Nome Struttura</th>
									<th>Luogo</th>
									<th>Dal </th>
									<th>Al</th>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<td>
										<input id="strutt_name2" type="text" class="form-control"  name="pStructName" placeholder="Nome struttura" ng-model="strutturaRec2.structName">
									</td>
									<td>
										<input id="strutt_place2" type="text" class="form-control"  name="pStructPlace" placeholder="Luogo struttura" ng-model="strutturaRec2.structPlace">
									</td>
									<td>
							  			<input type="date" class="form-control" id="fromDate2" name="pFromDate2" placeholder="Inserisci data di inizio nel formato gg/MM/aaaa" ng-model="strutturaRec2.dataDa" ><!-- ng-pattern="datePatternIt" -->
										<div class="alert alert-danger" ng-show="(fInitFam!=true) && form.pFromDate2.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
										<div class="alert alert-danger" ng-show="(fInitFam!=true) && form.pFromDate2.$error.required">Inserire un valore nel campo 'Data da'</div>
									</td>
									<td>
										<input type="date" class="form-control" id="toDate2" name="pToDate" placeholder="Inserisci data di fine nel formato gg/MM/aaaa" ng-model="strutturaRec2.dataA" ><!-- ng-pattern="datePatternIt" -->
										<div class="alert alert-danger" ng-show="(fInitFam!=true) && form.pToDate2.$error.pattern">Valore non corretto. Inserire la data nel formato aaaa-MM-gg</div>
										<div class="alert alert-danger" ng-show="(fInitFam!=true) && form.pToDate2.$error.required">Inserire un valore nel campo 'Data a'</div>
									</td>
									<td>
										&nbsp;
									</td>
										<td align="right"><button type="button" class="btn btn-primary" ng-click="addStoricoStruct(strutturaRec2, 2)">Aggiungi Struttura</button></td>
									</tr>
									<tr>
										<td colspan="4"><div class="alert alert-danger" ng-show="(isErroreStoricoStruct2==true)">{{ errorMessagesStoricoStruct2 }}</div></td>
									</tr>
								</table>
							</div>
						</div>	
						&nbsp;
							<div class="panel panel-default" ng-show="struttureRec.length > 0">
								<div class="panel-heading">
						  		<h3 class="panel-title"><strong>Storico Strutture</strong></h3>
							</div>
					  		<div class="panel-body">
							  	<table width="100%">
									<tr>
										<th>Componente</th>
										<th>Nome</th>
										<th>Luogo</th>
										<th>Dal </th>
										<th>Al</th>
										<th></th>
									</tr>
							  		<tbody class="animate-repeat" ng-repeat="s in struttureRec">
									<tr>
										<td>
											{{ s.componenteName }}
										</td>
										<td>
											{{ s.structName }}
										</td>
										<td>
											{{ s.structPlace }}
										</td>
										<td>
											{{ (s.dataDa | date:"dd/MM/yyyy") }}
										</td>
										<td>
											{{ (s.dataA | date:"dd/MM/yyyy") }}
										</td>
										<td>
											<button type="button" class="btn btn-primary" ng-click="deleteStoricoStruct(s)">Cancella</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<hr>
					<table width="100%">
						<tr>			
							<td><button type="button" class="btn btn-default" ng-click="hideRecoveryStruct()">Annulla</button></td>
							<td align="center"></td>
							<td align="right"><button type="button" class="btn btn-primary" ng-click="controllaStoricoStruct(struttureRec, residenzaType.numeroComponenti)">Salva</button></td>
						</tr>
					</table>
				</div>
			</div>	
		   	
			<hr>
			<div class="form=group" ng-show="getFamilyAllowaces()==false && tmpAmbitoTerritoriale==null"">
   				<label for="residence_ambito"><img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(7)">Preferenza ambito territoriale alloggio (l'alloggio sar&agrave; localizzato ad una distanza inferiore o pari a 15 km dal comune indicato): </label>
	    		<div class="alert alert-info" ng-show="(showInfo_7==true) && (tmpAmbitoTerritoriale==null)">{{ 'info_7' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(7)"><b>CHIUDI</b></span></div>
	    		<select id="residence_ambito" name="pAmbito" class="form-control" ng-options="a.idObj as a.descrizione for a in listaAmbiti" ng-model="practice.ambitoTerritoriale1" ><!-- ng-required="getFamilyAllowaces()==false" -->
	    			<option value="">Seleziona la preferenza per il comune in cui collocare l'alloggio</option>
	    		</select>
   			</div>
   			<div class="form=group" ng-show="getFamilyAllowaces()==false && tmpAmbitoTerritoriale!=null">
   				<label for="residence_ambito"><img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(7)">Preferenza ambito territoriale alloggio (l'alloggio sar&agrave; localizzato ad una distanza inferiore o pari a 15 km dal comune indicato): </label>
	    		<div class="alert alert-info" ng-show="(showInfo_7==true) && (tmpAmbitoTerritoriale!=null)">{{ 'info_7' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(7)"><b>CHIUDI</b></span></div>
	    		<select id="residence_ambito" name="pAmbito" class="form-control" ng-options="a.idObj as a.descrizione for a in listaAmbiti" ng-model="practice.ambitoTerritoriale1" ><!-- ng-required="getFamilyAllowaces()==false"  -->
	    			<option value="">Seleziona la preferenza per il comune in cui collocare l'alloggio</option>
<!-- 	    			<option value="">{{ myAmbito.descrizione }}</option> -->
	    		</select>
	    		<div class="alert alert-danger" ng-show="!initForm() && form.pAmbito.$error.required">Nessuna preferenza specificata. Selezionare un comune.</div>
   			</div>
<!--    			<span>{{ myAmbito.descrizione }}</span>   			 -->
		</div>
   	</div>
   	
   	<div class="panel panel-default" ng-show="getFamilyAllowaces()==true">
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Alloggio Occupato</strong></h3>
  		</div>
  		<div class="panel-body">	
		   	<div class="form-group">
		    	<label for="municipality">Comune Alloggio:</label>
		    	<select id="municipality" name="pMunicipality" class="form-control" ng-options="l.idObj as l.descrizione for l in listaComuniVallaganina" ng-model="alloggioOccupato.comuneAlloggio" ng-required="getFamilyAllowaces()==true">
		    		<option value="">Seleziona il comune</option>
		    	</select>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pMunicipality.$error.required">Campo 'Comune Alloggio' obbligatorio.</div>
		   	</div>
		   	<div class="form-group">
		    	<label for="lodging_address">Indirizzo Alloggio:</label>&nbsp;
		    	<input type="text" class="form-control" id="lodging_address" name="pAddress" ng-model="alloggioOccupato.indirizzoAlloggio" ng-required="getFamilyAllowaces()==true">
		    	<div class="alert alert-danger" ng-show="!initForm() && form.pAddress.$error.required">Campo 'Indirizzo Alloggio' obbligatorio.</div>
		    </div>
<!-- 		    <div class="form-group">	 -->
<!-- 		    	<label for="lodging_size">Superficie Alloggio (mq): (mai usata) </label>&nbsp; -->
<!-- 		   		<input type="number" class="form-control" id="lodging_size" name="pLodgingSize" placeholder="Inserisci superficie in metri quadrati" ng-model="alloggioOccupato.superficieAlloggio" min="0" ng-pattern="onlyNumbers" > -->
<!-- 		   		<div class="alert alert-danger" ng-show="!initForm() && form.pLodgingSize.$error.pattern">Valore inserito non numerico.</div> -->
<!-- 		   	</div> -->
<!-- 		   	<div class="form-group"> -->
<!-- 		    	<label for="rooms">Numero stanze:</label> -->
<!-- 		    	<input type="number" class="form-control" id="rooms" name="pRooms" placeholder="Inserisci numero stanze" ng-model="alloggioOccupato.numeroStanze" min="1" ng-pattern="onlyNumbers"> -->
<!--    				<div class="alert alert-danger" ng-show="!initForm() && form.pRooms.$error.min">Campo non corretto.Inserire un valore pi&ugrave; grande</div> -->
<!-- 		   		<div class="alert alert-danger" ng-show="!initForm() && form.pRooms.$error.pattern">Valore inserito non numerico.</div> -->
<!-- 		   	</div> -->
		   	<div class="form-group">
			    <img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(71)"><label for="contract_type">Tipo contratto:</label>
			    <div class="alert alert-info" ng-show="showInfo_71==true">{{ 'info_7b' | i18n }}<br>{{ 'info_8a' | i18n }}<br>{{ 'info_8b' | i18n }}<br>{{ 'info_8c' | i18n }}<ul><li>{{ 'info_8ca' | i18n }}</li><li>{{ 'info_8cb' | i18n }}</li><li>{{ 'info_8cc' | i18n }}</li></ul>&nbsp;&nbsp;<span ng-click="hideInfo(71)"><b>CHIUDI</b></span></div>
			    <select id="contract_type" name="pContract" class="form-control" ng-options="contract.value as contract.title for contract in contracts" ng-model="alloggioOccupato.tipoContratto" ng-required="getFamilyAllowaces()==true">
			    	<option value="">Seleziona il tipo di contratto</option>
			    </select>
			   	<div class="alert alert-danger" ng-show="!initForm() && form.pContract.$error.required">Campo 'Tipo contratto' obbligatorio.</div>
			</div>
		    <div class="form-group">
			   	<img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(72)"><label for="contract_date">Data Registrazione contratto:</label>
			  	<div class="alert alert-info" ng-show="showInfo_72==true"><img src="img/data_contratto1.png" alt="Esempio contatto cartaceo" title="Esempio contatto cartaceo"><br>&nbsp;<br><img src="img/data_contratto2.png" alt="Esempio contatto telematico" title="Esempio contatto telematico"><br>{{ 'info_7c' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(72)"><b>CHIUDI</b></span></div>
			  	<input type="date" class="form-control" id="contract_date" name="pContractDate" placeholder="Inserisci data stipulazione contratto nel formato gg/MM/aaaa" ng-model="alloggioOccupato.dataContratto" ng-required="getFamilyAllowaces()==true"><!-- ng-required="getFamilyAllowaces()==true" ng-pattern="datePattern" -->
				<div class="alert alert-danger" ng-show="!initForm() && form.pContractDate.$error.pattern">Valore non corretto. Inserire la data nel formato gg/MM/aaaa</div>
				<div class="alert alert-danger" ng-show="!initForm() && form.pContractDate.$error.required">Campo 'Data Registrazione contratto' obbligatoria</div>
			</div>
			<div class="form-group">
			    <img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(8)"><label for="contract_imp">Importo (mensile) canone del mese corrente: </label>
			    <div class="alert alert-info" ng-show="showInfo_8==true">{{ 'info_8' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(8)"><b>CHIUDI</b></span></div>
			    <input type="text" class="form-control" id="contract_imp" name="pContract_imp" placeholder="Inserisci importo in euro" ng-model="alloggioOccupato.importoCanone" min="0" ng-required="getFamilyAllowaces()==true" ng-pattern="decimalNumbers" ><!-- ng-pattern="onlyNumbers" -->
			   	<div class="alert alert-danger" ng-show="!initForm() && form.pContract_imp.$error.required">Campo 'Importo Canone' obbligatorio.</div>
				<div class="alert alert-danger" ng-show="form.pContract_imp.$error.pattern">Valore inserito non corretto. es: 300,50</div>
				<div class="alert alert-danger" ng-show="!initForm() && form.pContract_imp.$error.min">Valore inserito non corretto.</div>
			</div>
		</div>
   	</div>
   	
   	<table width="100%">			
   		<tr>
   			<td></td><!-- <button type="button" class="btn btn-default" ng-click="prevEditTab()" ng-show="tabIndex !== 0"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button> -->
   			<td align="center"></td><!-- <button  type="button" class="btn btn-default" ng-click="reset()">RESET</button> -->
   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextEditTab(form.$invalid, 2, alloggioOccupato, getFamilyAllowaces(), residenzaType, null)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
		</tr>
	</table>
</form>