<form role="form" name="form" >
   	
	<div class="panel panel-default" ng-show="!isLoadingAss" >
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Informazioni per l'assegnazione</strong></h3>
  		</div>
  		<div class="panel-body">
  			<table width="100%" ng_show="!edit_infoAssegnaz">
	   			<tr>
					<td width="50%"><img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(19)">Componenti Extra ICEF: <strong>{{ nucleo.componentiExtraIcef }}</strong></td>
					<td width="50%"><img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(20)">Alloggio Sbarrierato: <strong>{{ nucleo.alloggioSbarrierato | boolToString }}</strong></td>
				</tr>
<!-- 				<tr ng-show="getFamilyAllowaces()==false"> -->
<!-- 					<td>Numero Stanze da letto: <strong>{{ nucleo.numeroStanze }}</strong></td> -->
<!-- 					<td></td> -->
<!-- 				</tr> -->
	   		</table>
<!-- 		   	<div class="form-group" ng-show="getFamilyAllowaces()==false"> -->
<!-- 		    	<label for="family_room_num" ng_show="edit_infoAssegnaz">Numero Stanze da letto: </label> -->
<!-- 			    <input id="family_room_num" name="pRoomNumber" type="number"  class="form-control" ng-model="nucleo.numeroStanze" ng_show="edit_infoAssegnaz" ng-pattern="onlyNumbers"> -->
<!-- 			    <div class="alert alert-danger" ng-show="!initForm() && form.pRoomNumber.$error.pattern">Valore non corretto. Inserire un valore numerico</div> -->
<!-- 		   	</div> -->
		   	<div class="form-group" ng_show="edit_infoAssegnaz">
		    	<img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(19)"><label for="family_extraIcefComp">Componenti Extra ICEF:</label>
			    <input id="family_extraIcefComp" name="pExtraIcef" type="number" class="form-control" ng-model="nucleo.componentiExtraIcef" ng-pattern="onlyNumbers">
			    <div class="alert alert-danger" ng-show="form.pExtraIcef.$error.pattern">Valore non corretto. Inserire un valore numerico</div>
		   	</div>
		   	<div class="form-group"  ng_show="edit_infoAssegnaz">
		    	<img src="img/info.png" alt="Visualizza Informazioni" title="Visualizza Informazioni" ng-click="showInfo(20)"><label for="family_home_no_barriers">Alloggio Sbarrierato: (in caso di disabile non deambulante)</label>
			    <input id="family_home_no_barriers" type="checkbox" ng-model="nucleo.alloggioSbarrierato">
		   	</div>
			<table width="100%" ng-show="!edit_infoAssegnaz">
				<tr>			
		   			<td></td>
		   			<td></td>
		   			<td align="right"><button type="button" class="btn btn-primary" ng-click="edit_info()">Modifica Info</button></td>
		   		</tr>
   			</table>
		   	<table width="100%" ng-show="edit_infoAssegnaz">
				<tr>			
		   			<td><button type="button" class="btn btn-default" ng-click="close_edit_info()">Annulla</button></td>
		   			<td align="center"></td>
		   			<td align="right"><button type="button" class="btn btn-primary" ng-click="save_info(nucleo)">Salva Info</button></td>
		   		</tr>
   			</table>
		</div>
   	</div>
   	<div class="alert alert-info" ng-show="showInfo_19==true">{{ 'info_19' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(19)"><b>CHIUDI</b></span></div>
   	<div class="alert alert-info" ng-show="showInfo_20==true">{{ 'info_20' | i18n }}&nbsp;&nbsp;<span ng-click="hideInfo(20)"><b>CHIUDI</b></span></div>
   	<div class="panel panel-default" ng-show="isLoadingAss">
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Informazioni per l'asegnazione</strong></h3>
  		</div>
  		<div class="panel-body">
  			<div class="row" style="height: 90px; margin-top: 20px">
				<div style="text-align: center">
					<img src="img/ajax-loader.gif" width="40" height="40" /><br>
					<h3>LOADING...</h3>
				</div>
			</div>
  		</div>
  	</div>
	
	<table width="100%">
		<tr>			
   			<td><button type="button" class="btn btn-default" ng-click="prevTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
   			<td align="center"></td>
   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextEditTab(form.$invalid, 6, null, null, null, null)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
   		</tr>
   	</table>	
</form>