<form role="form" name="form">
   	
   	<div class="panel panel-default" >
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>{{ 'sale_title_form' | i18n }}</strong></h3>
  		</div>
  		<div class="panel-body">
   	
	   		<div class="panel panel-default">
				<div class="panel-heading">
		    		<h5 class="panel-title"><strong>{{ 'warning_title_subform' | i18n }}</strong></h5>
		  		</div>
		  		<div class="panel-body">
					{{ 'warning_info_text' | i18n }}
					<br>
					<img alt="Immagine" src="img/marcadabollo.gif">
				</div>
			</div>
<!-- 			<div class="form-group"> -->
<!-- 			  	<input type="text" id="datepicker"> -->
<!-- 			</div>   -->
		   	<div class="form-group">
		    	<label for="day">{{ 'sale_day_label' | i18n }}:</label>&nbsp;
		    	<input id="day" name="pGiorno" type="text" class="form-control" datepicker-popup="{{format}}" placeholder="{{getPlaceHolder()}}" ng-model="pagamento.giorno" is-open="rPagamentoGiorno.open" ng-click="rPagamentoGiorno.open = true" datepicker-options="dateOptions" current-text="{{ 'datepicker_button_today' | i18n }}" clear-text="{{ 'datepicker_button_canc' | i18n }}" close-text="{{ 'datepicker_button_close' | i18n }}" show-weeks="false" ng-change="checkFutureDate(pagamento.giorno, 5)" required />
<!-- 		    	<input type="date" class="form-control" name="pGiorno" id="day" ng-model="pagamento.giorno" placeholder="gg/MM/aaaa" required>ng-pattern="datePatternIt" -->
		    	<div class="alert alert-danger" ng-show="!initForm() && form.pGiorno.$error.required">{{ 'sale_day_error_required' | i18n }}</div>
		    	<div class="alert alert-danger" ng-show="!initForm() && form.pGiorno.$error.pattern">{{ 'sale_day_error_pattern' | i18n }}</div>
		    	<div class="alert alert-danger" ng-show="showFutureDateErrPay">{{ 'sale_day_error_futur_date' | i18n }}</div>
		    </div>
		    <div class="form-group">	
		    	<label for="time">{{ 'sale_time_label' | i18n }}: </label>&nbsp;
		   		<input type="text" class="form-control" name="pOra" id="time" ng-model="pagamento.ora" placeholder="HH:mm:ss" ng-pattern="timePattern" required>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pOra.$error.required">{{ 'sale_time_error_required' | i18n }}</div>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pOra.$error.pattern">{{ 'sale_time_error_pattern' | i18n }}</div>
		   	</div>
		   <div class="form-group">	
		    	<label for="id">{{ 'sale_id_label' | i18n }}: </label>&nbsp;
		   		<input type="text"class="form-control" name="pCf" id="id" ng-model="pagamento.cf" ng-pattern="onlyNumbers" ng-minlength="14" ng-maxlength="14" required>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pCf.$error.required">{{ 'sale_id_error_required' | i18n }}</div>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pCf.$error.maxlength">{{ 'sale_id_error_max' | i18n }}</div>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pCf.$error.minlength">{{ 'sale_id_error_min' | i18n }}</div>
		   	</div>
		</div>
   	</div>
   	
   	<table width="100%">			
   		<tr>
   			<td><button type="button" class="btn btn-primary" ng-click="prevEditTab()" ng-show="tabIndex !== 0"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{ 'practice_goback_label' | i18n }}</button></td>
   			<td align="center"></td>
   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextEditTab(form.$invalid, 8, null, null, null, null)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
		</tr>
	</table>
</form>