<form role="form" name="form" >
   	
	<div class="panel panel-default" ng-show="!isLoadingAss" >
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Recapito</strong></h3>
  		</div>
  		<div class="panel-body">
  			<table width="100%" ng_show="!edit_recapito">
	   			<tr>
					<td width="50%">Nominativo: <strong>{{ recapito.nominativo }}</strong></td>
					<td width="50%">Indirizzo: <strong>{{ recapito.indirizzo }}</strong></td>
				</tr>
				<tr>
					<td>Cap: <strong>{{ recapito.cap }}</strong></td>
					<td>Localit&agrave;: <strong>{{ recapito.localita }}</strong></td>
				</tr>
				<tr>
					<td>Comune: <strong>{{ recapito.comune }}</strong></td>
					<td>Mail: <strong>{{ recapito.mail }}</strong></td>
				</tr>
				<tr>
					<td>Telefono: <strong>{{ recapito.telefono }}</strong></td>
					<td>Altro Telefono: <strong>{{ recapito.altroTelefono }}</strong></td>
				</tr>
				<tr>
					<td colspan="2">Note: <strong>{{ recapito.note }}</strong></td>
				</tr>
	   		</table>
	   		<div ng_show="edit_recapito">
		   	<div class="form-group">
		    	<label for="recapito_nominativo">Nominativo:</label>
			    <input id="recapito_nominativo" name="pRecNomin" type="text" class="form-control" ng-model="recapito.nominativo">
		   	</div>
		   	<div class="form-group">
		    	<label for="recapito_indirizzo">Indirizzo:</label>
			    <input id="recapito_indirizzo" name="pRecIndirizzo" type="text" class="form-control" ng-model="recapito.indirizzo">
		   	</div>
		   	<div class="form-group">
		    	<label for="recapito_cap">Cap:</label>
			    <input id="recapito_cap" name="pRecCap" type="text" class="form-control" ng-model="recapito.cap" ng-pattern="onlyNumbers" ng-minlength="5" ng-maxlength="5">
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pRecCap.$error.pattern">Valori inseriti non permessi, inserire solo cifre.</div>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pRecCap.$error.maxlength">Numero cifre superiore a 5: inserire il cap corretto.</div>
		   		<div class="alert alert-danger" ng-show="!initForm() && form.pRecCap.$error.minlength">Numero cifre inferiore a 5: inserire il cap corretto.</div>
		   	</div>
		   	<div class="form-group">
		    	<label for="recapito_comune">Comune:</label>
			    <input id="recapito_comune" name="pRecComune" type="text" class="form-control" ng-model="recapito.comune">
		   	</div>
		   	<div class="form-group">
		    	<label for="recapito_mail">Mail:</label>
			    <input id="recapito_mail" name="pRecMail" type="text" class="form-control" ng-model="recapito.mail" ng-pattern="mailPattern">
			    <div class="alert alert-danger" ng-show="!initForm() && form.pRecMail.$error.pattern">Campo 'email' non corretto. Inserire un indirizzo email esistente.</div>
		   	</div>
		   	<div class="form-group">
		    	<label for="recapito_phone">Telefono:</label>
			    <input id="recapito_phone" name="pRecPhone" type="text" class="form-control" ng-model="recapito.phone" ng-pattern="phonePattern">
			    <div class="alert alert-danger" ng-show="!initForm() && form.pRecMail.$error.pattern">Campo 'telefono' non corretto. Inserire un telefono esistente.</div>
		   	</div>
		   	<div class="form-group">
		    	<label for="recapito_otherPhone">Altro Telefono:</label>
			    <input id="recapito_otherPhone" name="pRecOtherPhone" type="text" class="form-control" ng-model="recapito.otherPhone" ng-pattern="phonePattern">
			    <div class="alert alert-danger" ng-show="!initForm() && form.pRecMail.$error.pattern">Campo 'altro telefono' non corretto. Inserire un telefono esistente.</div>
		   	</div>
		   	</div>
			<table width="100%" ng-show="!edit_infoAssegnaz">
				<tr>			
		   			<td></td>
		   			<td></td>
		   			<td align="right"><button type="button" class="btn btn-primary" ng-click="edit_info()">Modifica Info</button></td>
		   		</tr>
   			</table>
		   	<table width="100%" ng-show="edit_infoAssegnaz">
				<tr>			
		   			<td><button type="button" class="btn btn-default" ng-click="close_edit_info()">Annulla</button></td>
		   			<td align="center"></td>
		   			<td align="right"><button type="button" class="btn btn-primary" ng-click="save_info(nucleo)">Salva Info</button></td>
		   		</tr>
   			</table>
		</div>
   	</div>
   	<div class="panel panel-default" ng-show="isLoadingAss">
   		<div class="panel-heading">
    		<h3 class="panel-title"><strong>Informazioni per l'asegnazione</strong></h3>
  		</div>
  		<div class="panel-body">
  			<div class="row" style="height: 90px; margin-top: 20px">
				<div style="text-align: center">
					<img src="img/ajax-loader.gif" width="40" height="40" /><br>
					<h3>LOADING...</h3>
				</div>
			</div>
  		</div>
  	</div>
	
	<table width="100%">
		<tr>			
   			<td><button type="button" class="btn btn-default" ng-click="prevTab()"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Indietro</button></td>
   			<td align="center"></td>
   			<td align="right"><button type="button" class="btn btn-primary" ng-click="nextTab(form.$invalid, 6, null, null, null, null)">{{buttonNextLabel}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button></td>
   		</tr>
   	</table>	
</form>