<div>
	<div class="container-fluid" style="padding-top: 2%">
		<div class="col-md-12" ng-controller="ConsoleCtrl" ng-init="ctGetAssEuProvv()">
			<div class="panel panel-success">
			   		<div class="panel-heading">
			    		<h3 class="panel-title"><strong>Alloggio Comunitari</strong></h3>
			  		</div>
			  		<div class="panel-body">
<!-- 			  			<tabset> -->
<!-- 							<tab  ng-repeat="tab in ProvvAllEuTabs" heading="{{ tab.title }}" active="tab.active" disabled="tab.disabled" select="setProvvIndex($index)"> -->
<!-- 								<br> -->
<!-- 								<div ng-include="tab.content"></div> -->
<!-- 							</tab> -->
<!-- 						</tabset> -->
						
<div class="container-fluid">
	<div class="col-md-12" ng-controller="ConsoleCtrl" ng-init="setFrameOpened(false);getAllCFMyWeb();initClassTabs(1)"><!-- ng-init="getPracticeData(params.id,2);clerSearch()" -->
		<div class="row" style="height: 200px; margin-top: 20px" ng-show="isLoading">
			<div style="text-align: center">
				<img src="img/ajax-loader.gif" width="70" height="70" /><br>
				<h2>{{ 'loading_text' | i18n }}...</h2>
			</div>
		</div>
<!-- 		<div class="panel panel-success" > -->
<!-- 			<div class="panel-heading"> -->
<!-- 				<h3 class="panel-title"><strong>{{ 'upload_option_title' | i18n }} Provvisoria - Alloggio Comunitari</strong></h3> -->
<!-- 			</div> -->
<!-- 			<div class="panel-body" align="center"> -->
				<div align="center" ng-show="isLoadClassVisible() || isLoadEpuVisible()">
					<table style="width: 100%">
						<tr ng-show="false">
							<td>
								Use Web Workers: (when available) <input type="checkbox" name="useworker" ><br />
								Use Transferrables: (when available) <input type="checkbox" name="xferable" ><br />
								Use readAsBinaryString: (when available) <input type="checkbox" name="userabs" checked><br>
								<div id="drop">Drop an XLS or XML (2003) file here to see sheet data.</div>
							</td>
						</tr>
						<tr>
							<td align="left" valign="middle" colspan="5">
								<!--<input type="file" name="attachment" class="custom-file-input" nv-file-select uploader="uploader" title="Seleziona un file" onchange="angular.element(this).scope().unlockMailButtonIF()"><br/> options="{url: 'upload/'}" ng-file-select="onFileSelect($files)" on-read-file="showContent($fileContent)" -->
								<input type="file" name="xlfile" id="xlf" class="custom-file-input" title="Seleziona un file" nv-file-select uploader="uploader" />
							</td>
						</tr>
						<tr>	
							<td align="left" valign="middle" colspan="5">
								<table class="table">
									<thead>
									    <tr>
									        <th width="50%">Nome File</th>
									        <th ng-show="uploader.isHTML5">Dimensione</th>
											<!-- <th ng-show="uploader.isHTML5">Progresso</th> -->
									        <th>Stato</th>
									        <th>Azioni</th>
									    </tr>
									</thead>
									<tbody>
									   <tr ng-repeat="item in uploader.queue">
									   	   <td><strong>{{ item.file.name }}</strong></td>
									       <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
									       <td class="text-center">
									        	<span ng-show="!item.isCancel && !item.isError"><i class="glyphicon glyphicon-ok"></i></span>
									            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
									            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
									       </td>
									       <td nowrap>
									       		<button type="button" class="btn btn-success btn-xs" ng-click="loadClassification(1);item.remove()" ng-show="isLoadClassVisible()">
                                        			<span class="glyphicon glyphicon-upload"></span> Carica
                                    			</button>
                                    			<button type="button" class="btn btn-success btn-xs" ng-click="loadClassification(2);item.remove()" ng-show="isLoadEpuVisible()">
                                        			<span class="glyphicon glyphicon-upload"></span> Carica
                                    			</button>
									            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
									                <span class="glyphicon glyphicon-trash"></span> Rimuovi
									            </button>
									       </td>
									   </tr>
									</tbody>
								</table>		
							</td>
						</tr>
					</table>
				</div>
				<div align="center" ng-show="isLoadedPracticeVisible()">	
					<div style="text-align: center" ng-show="isSendingMails">
						<img src="img/ajax-loader.gif" width="70" height="70" /><br>
						<h2><span>Invio Mail in corso...</span></h2>
					</div>
					<div ng-show="!isSendingMails">
					<table class="table">
						<thead>
							<tr>
								<th width="4%">Pos</th>
								<th width="20%">Id Pratica</th>
								<th width="25%">Nome Richiedente</th>
								<th width="20%">Mail</th>
								<th width="20%">Telefono</th>
								<th width="11%">Stato</th>
							</tr>
						</thead>
						<tbody ng-repeat="classData in provvClass  |  orderBy:'position' | startFrom:currentClassPage*maxClassPractices | limitTo:maxClassPractices">
						   <tr ng-show="classData.mail != null && classData.mail != ''">
						   	   <td>{{ classData.position }}</td>
						   	   <td>{{ classData.practiceId }}</td>
						       <td>{{ classData.ric }}</td>
						       <td>
						       		<span ng-hide="classData.mail == null || classData.mail == ''">{{ classData.mail }}</span>
						       		<span ng-show="classData.mail == null || classData.mail == ''">Non presente</span>
						       </td>
						       <td>
						       		
						       		<span ng-hide="classData.phone == null || classData.phone == ''">{{ classData.phone }}</span>
						       		<span ng-show="classData.phone == null || classData.phone == ''">Non presente</span>
						       </td>
						       <td>
						       		<div ng-hide="classData.mail == null || classData.mail == ''"> OK </div>
						       		<div ng-show="classData.mail == null || classData.mail == ''"> INCOMPLETO </div>										       		
						       <td> 
						   </tr>
						   <tr class="danger" ng-show="classData.mail == null || classData.mail == ''">
						   	   <td>{{ classData.position }}</td>
						   	   <td>{{ classData.practiceId }}</td>
						       <td>{{ classData.ric }}</td>
						       <td>
						       		<span ng-hide="classData.mail == null || classData.mail == ''">{{ classData.mail }}</span>
						       		<span ng-show="classData.mail == null || classData.mail == ''">Non presente</span>
						       </td>
						       <td>
						       		
						       		<span ng-hide="classData.phone == null || classData.phone == ''">{{ classData.phone }}</span>
						       		<span ng-show="classData.phone == null || classData.phone == ''">Non presente</span>
						       </td>
						       <td>
						       		<div ng-hide="classData.mail == null || classData.mail == ''"> OK </div>
						       		<div ng-show="classData.mail == null || classData.mail == ''"> INCOMPLETO </div>										       		
						       <td> 
						    </tr>
						</tbody>
					</table>
					<button class="btn btn-primary"
							ng-disabled="currentClassPage == 0"
							ng-click="currentClassPage=currentClassPage-1">{{ 'previous_label' | i18n }}</button>
						{{currentClassPage+1}}/{{numberOfClassPages(1)}}
					<button class="btn btn-primary"
							ng-disabled="currentClassPage >= provvClass.length/maxClassPractices - 1"
							ng-click="currentClassPage=currentClassPage+1">{{ 'next_label' | i18n }}</button>
					</div>		
					<table style="width: 100%">		
						<tr>
							<td colspan="3" align="center">
								<hr>
							</td>
						</tr>
						<tr>
							<td align="center" valign="middle">
								<button class="btn btn-success"
								ng-click="setLoadClassVisible()">Ricarica Graduatoria</button>
							</td>
							<td align="center" valign="middle">
								<button class="btn btn-success"
								ng-click="setLoadEpuVisible()">Carica Dati Epu</button>
							</td>
							<td align="center" valign="middle">
								<button class="btn btn-success"
								ng-click="sendProvvMail(1)">Invia Mail</button>
							</td>
						</tr>
					</table>				
				</div>
				<div align="center" ng-show="isMailReportVisible() && sendMailResult!=null">	
					<table class="table">
						<thead>
							<tr>
								<th width="10%">Pos</th>
								<th width="20%">Id Pratica</th>
								<th width="40%">Nome Richiedente</th>
<!-- 								<th width="20%">Mail</th> -->
<!-- 								<th width="20%">Telefono</th> -->
								<th width="30%">Invio Mail</th>
							</tr>
						</thead>
						<tbody ng-repeat="mailMessage in sendMailResult  |  orderBy:'position' | startFrom:currentClassPage*maxClassPractices | limitTo:maxClassPractices">
						   <tr ng-show="mailMessage.esito == 'INVIO OK' ">
						   	   <td>{{ mailMessage.position }}</td>
						   	   <td>{{ mailMessage.id_pratica }}</td>
						       <td>{{ mailMessage.utente }}</td>
<!-- 						       <td> -->
<!-- 						       		<span ng-hide="classData.mail == null || classData.mail == ''">{{ classData.mail }}</span> -->
<!-- 						       		<span ng-show="classData.mail == null || classData.mail == ''">Non presente</span> -->
<!-- 						       </td> -->
<!-- 						       <td> -->
						       		
<!-- 						       		<span ng-show="classData.phone == null || classData.phone == ''">{{ classData.phone }}</span> -->
<!-- 						       		<span ng-show="classData.phone == null || classData.phone == ''">Non presente</span> -->
<!-- 						       </td> -->
						       <td>{{ mailMessage.esito }}<td> 
						   </tr>
						   <tr class="danger" ng-show="mailMessage.esito == 'ECCEZIONE INVIO'">
						   	   <td>{{ mailMessage.position }}</td>
						   	   <td>{{ mailMessage.id_pratica }}</td>
						       <td>{{ mailMessage.utente }}</td>
<!-- 						       <td> -->
<!-- 						       		<span ng-hide="classData.mail == null || classData.mail == ''">{{ classData.mail }}</span> -->
<!-- 						       		<span ng-show="classData.mail == null || classData.mail == ''">Non presente</span> -->
<!-- 						       </td> -->
<!-- 						       <td> -->
						       		
<!-- 						       		<span ng-show="classData.phone == null || classData.phone == ''">{{ classData.phone }}</span> -->
<!-- 						       		<span ng-show="classData.phone == null || classData.phone == ''">Non presente</span> -->
<!-- 						       </td> -->
						       <td>{{ mailMessage.esito }}<td> 
						    </tr>
						    <tr class="warning" ng-show="mailMessage.esito == 'NON INVIATA'">
						   	   <td>{{ mailMessage.position }}</td>
						   	   <td>{{ mailMessage.id_pratica }}</td>
						       <td>{{ mailMessage.utente }}</td>
<!-- 						       <td> -->
<!-- 						       		<span ng-hide="classData.mail == null || classData.mail == ''">{{ classData.mail }}</span> -->
<!-- 						       		<span ng-show="classData.mail == null || classData.mail == ''">Non presente</span> -->
<!-- 						       </td> -->
<!-- 						       <td> -->
						       		
<!-- 						       		<span ng-show="classData.phone == null || classData.phone == ''">{{ classData.phone }}</span> -->
<!-- 						       		<span ng-show="classData.phone == null || classData.phone == ''">Non presente</span> -->
<!-- 						       </td> -->
						       <td>{{ mailMessage.esito }}<td> 
						    </tr>
						</tbody>
					</table>
					<button class="btn btn-primary"
							ng-disabled="currentClassPage == 0"
							ng-click="currentClassPage=currentClassPage-1">{{ 'previous_label' | i18n }}</button>
						{{currentClassPage+1}}/{{numberOfClassPages(2)}}
					<button class="btn btn-primary"
							ng-disabled="currentClassPage >= mailMEssage.length/maxClassPractices - 1"
							ng-click="currentClassPage=currentClassPage+1">{{ 'next_label' | i18n }}</button>
<!-- 					<table style="width: 100%">		 -->
<!-- 						<tr> -->
<!-- 							<td colspan="3" align="center"> -->
<!-- 								<hr> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td align="center" valign="middle"> -->
<!-- 								<button class="btn btn-success" -->
<!-- 								ng-click="setLoadClassVisible()">Ricarica Graduatoria</button> -->
<!-- 							</td> -->
<!-- 							<td align="center" valign="middle"> -->
<!-- 								<button class="btn btn-success" -->
<!-- 								ng-click="setLoadEpuVisible()">Carica Dati Epu</button> -->
<!-- 							</td> -->
<!-- 							<td align="center" valign="middle"> -->
<!-- 								<button class="btn btn-success" -->
<!-- 								ng-click="sendProvvMail(1)">Invia Mail</button> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 					</table>				 -->
				</div>
				<div align="center" ng-show="isMailReportVisible() && sendMailResult==null">
					<h3>GRADUATORIA PROVVISORIA INVIATA AGLI UTENTI</h3>
				</div>
				<table>
					<tr>
						<td>
							<pre id="out" ng-model="provv_class_val" ng-show="false" >Testo...</pre><!--  -->
						</td>
					</tr>
				</table>									  		
<!-- 			</div> -->
<!-- 		</div> -->
	</div>
</div>
<script>
var X = XLS;
var XW = {
	/* worker message */
	msg: 'xls',
	/* worker scripts */
	rABS: './xlsworker2.js',
	norABS: './xlsworker1.js',
	noxfer: './xlsworker.js'
};

var rABS = typeof FileReader !== "undefined" && typeof FileReader.prototype !== "undefined" && typeof FileReader.prototype.readAsBinaryString !== "undefined";
if(!rABS) {
	document.getElementsByName("userabs")[0].disabled = true;
	document.getElementsByName("userabs")[0].checked = false;
}

var use_worker = typeof Worker !== 'undefined';
if(!use_worker) {
	document.getElementsByName("useworker")[0].disabled = true;
	document.getElementsByName("useworker")[0].checked = false;
}

var transferable = use_worker;
if(!transferable) {
	document.getElementsByName("xferable")[0].disabled = true;
	document.getElementsByName("xferable")[0].checked = false;
}

var wtf_mode = false;

function fixdata(data) {
	var o = "", l = 0, w = 10240;
	for(; l<data.byteLength/w; ++l) o+=String.fromCharCode.apply(null,new Uint8Array(data.slice(l*w,l*w+w)));
	o+=String.fromCharCode.apply(null, new Uint8Array(data.slice(l*w)));
	return o;
}

function ab2str(data) {
	var o = "", l = 0, w = 10240;
	for(; l<data.byteLength/w; ++l) o+=String.fromCharCode.apply(null,new Uint16Array(data.slice(l*w,l*w+w)));
	o+=String.fromCharCode.apply(null, new Uint16Array(data.slice(l*w)));
	return o;
}

function s2ab(s) {
	var b = new ArrayBuffer(s.length*2), v = new Uint16Array(b);
	for (var i=0; i != s.length; ++i) v[i] = s.charCodeAt(i);
	return [v, b];
}

function xw_noxfer(data, cb) {
	var worker = new Worker(XW.noxfer);
	worker.onmessage = function(e) {
		switch(e.data.t) {
			case 'ready': break;
			case 'e': console.error(e.data.d); break;
			case XW.msg: cb(JSON.parse(e.data.d)); break;
		}
	};
	var arr = rABS ? data : btoa(fixdata(data));
	worker.postMessage({d:arr,b:rABS});
}

function xw_xfer(data, cb) {
	var worker = new Worker(rABS ? XW.rABS : XW.norABS);
	worker.onmessage = function(e) {
		switch(e.data.t) {
			case 'ready': break;
			case 'e': console.error(e.data.d); break;
			default: xx=ab2str(e.data).replace(/\n/g,"\\n").replace(/\r/g,"\\r"); console.log("done"); cb(JSON.parse(xx)); break;
		}
	};
	if(rABS) {
		var val = s2ab(data);
		worker.postMessage(val[1], [val[1]]);
	} else {
		worker.postMessage(data, [data]);
	}
}

function xw(data, cb) {
	transferable = document.getElementsByName("xferable")[0].checked;
	if(transferable) xw_xfer(data, cb);
	else xw_noxfer(data, cb);
}

function get_radio_value( radioName ) {
	var radios = document.getElementsByName( radioName );
	for( var i = 0; i < radios.length; i++ ) {
		if( radios[i].checked || radios.length === 1 ) {
			return radios[i].value;
		}
	}
}

function to_json(workbook) {
	var result = {};
	workbook.SheetNames.forEach(function(sheetName) {
		var roa = X.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
		if(roa.length > 0){
			result[sheetName] = roa;
		}
	});
	return result;
}

function to_csv(workbook) {
	var result = [];
	workbook.SheetNames.forEach(function(sheetName) {
		var csv = X.utils.sheet_to_csv(workbook.Sheets[sheetName]);
		if(csv.length > 0){
			result.push("SHEET: " + sheetName);
			result.push("");
			result.push(csv);
		}
	});
	return result.join("\n");
}

function to_formulae(workbook) {
	var result = [];
	workbook.SheetNames.forEach(function(sheetName) {
		var formulae = X.utils.get_formulae(workbook.Sheets[sheetName]);
		if(formulae.length > 0){
			result.push("SHEET: " + sheetName);
			result.push("");
			result.push(formulae.join("\n"));
		}
	});
	return result.join("\n");
}

var tarea = document.getElementById('b64data');
function b64it() {
	if(typeof console !== 'undefined') console.log("onload", new Date());
	var wb = X.read(tarea.value, {type: 'base64',WTF:wtf_mode});
	process_wb(wb);
}

function process_wb(wb) {
	if(use_worker) XLS.SSF.load_table(wb.SSF);
	var output = "";
	switch(get_radio_value("format")) {
		case "json":
		output = JSON.stringify(to_json(wb), 2, 2);
			break;
		case "form":
			output = to_formulae(wb);
			break; 
		default:
		output = to_csv(wb);
	}
	if(out.innerText === undefined) out.textContent = output;
	else out.innerText = output;
	if(typeof console !== 'undefined') console.log("output", new Date());
}

var drop = document.getElementById('drop');
function handleDrop(e) {
	e.stopPropagation();
	e.preventDefault();
	rABS = document.getElementsByName("userabs")[0].checked;
	use_worker = document.getElementsByName("useworker")[0].checked;
	var files = e.dataTransfer.files;
	var f = files[0];
	{
		var reader = new FileReader();
		var name = f.name;
		reader.onload = function(e) {
			if(typeof console !== 'undefined') console.log("onload", new Date(), rABS, use_worker);
			var data = e.target.result;
			if(use_worker) {
				xw(data, process_wb);
			} else {
				var wb;
				if(rABS) {
					wb = X.read(data, {type: 'binary'});
				} else {
					var arr = fixdata(data);
					wb = X.read(btoa(arr), {type: 'base64'});
				}
			process_wb(wb);
			}
		};
		if(rABS) reader.readAsBinaryString(f);
		else reader.readAsArrayBuffer(f);
	}
}

function handleDragover(e) {
	e.stopPropagation();
	e.preventDefault();
	e.dataTransfer.dropEffect = 'copy';
}

if(drop.addEventListener) {
	drop.addEventListener('dragenter', handleDragover, false);
	drop.addEventListener('dragover', handleDragover, false);
	drop.addEventListener('drop', handleDrop, false);
}


var xlf = document.getElementById('xlf');
function handleFile(e) {
	rABS = document.getElementsByName("userabs")[0].checked;
	use_worker = document.getElementsByName("useworker")[0].checked;
	var files = e.target.files;
	var f = files[0];
	{
		var reader = new FileReader();
		var name = f.name;
		reader.onload = function(e) {
			if(typeof console !== 'undefined') console.log("onload", new Date(), rABS, use_worker);
			var data = e.target.result;
			if(use_worker) {
				xw(data, process_wb);
			} else {
				var wb;
				if(rABS) {
					wb = X.read(data, {type: 'binary'});
				} else {
					var arr = fixdata(data);
					wb = X.read(btoa(arr), {type: 'base64'});
				}
				process_wb(wb);
			}
		};
		if(rABS) reader.readAsBinaryString(f);
		else reader.readAsArrayBuffer(f);
	}
}

if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);
</script>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-36810333-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>						
						
			  		</div>
			</div>  		
		</div>
	</div>
</div>