<div class="well">
		<div class="container" align="center">
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">
			    		<h3 class="panel-title">{{ 'home_title-console' | i18n }}</h3>
			  		</div>
			  		<div class="panel-body" align="justify">
			  			Questa sezione del portale MyWeb &egrave; pensata per l'operatore che vuole controllare la correttezza delle richieste di contributo
			  			inserite dai cittadini via web. Nello specifico &egrave; possibile ricercare e visualizzare i dettagli di una o pi&ugrave; pratiche 
			  			improntando la ricerca in base al codice della pratica, al nome del richiedente o di un componente e al codice fiscale del richiedente o
			  			di uno dei componenti.
			  		</div>
		  		</div>
	  		</div>

		</div>
</div>