<div class="well">
		<div class="container-fluid" align="center">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
			    		<h3 class="panel-title">{{ 'home_title-console' | i18n }}</h3>
			  		</div>
			  		<div class="panel-body" align="justify">
			  			Questa sezione del portale MyWeb &egrave; pensata per l'operatore che vuole controllare la correttezza delle richieste di contributo
			  			inserite dai cittadini via web. Nello specifico &egrave; possibile ricercare e visualizzare i dettagli di una o pi&ugrave; pratiche 
			  			filtrando la ricerca in base al codice della pratica, al tipo della pratica, allo stato della pratica, al codice fiscale del richiedente
			  			o al giorno di apertura della pratica.
			  		</div>
		  		</div>
	  		</div>

		</div>
</div>